h1 Name: {{node.name}}
h2 type: {{node.labels.join()}}
h3 id: {{node.id}}
table(class="table table-condensed") 
	tr(ng-repeat="att in node.attributes")
		td(class="text-right") 
			strong {{att.key}}
		td {{att.value}}