h1 Name: {{node.data.name}}
h2 type: {{node.labels}}
h3 id: {{node.id}}
p Node: {{node.attributes}}
table 
    tr(ng-foreach="item in data")
        td {{item.value}}
        td {{item.value}}
    
    