.row
	.div(ng-class='getContentWidth()')
		.content_block
			span.visible-md.visible-lg
				.subnav
					ul.nav.nav-pills
						li
							a(href='#/quickGuide/') Quick Guide
						li
							a(href='#/browse/') Browse
						li.active
							a(href='#/search/') Search
						li
							a(href='#/advancedSearch/') Relationship Explorer
						li
							a(href='' class='inactive') Favorites
						li
							a(href='#/inTheLab/') In the Lab
				// end subnav
			span.visible-sm
				.subnav_sm
					ul.nav.nav-pills
						li
							a(href='#/quickGuide/') Quick Guide
						li
							a(href='#/browse/') Browse
						li.active
							a(href='#/search/') Search
						li
							a(href='#/advancedSearch/') Relationship Explorer
						li
							a(href='' class='inactive') Favorites
						li
							a(href='#/inTheLab/') In the Lab
				// end subnav
			//- .backlink
			//- 	span.glyphicon.glyphicon-circle-arrow-left
			//- 	| &nbsp;Back to search results
			// end backlink class
			//- .entity_name
			//- 	| &nbsp;{{node.name}}
			.nav_split
				.btn-group.btn-group-md.btn-group-justified
					.btn-group
						a.btn.btn-default(href="#/node/{{nodeId}}", id='btnDetails') Details
					.btn-group
						a.btn.btn-custom(href='#/linkage/{{nodeId}}', id='btnLinkageViewer') Relationship Viewer
				// end button group
			// end nav_split
			
			.detail_header_linkage_sm
				.share_button_linkage
					//These lines, 173 - 187, were added 
					//Single button 
					.btn-group
						button.btn.btn-default.dropdown-toggle.linkage_md(type='button', data-toggle='dropdown')
							span.glyphicon.glyphicon-share
							| &nbsp;Share&nbsp;
							span.caret
						ul.dropdown-menu(role='menu')
							li
								a(href='mailto:?subject={{node.name}}&body={{emailBlurb}}') Email
							li
								a(href='' ng-click='share([node.name, "#/linkage/{{nodeId}}"])' id='fb-root') Facebook
							li
								a(target='_blank' href='http://twitter.com/home?status=CDC iSurv Portal: {{node.name}}: {{twitterBlurb}}') Twitter
						//end added lines 
				label.btn.btn-default.pull-left.link_button1(id='btn_lv_reset')
					span.glyphicon.glyphicon-repeat.icon-flipped
					| Reset
				img.pull-left.small_divider(src='img/small_divider.png')
				label.btn.btn-default.pull-left.link_button5(id='btn_lv_lock')
					i.fa.fa-lock
					| Lock nodes
				label.btn.btn-default.pull-left.link_button4(id='btn_lv_hide' ng-disabled='disableHideLines')
					span.glyphicon.glyphicon-ban-circle
					| Hide lines
			.detail_header_linkage_sm2
				.cluster_sm
					.cluster_text_sm.pull-left
						| Organize by:&nbsp;
					.btn-group
						label.btn.btn-default.link_button6_md(id='btn_lv_activity' )
							i.fa.fa-gears
							| Activity type
						label.btn.btn-default.link_button7_md.disabled(id='btn_lv_relationship' )
							span.glyphicon.glyphicon-link
							| Relationship type&nbsp;
			// end detail header	
				
			.top_block2
				.hide_activity
					.hide_activity_label
						| Show activity type:
						span(ng-repeat='nodes in nodeArray')
							span.hide_activity_check(ng-if="nodes.show")
								input(type='checkbox' ng-change="hidenodes(\'{{nodes.nodeType}}\',nodes.checked)" ng-model="nodes.checked" ng-if="nodes.show")
								| &nbsp;{{nodes.displayName}} ({{nodes.count}})
				.block_linkage(ng-linkage-viewer)
					.vertical_spacing1
						//script(type="text/javascript", src="/app/d3/d3-linkage.js")
				// end block_linkage
				.key
					table.key_details
						tr
							td.key_td
								.blue_subhead Key:
							td.node_image_td
								img(src='img/node.png')
							td.node_text_td
								strong Node:
								|   Represents an activity, such as Program, System, Dataset,
								|  Data Standard, Health Survey, Tool, Registry, Organization, Tag, or Collaborative.
								| Activity types are differentiated by node color.
							td.white_line
								img(src='img/white_divider.png')  
							td.line_image_td
								img(src='img/line.png')
							td.line_text_td
								|  Represents the relationship between any two activities,
								|  such as oversees, manages, uses, shares data with, etc. The arrow indicates
								|  the direction of the relationship (e.g., the source to the recipient). 
				// end class key
				span.visible-lg.visible-md
					.legend
						table.legend_details
							tr
								td.legend_td
									.blue_subhead Legend:
								td.node_legend_image_td
									img.move_legend(src='img/node_ss.png')
									| Surveillance System
								td.node_legend_image_td
									img.move_legend(src='img/node_program.png')
									| Program
								td.node_legend_image_td
									img.move_legend(src='img/node_registry.png')
									| Registry
								td.node_legend_image_td
									img.move_legend(src='img/node_hs.png')
									| Health Survey
							tr
								td.legend_td
									.blue_subhead
								td.node_legend_image_td
									img.move_legend(src='img/node_tool.png')
									| Tool
								td.node_legend_image_td
									img.move_legend(src='img/node_dataset.png')
									| Dataset
								td.node_legend_image_td
									img.move_legend(src='img/node_ds.png')
									| Data Standard		
								td.node_legend_image_td
									img.move_legend(src='img/node_col.png')
									| Collaborative			
							tr
								td.legend_td
									.blue_subhead
								td.node_legend_image_td
									img.move_legend(src='img/node_org.png')
									| Organization
								td.node_legend_image_td
									img.move_legend(src='img/node_tag.png')
									| Tag
					// end class legend
				span.visible-sm
					.legend
						table.legend_details
							tr
								td.legend_td_sm
									.blue_subhead Legend:
								td.node_legend_image_td_sm_1
									img.move_legend(src='img/node_ss.png')
									| Surveillance System
								td.node_legend_image_td_sm_2
									img.move_legend(src='img/node_program.png')
									| Program
								td.node_legend_image_td_sm_3
									img.move_legend(src='img/node_registry.png')
									| Registry
								td.node_legend_image_td_sm_4
									img.move_legend(src='img/node_hs.png')
									| Health Survey
							tr
								td.legend_td_sm
									.blue_subhead
								td.node_legend_image_td_sm_1
									img.move_legend(src='img/node_tool.png')
									| Tool
								td.node_legend_image_td_sm_2
									img.move_legend(src='img/node_dataset.png')
									| Dataset
								td.node_legend_image_td_sm_3
									img.move_legend(src='img/node_ds.png')
									| Data Standard		
								td.node_legend_image_td_sm_4
									img.move_legend(src='img/node_col.png')
									| Collaborative			
							tr
								td.legend_td_sm
									.blue_subhead
								td.node_legend_image_td_sm_1
									img.move_legend(src='img/node_org.png')
									| Organization
								td.node_legend_image_td_sm_2
									img.move_legend(src='img/node_tag.png')
									| Tag
					// end class legend					
				span.visible-lg.visible-md
					.instructions_md_lg
						.blue_subhead Instructions:
						.left_bullets
							ul
								li.instruct
									| To 
									strong  view a node's relationships
									| , click on a
									| node name. This will bring it to the center of the graph. 
								li.instruct
									| To 
									strong  view more information 
									| about the center node, click the
									em  
										strong Details
									|  tab. 
								li.instruct
									| To
									strong  lock or reposition
									|  an individual node, click the node.
									| A black border will display around the node, and it will be locked in position. You may then drag the node to the desired position.
						// end class left_bullets
						.right_bullets
							ul
								li.instruct
									| To 
									strong lock all nodes
									| , click the 
									em 
										strong Lock nodes
									|  button. To release the nodes, simply click the button again, or click the 
									em
										strong Reset
									|  button.
								li.instruct
									| To
									strong  hide the lines
									|  in the graph, click the
									em
										strong  Hide lines
									|  button. To make them reappear, simply click the button again.	
								li.instruct
									| To 
									strong organize 
									|  the nodes by 
									strong  activity type
									| , click the 
									em
										strong  Activity type
									|  button. To disperse the nodes, simply click the button again.
								// li.instruct
								//	| To 
								//	strong cluster 
								//	|  the nodes by 
								//	strong  relationship type
								//	| , click the
								//	em
								//		strong  Relationship type
								//	|  button. To disperse the nodes, simply click the button again.
						// end class right_bullets
					// end class instructions
				// end lg md
				span.visible-sm
					.instructions
						.blue_subhead Instructions:
						.left_bullets
							ul
								li.instruct
									| To 
									strong  view a node's relationships
									| , click on a
									| node name. This will bring it to the center of the graph. 
								li.instruct
									| To 
									strong  view more information 
									| about the center node, click the
									em  
										strong Details
									|  tab. 
								li.instruct
									| To
									strong  lock or reposition
									|  an individual node, click the node.
									| A black border will display around the node, and it will be locked in position. You may then drag the node to the desired position.
								
						// end class left_bullets
						.right_bullets
							ul
								li.instruct
									| To 
									strong lock all nodes
									| , click the 
									em 
										strong Lock nodes
									|  button. To release the nodes, simply click the button again, or click the 
									em
										strong Reset
									|   button.
								li.instruct
									| To
									strong  hide the lines
									|  in the graph, click the
									em
										strong  Hide lines
									|  button. To make them reappear, simply click the button again.	
								li.instruct
									| To 
									strong organize 
									|  the nodes by 
									strong  activity type
									| , click the 
									em
										strong  Activity type
									|  button. To disperse the nodes, simply click the button again.
								// li.instruct
								//	| To 
								//	strong cluster 
								//	|  the nodes by 
								//	strong  relationship type
								//	| , click the
								//	em
								//		strong  Relationship type
								//	|  button. To disperse the nodes, simply click the button again.
						// end class right_bullets
					// end class instructions
				// end lg md	
			// end top_block2
		// end content block
	// end col spec
	//- .col-lg-3.col-md-3.col-sm-3
	//- 	.hx_side
	//- 		| Exploration History [placeholder]
	//- 	// end hx_side
	//- // end col spec
	.div(ng-class='getSidebarWidth()')
		.hx_side(ng-show='!showSidebar' ng-click='toggleSidebar()')
			div(ng-Historybar)
			//- .blue_side
			//- 	.blue_side_text
			//- 		| Your Exploration History:
			//- 	.sidebar_now
			//- 		div.sidebar_repeat(ng-Historybar)
			.button_side
				.sidebar_button
					img(src='img/tab_button_collapse.png', alt='Collapse sidebar')
		// end hx_side
		.hx_side(ng-show='showSidebar' ng-click='toggleSidebar()')
			.blue_side_expanded
			.button_side_expanded
				.sidebar_button
					img(src='img/tab_button_expand.png', alt='Expand sidebar')
		// end hx_side
// end row
// row





		