// row
.row
  .div(ng-class='getContentWidth()')
    .content_block
      .subnav
        ul.nav.nav-pills
          li.active
            a(href='#/quickGuide/') Quick Guide
          li
            a(href='#/browse/') Browse
          li
            a(href='#/search/') Search
          li
            a(href='') Advanced Search
          li
            a(href='') Favorites
      // end subnav
      .backlink
        span.glyphicon.glyphicon-circle-arrow-left
        a(href='#/quickGuide/') &nbsp; Back to Quick Guide topics
      // end backlink class
      .vertical_spacing
      .row 
        .azlist_header Foodborne Illness Surveillance, Response, and Data Systems
          .share_button
            //Single button 
            .btn-group
              button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                span.glyphicon.glyphicon-share
                | &nbsp;Share&nbsp;&nbsp;
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='') Email
                li
                  a(href='') Facebook
                li
                  a(href='') Twitter
      .row
        // nested row
        .col-lg-9.col-md-9.col-sm-8
          .row
            // nested sub row
            .col-lg-3.col-md-3.col-sm-5
              .qg_this_pg
                .qg_page
                  span.glyphicon.glyphicon-list-alt
                  |&nbsp;On this page:
                .yellow_divider
                .white_divider
                ul.qg_list
                  li.qg_li
                    a(href='') NARMS
                  li.qg_li
                    a(href='') National Surveillance for Enteric Disease
                  li.qg_li
                    a(href='') FoodNet
                  li.qg_li
                    a(href='') Anchor link
                  li.qg_li
                    a(href='') Anchor link
                  li.qg_li
                    a(href='') Anchor link
                  li.qg_li
                    a(href='') Anchor link
                  li.qg_li
                    a(href='') Anchor link
              .qg_resources
                .qg_page
                  span.glyphicon.glyphicon-pushpin
                  |&nbsp;Resources:
                .gray_divider
                ul.qg_list2
                  li.qg_li
                    a(href='') Estimates of Foodborne Illness: Fact Sheets
                  li.qg_li
                    a(href='') Medscape Commentaries
                  li.qg_li
                    a(href='') America&#39;s Report Card for Food Safety
                  li.qg_li
                    a(href='') Select Foodborne Illness Publications
                  li.qg_li
                    a(href='') Select CDC Foodborne Illness Articles
                  li.qg_li
                    a(href='') CDC Director Dr. Thomas R. Frieden&#39;s &#34;Winnable Battles&#34;
                  li.qg_li
                    a(href='') Another Resource
              // end qg_resources
              .qg_contribute
                .qg_page
                  span.glyphicon.glyphicon-pencil
                  |&nbsp;Contributors:
                .gray_divider
                ul.qg_list2
                  li.qg_li
                    a(href='') CDC Food Safety Office
                  li.qg_li
                    a(href='') Another Contributor
                  li.qg_li
                    a(href='') Contribute to this Quick Guide Topic
              // end qg_contribute
            // end col specs
            .col-lg-9.col-md-9.col-sm-7
              .qg_content
                .orange_header_larger Overview
                img.pull-right.img-responsive.qgphoto(src='img/foodborne.png', alt='Foods susceptible to foodborne illness')
                p
                  strong Foodborne Illness &nbsp;
                  | lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                p
                  | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                  a(href='') Nemo enim ipsam voluptatem quia voluptas
                  | sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                .orange_header2.orange_header_larger Another Subheader
                p
                  | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                  img.qgphoto_inset.img-responsive(src='img/foodnet.png', alt='Food Net')
                  .photo_caption
                    strong Caption goes here
                    | . Lorem ipsum dolor sit amet accusantium doloremque laudantium, totam rem. Voluptatum deleniti atque.
                  | Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
                .toplink
                  span.glyphicon.glyphicon-upload
                  a(ng-click='goToTop()') Back to the top
                // end backlink class
                .orange_header2.orange_header_larger  Another Subheader
                p
                  | Lorem at vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                p
                  | Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
                .toplink
                  span.glyphicon.glyphicon-upload
                  a(ng-click='goToTop()') Back to the top
                // end backlink class
              // end qg content
            // end col specs
          // end sub nested 2 row
        // end 9 col specs
        .col-lg-3.col-md-3.col-sm-4
          .qg_column
            .tg_header_narrow Surveillance systems, data sets, &#38; data sources:
            .thick_border
            table.table.table-hover
              tr
                td
                  a(href='') &#160;NARMS System
                td
                  img(src='img/fav_circle.png', alt='Favorite', title='Favorite', align='right')
              tr
                td
                  a(href='#/node/P3') &#160;BioSense
                td
                  img(src='img/fav_circle_empty.png', alt='Favorite', title='Click to favorite', align='right')
              tr
                td
                  a(href='') &#160;Relevant link
                td
                  img(src='img/fav_circle_empty.png', alt='Favorite', title='Click to favorite', align='right')
              tr
                td
                  a(href='') &#160;Relevant link
                td
                  img(src='img/fav_circle.png', alt='Favorite', title='Favorite', align='right')
              tr
                td
                  a(href='') &#160;Relevant link
                td
                  img(src='img/fav_circle.png', alt='Favorite', title='Favorite', align='right')
              tr
                td
                  a(href='') &#160;Relevant link
                td
                  img(src='img/fav_circle_empty.png', alt='Click to favorite', title='Click to favorite', align='right')
              tr
                td
                  a(href='') &#160;Relevant link
                td
                  img(src='img/fav_circle.png', alt='Favorite', title='Favorite', align='right')
          // end qg column
        // end column specs
      // end nested quickguide_nest row
  // end content block
  // end col spec
  .div(ng-class='getSidebarWidth()')
    .hx_side(ng-show='!showSidebar' ng-click='toggleSidebar()')
      .blue_side
      .button_side
        .sidebar_button
          img(src='img/tab_button_collapse.png', alt='Collapse sidebar')        
    // end hx_side
    .hx_side(ng-show='showSidebar' ng-click='toggleSidebar()')
      .blue_side_expanded
      .button_side_expanded
        .sidebar_button
          img(src='img/tab_button_expand.png', alt='Expand sidebar')        
    // end hx_side
  // end col spec
// end row