.row
	.div(ng-class='getContentWidth()')
		.content_block
			span.visible-md.visible-lg
				.subnav
					ul.nav.nav-pills
						li
							a(href='#/quickGuide/') Quick Guide
						li
							a(href='#/browse/') Browse
						li
							a(href='#/search/') Search
						li
							a(href='#/advancedSearch/') Relationship Explorer
						li
							a(href='' class='inactive') Favorites
						li.active
							a(href='#/inTheLab/') In the Lab
				// end subnav
			span.visible-sm
				.subnav_sm
					ul.nav.nav-pills
						li
							a(href='#/quickGuide/') Quick Guide
						li
							a(href='#/browse/') Browse
						li.active
							a(href='#/search/') Search
						li
							a(href='#/advancedSearch/') Relationship Explorer
						li
							a(href='' class='inactive') Favorites
						li.active
							a(href='#/inTheLab/') In the Lab
				// end subnav
			.detail_header 
				.detail_header
					.detail_header_text_contain_lg
						.detail_header_text
							| Data Harmonization (Alpha)
			.top_block_faq
				.vertical_spacing_less
				.row
					|Value Set Rules
				.row(ng-repeat = 'mergedCol in mergedCols' ng-show='mergedCol.sortOrder == 0')
					.col-md-12.col-md-12.col-sm-12
						|Element {{mergedCol.col}}
						br
						.row
					form(name='dataMatchForm')
						.col-lg-4.col-md-4.col-sm-4
							| Find
							select.form-control(ng-model="searchValue" ng-options="opt as opt for opt in getColValues(mergedCol.col)")
							option(value="")
							//input(type="text" ng-model="mergedCol.currentValue"  placeholder="Select a value" typeahead-on-select="setCurValue($item)" typeahead-min-length='1' typeahead="value for value in mergedCol.valuesets | unique " class="form-control" ng-change="resetDataset(); resetStatus()" required='')
						.col-lg-4.col-md-4.col-sm-4
							|Replace With:
							select.form-control(ng-model="replaceValue" ng-options="opt as opt for opt in mergedCol.valuesets")
							option(value="")
						.col-lg-4.col-md-4.col-sm-4
							br
							input(type='text' ng-model='newValue' ng-show = 'replaceValue=="Other"')
							button.btn.btn-success.pull-left(type='button' ng-click='showUpdatedValues()') Preview
						//table.table
							thead
								tr
									th Find
									th Replace 
									th 
							tbody
								tr(ng-repeat='row in mergedCol.valuesets')
									td
										{{row.ds1Value}}
									td
										{{row.ds2Value}}
									td 
										|Replace With
									td 
										a(href='#/node/{{row.concept.id}}' target='_blank'){{row.concept.name}}
									td
										input(type='checkbox' ng-model='value.mergeChecked')
				
					
				.vertical_spacing_more
				.row
					button.btn.btn-success.pull-left(type='button' ng-click="previousPage('#/dataMatch2')" ) Back
					button.btn.btn-success.pull-right(type='button' ng-click='notImplemented()' ng-show='validDataSets') Harmonize Data
								

	.div(ng-class='getSidebarWidth()')
		.hx_side(ng-show='!showSidebar' ng-click='toggleSidebar()')
			div(ng-Historybar)
			//- .blue_side
			//- 	.blue_side_text
			//- 		| Your Exploration History:
			//- 	.sidebar_now
			//- 		div.sidebar_repeat(ng-Historybar)
			.button_side
				.sidebar_button
					img(src='img/tab_button_collapse.png', alt='Collapse sidebar')   
		// end hx_side
		.hx_side(ng-show='showSidebar' ng-click='toggleSidebar()')
			.blue_side_expanded
			.button_side_expanded
				.sidebar_button
					img(src='img/tab_button_expand.png', alt='Expand sidebar')   
		// end hx_side   
// row