div
  .modal-content
    .modal-header.header_dark
      span.pull-right
        button.btn.close_button.glyphicon.glyphicon-remove(ng-click='cancel()')
      h4.modal-title File Upload
    .modal-body
      .row
        .col-md-12
          table.table
            thead
              tr
                th(width='50%') Name
                th(ng-show='uploader.isHTML5') Size
            tbody
              tr(ng-repeat='item in uploader.queue')
                td
                  strong {{ item.file.name }}
                td(ng-show='uploader.isHTML5', nowrap='') {{ item.file.size/1024/1024|number:2 }} MB
          div
            div
              | Progress:
              .progress(style='')
                .progress-bar(role='progressbar', ng-style="{ 'width': uploader.progress + '%' }")
            .fileUpload.btn.btn-primary
              span Select file
              input.upload(type='file', nv-file-select='', uploader='uploader')
            button.btn.btn-success.btn-s.button-padding(type='button', ng-click='uploader.uploadAll()', ng-disabled='true')
              span.fa.fa-upload
              |  Upload with metadata
            button.btn.btn-success.btn-s.button-padding(type='button', ng-click='uploader.uploadAll()', ng-disabled='!uploader.getNotUploadedItems().length')
              span.fa.fa-upload
              |  Upload data only
            button.btn.btn-danger.btn-s(type='button', ng-click='uploader.clearQueue()', ng-disabled='!uploader.queue.length')
              i.fa.fa-trash
              |  Remove 