ul.nav.nav-pills
	li
		a(href='#/quickGuide/') Quick Guide
	li.active
		a(href='#/browse/') Browse
	li
		a(href='#/search/') Search
	li
		a(href='#/advancedSearch/') Relationship Explorer
	li
		a(href='' class='inactive') Favorites
	li
		a(href='#/inTheLab/') In the Lab




