#ng-view{
  position:relative;
}

.ng-enter{
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.ng-enter {
  opacity:0;
  left:25px;
  width:100%;
  position:relative;
}

.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}

/* override to turn off animation on angular-ui drop-down menu*/
.dropdown-menu.ng-enter, .dropdown-menu li.ng-enter{
	-webkit-transition: inherit !important;
	-moz-transition: inherit !important;
	-o-transition: inherit !importants;
	transition: inherit !important;
}
