path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

marker#licensing {
  fill: green;
}

path.link.OVERSEES {
  stroke: green;
}

path.link.USES {
  stroke-dasharray: 0,2 1;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

circle.node.fixed {
  fill: #EC2819;
}

circle.node.program {
  fill: #CDEC19;
}

circle.node.organization {
  fill: #19EC84;
}


text {
  font: 10px sans-serif;
  pointer-events: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}