path.link {
  fill: #000000;
  stroke: #8d8d91;
  stroke-width: 1.0px;
}

marker {
  fill: black;
}

.path_label{
  cursor:pointer;
  font-weight:normal;
  font: 9px sans-serif;
}

.linkageerrormsg{
  font-family:Tahoma, Geneva, Sans-Serif;
  font-weight:bold;
  color:#777777;
  font-size: 1.1em;
  letter-spacing: .01em;
}


circle {
  fill: #ccc;
  stroke: white;
  stroke-width: 1.5px;
}

.node.fixed {
  stroke: black;
  stroke-width: 2px;
}

circle.node.Program {
  fill: #2dcc70;
}

circle.node.Organization {
  fill: #3598db;
}

circle.node.SurveillanceSystem {
  fill: #f1c40f;
}

circle.node.Tool {
  fill: #e77e23;
}

circle.node.Registry {
  fill: #95a5a5;
}
circle.node.Collaborative {
  fill: #16a086;
}

circle.node.HealthSurvey {
  fill: #d64032;
}

circle.node.DataSet {
  fill: #9b58b5;
}

circle.node.DataStandard {
  fill: #92af08;
}

circle.node.Tag {
  fill: #94531b;
}



text {
  font: 10px sans-serif;
 
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}

/*div.tooltip {   
  position: absolute;           
  text-align: center;                       
  padding: 4px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}*/