/*.nodeLab {
	font: 300 5px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:700;
	fill: #bbb;
}
.nodeLab:hover {
	fill: #2a80b9;
	font-size: 12px;
	font-weight:700;
}
.linkLab {
	stroke: #CCC;
	stroke-opacity: .4;
	fill: none;
	pointer-events: none;
}

.nodeLab--source,
.nodeLab--target {
	
	font-size: 12px;
	font-weight:700;
}

.nodeLab--source {
	fill: #626266;
}

.nodeLab--target {
	fill: #626266;
}

.linkLab--source,
.linkLab--target {
	stroke-opacity: 1;
	stroke-width: 1.0;
}
.linkLab--source {
	stroke: #2a80b9;
}
.linkLab--target {
	stroke: #2a80b9;
}*/

/* Styles for the arcs - Edge Bunding */

path.arc {
  cursor: move;
  fill: #fff;
}

.arcColor_org {
	fill: #3598db;
	fill-opacity: 1.0;
}

.arcColor_sSystem {
	fill: #edc00a;
	fill-opacity: 1.0;
}

.arcColor_tool {
	fill: #e57e31;
	fill-opacity: 1.0;
}

.arcColor_dataset {
	fill: #acacac;
	fill-opacity: 1.0;
}

.arcColor_registry {
	fill: #6b8787;
	fill-opacity: 1.0;
}

.arcColor_collaborative {
	fill: #16a086;
	fill-opacity: 1.0;
}

.arcColor_hSurvey {
	fill: #d44138;
	fill-opacity: 1.0;
}

.arcColor_dStandard {
	fill: #93ae24;
	fill-opacity: 1.0;
}

.arcColor_program {
	fill: #2dcc70;
	fill-opacity: 1.0;
}

.arcText{
	fill: #fff;
	font-weight: bold;
	font-size: 12px;
	z-index:50;
}

/* Styles for the Tree_Map */
.nodeTree{
	border: solid 1px white;
	font: 10px sans-serif;
	line-height: 12px;
	overflow: hidden;
	position: absolute;
	text-indent: 2px;
}