.nodeLab {
	font: 300 5px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:700;
	fill: #bbb;
}
.nodeLab:hover {
	fill: #d62728;
}
.linkLab {
	stroke: #CCC;
	stroke-opacity: .4;
	fill: none;
	pointer-events: none;
}
.nodeLab:hover,
.nodeLab--source,
.nodeLab--target {
	font-size: 12px;
	font-weight:700;
}
.nodeLab--source {
	/*fill: #2ca02c;*/
	fill: #333;
}
.nodeLab--target {
	/*fill: #d62728;*/
	fill: #333;
}

.linkLab--source,
.linkLab--target {
	stroke-opacity: 1;
	stroke-width: 2;
}
.linkLab--source {
	/*stroke: #d62728;*/
	stroke: #333;
}
.linkLab--target {
	/*stroke: #2ca02c;*/
	stroke: #333;
}
