// new row
.row
	.div(ng-class='getContentWidth()')
		.content_block_faq
			span.visible-md.visible-lg
				.subnav
					ul.nav.nav-pills
						li
							a(href='#/quickGuide/') Quick Guide
						li
							a(href='#/browse/') Browse
						li
							a(href='#/search/') Search
						li
							a(href='#/advancedSearch/') Relationship Explorer
						li
							a(href='' class='inactive') Favorites
						li.active
							a(href='#/inTheLab/') In the Lab
				// end subnav
			span.visible-sm
				.subnav_sm
					ul.nav.nav-pills
						li
							a(href='#/quickGuide/') Quick Guide
						li
							a(href='#/browse/') Browse
						li
							a(href='#/search/') Search
						li
							a(href='#/advancedSearch/') Relationship Explorer
						li
							a(href='' class='inactive') Favorites
						li.active
							a(href='#/inTheLab/') In the Lab
				// end subnav
			//- a.btn.btn-custom(onclick='goBack()') Back
			//- .nav_split
			//- 	.btn-group.btn-group-md.btn-group-justified
			//- 		.btn-group
			//- 			a.btn.btn-custom(href="#/dashboard", id='btnDashboard') Summary
			//- 		.btn-group
			//- 			a.btn.btn-default(href='#/dashboarddetail', id='btnDashboardDetail') Detail
			//- 	// end button group
			//- // end nav_split
			.top_block_faq
				h4.orange_main_faq
					span.glyphicon.glyphicon-comment.icon-flipped.faq_icon
					| CISP Change Request Queue
				.vertical_spacing_browse
				.row
					.col-lg-2.col-md-2.col-sm-2
						| Update
					.col-lg-2.col-md-2.col-sm-2
						span(ng-repeat="doc in mongoDocumentsAll | filter:{CR_REQUEST_TYPE:'UPDATE'}")
							span(ng-if="$last")
								| {{$index+1}}
				.row
					.col-lg-2.col-md-2.col-sm-2
						| Delete
					.col-lg-2.col-md-2.col-sm-2
						span(ng-repeat="doc in mongoDocumentsAll | filter:{CR_REQUEST_TYPE:'DELETE'}")
							span(ng-if="$last")
								| {{$index+1}}
				.row
					.col-lg-2.col-md-2.col-sm-2
						| Add
					.col-lg-2.col-md-2.col-sm-2
						span(ng-repeat="doc in mongoDocumentsAll | filter:{CR_REQUEST_TYPE:'ADD'}")
							span(ng-if="$last")
								| {{$index+1}}
				.vertical_spacing_less
				.row
					.col-lg-12.col-md-12.col-sm-12
						input(type="checkbox" value="ff")
				.row(ng-repeat="doc in mongoDocumentsAll | filter:{CR_REQUEST_TYPE:crtSelect}")
					.col-lg-1.col-md-1.col-sm-1
						| {{doc.CR_REQUEST_TYPE}}
					.col-lg-1.col-md-1.col-sm-1
						| {{doc.id}}
					.col-lg-4.col-md-4.col-sm-4
						| {{doc.name}}
					.col-lg-2.col-md-2.col-sm-2
						| {{doc.CR_USER}}
					.col-lg-2.col-md-2.col-sm-2
						| {{ doc.CR_DATE | date : format : timezone}}
					.col-lg-1.col-md-1.col-sm-1
						input(type="checkbox")
				.vertical_spacing_lesser
				.vertical_spacing_less
						img.img-responsive.linkage_empty( id="defaultimg" src="img/ajax-loader.gif" ng-show="showVSTableLoading")
				
				//nested row 
				
				//end nested row
				
		// end content block
	// end col spec
// end row.orange_header Overview