// new row
.row
	.div(ng-class='getContentWidth()')
		.content_block_faq
			span.visible-md.visible-lg
				.subnav
					ul.nav.nav-pills
						li
							a(href='#/quickGuide/') Quick Guide
						li
							a(href='#/browse/') Browse
						li
							a(href='#/search/') Search
						li
							a(href='#/advancedSearch/') Relationship Explorer
						li
							a(href='' class='inactive') Favorites
						li.active
							a(href='#/inTheLab/') In the Lab
				// end subnav
			span.visible-sm
				.subnav_sm
					ul.nav.nav-pills
						li
							a(href='#/quickGuide/') Quick Guide
						li
							a(href='#/browse/') Browse
						li
							a(href='#/search/') Search
						li
							a(href='#/advancedSearch/') Relationship Explorer
						li
							a(href='' class='inactive') Favorites
						li.active
							a(href='#/inTheLab/') In the Lab
				// end subnav
			//- a.btn.btn-custom(onclick='goBack()') Back
			//- .nav_split
			//- 	.btn-group.btn-group-md.btn-group-justified
			//- 		.btn-group
			//- 			a.btn.btn-custom(href="#/dashboard", id='btnDashboard') Summary
			//- 		.btn-group
			//- 			a.btn.btn-default(href='#/dashboarddetail', id='btnDashboardDetail') Detail
			//- 	// end button group
			//- // end nav_split
			.top_block_faq
				h4.orange_main_faq
					span.glyphicon.glyphicon-comment.icon-flipped.faq_icon
					| CISP Change Request Queue
				.vertical_spacing_browse
				.row
					.col-lg-12.col-md-12.col-sm-12
						ul.nav.nav-pills
							li(role="presentation")
								a(href="#/admin")
									| Search
							li.active(role="presentation")
								a(href="#/adminCRQueue")
									| Queue
				hr
				.vertical_spacing_less
				.row
					.col-lg-12.col-md-12.col-sm-12
						.orange_header_larger
							| Pending Change Requests Summary
				.row
					.col-lg-12.col-md-12.col-sm-12
						.list-group
							a.list-group-item(href="" ng-click="crFilterModel='UPDATE'")
								span.badge
									| {{ crUpdateCount }}
								| Update
							a.list-group-item(href="" ng-click="crFilterModel='DELETE'")
								span.badge
									| {{ crDeleteCount }}
								| Delete
							a.list-group-item(href="" ng-click="crFilterModel='ADD'")
								span.badge
									| {{ crAddCount }}
								| Add
							a.list-group-item(href="" ng-click="crFilterModel=''")
								span.badge
									| {{ crDeleteCount+crUpdateCount+crAddCount }}
								| All
				.vertical_spacing_less
				.row
					.col-lg-12.col-md-12.col-sm-12
						.orange_header_larger
							| Change Request Records
				.row
					.col-lg-12.col-md-12.col-sm-12
						.btn-group.pull-right
							label.btn.btn-primary(ng-model="crStatusModel" btn-radio="'PENDING'" )
								| Pending
							label.btn.btn-primary(ng-model="crStatusModel" btn-radio="'APPROVED'" )
								| Approved
							label.btn.btn-primary(ng-model="crStatusModel" btn-radio="'DECLINED'" )
								| Declined
							label.btn.btn-primary(ng-model="crStatusModel" btn-radio="'ROLLEDBACK'" )
								| Rolled Back
							label.btn.btn-primary(ng-model="crStatusModel" btn-radio="''" )
								| All
				.vertical_spacing_less
				.row.validationstatus_table_header
					.col-lg-12.col-md-12.col-sm-12
						table.table
							tr
								th.col-md-1(ng-click="sortval='id';reverse=!reverse;")
									| ID
									i.fa.fa-sort-desc
								th.col-md-1(ng-click="sortval='CR_NODE_TYPE';reverse=!reverse;")
									| Node Type
									i.fa.fa-sort-desc
								th.col-md-6(ng-click="sortval='name';reverse=!reverse;")
									| Name
									i.fa.fa-sort-desc
								th.col-md-1(ng-click="sortval='CR_USER';reverse=!reverse;")
									| User
									i.fa.fa-sort-desc
								th.col-md-1(ng-click="sortval='CR_DATE';reverse=!reverse;")
									| Timestamp
									i.fa.fa-sort-desc
								th.col-md-1(ng-click="sortval='CR_REQUEST_TYPE';reverse=!reverse;")
									| CR REQUEST TYPE
									i.fa.fa-sort-desc
								th.col-md-1(ng-click="sortval='CR_STATUS';reverse=!reverse;")
									| CR STATUS
									i.fa.fa-sort-desc
								td.col-md-offset-1(ng-click="sortval='id';reverse=!reverse;")
									| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							tr(ng-repeat="doc in mongoDocumentsAll | filter:{CR_REQUEST_TYPE:crFilterModel,CR_STATUS:crStatusModel}  | orderBy: sortval : reverse" ng-init="hover=false"  ng-mouseenter="hover = true" ng-mouseleave="hover = false")
								td.col-md-1
									| {{doc.id}}
								td.col-md-1
									| {{doc.CR_NODE_TYPE}}
								td.col-md-6
									a(href="#/adminCRQueue/CRDiff/{{doc._id}}")
										| {{doc.name}}
								td.col-md-1
									| {{doc.CR_USER}}
								td.col-md-1
									| {{ doc.CR_DATE | date : format : timezone}}
								td.col-md-1
									| {{doc.CR_REQUEST_TYPE}}
								td.col-md-1
									| {{doc.CR_STATUS}}
								td.col-md-offset-1
									label.btn.btn-default.btn-xs(ng-show="hover" ng-click="deleteCR(doc._id)")
										i.fa.fa-times

				.vertical_spacing_lesser
				.vertical_spacing_less
						img.img-responsive.linkage_empty( id="defaultimg" src="img/ajax-loader.gif" ng-show="showVSTableLoading")
				
				//nested row 
				
				//end nested row
				
		// end content block
	// end col spec
// end row.orange_header Overview