h4.orange_main_faq
	span.glyphicon.glyphicon-comment.icon-flipped.faq_icon
	| CISP Admin Console
.vertical_spacing_browse
.row
	.col-lg-12.col-md-12.col-sm-12
		ul.nav.nav-pills
			li(role="presentation" ng-show="identity.currentUser.isLevelThree()" ng-class="{active:isActive('/adminCRAdd')}")
				a(href="#/adminCRAdd")
					| Add Node
			li(role="presentation" ng-show="identity.currentUser.isLevelThree()" ng-class="{active:isActive('/adminCREdit')}")
				a(href="#/adminCREdit")
					| Edit/Delete Node
			//- li(role="presentation" ng-show="identity.currentUser.isLevelTwo() || identity.currentUser.isLevelThree()" ng-class="{active:isActive('/adminCRQueue')}")
			li(role="presentation" ng-show="identity.currentUser.isLevelThree()" ng-class="{active:isActive('/adminCRQueue')}")
				a(href="#/adminCRQueue" )
					| Request Queue
			li(role="presentation" ng-show="identity.currentUser.isLevelOne()" ng-class="{active:isActive('/adminRights')}")
				a(href="#/adminRights")
					| Rights Management