// new row
.row
	.div(ng-class='getContentWidth()')
		.content_block_faq
			span.visible-md.visible-lg
				.subnav
					ul.nav.nav-pills
						li
							a(href='#/quickGuide/') Quick Guide
						li
							a(href='#/browse/') Browse
						li
							a(href='#/search/') Search
						li
							a(href='#/advancedSearch/') Relationship Explorer
						li
							a(href='' class='inactive') Favorites
						li.active
							a(href='#/inTheLab/') In the Lab
				// end subnav
			span.visible-sm
				.subnav_sm
					ul.nav.nav-pills
						li
							a(href='#/quickGuide/') Quick Guide
						li
							a(href='#/browse/') Browse
						li
							a(href='#/search/') Search
						li
							a(href='#/advancedSearch/') Relationship Explorer
						li
							a(href='' class='inactive') Favorites
						li.active
							a(href='#/inTheLab/') In the Lab
				// end subnav
			//- a.btn.btn-custom(onclick='goBack()') Back
			//- .nav_split
			//- 	.btn-group.btn-group-md.btn-group-justified
			//- 		.btn-group
			//- 			a.btn.btn-custom(href="#/dashboard", id='btnDashboard') Summary
			//- 		.btn-group
			//- 			a.btn.btn-default(href='#/dashboarddetail', id='btnDashboardDetail') Detail
			//- 	// end button group
			//- // end nav_split
			.top_block_faq
				h4.orange_main_faq
					span.glyphicon.glyphicon-comment.icon-flipped.faq_icon
					| CISP Admin Console
				.vertical_spacing_browse
				.row
					.col-lg-12.col-md-12.col-sm-12
						ul.nav.nav-pills
							li.active(role="presentation")
								a(href="#/admin")
									| Search
							li(role="presentation")
								a(href="#/adminCRQueue")
									| Queue
				hr
				.vertical_spacing_less
				.row
					.col-lg-12.col-md-12.col-sm-12
						.orange_header_larger
							| Search Node
						//input.form-control(type='text', typeahead-on-select="", typeahead-min-length='1', typeahead="node.name for node in getNodes($viewValue)", ng-model='queryString')
						input(type="text" ng-model="node"  placeholder="Search activity" typeahead-on-select="itemSelected($item, $model, $label)" typeahead-min-length='3' typeahead="node.name for node in getNodes($viewValue)" class="form-control")
						//input(type="hidden" id="nodeId" ng-value="nodeId")
				.vertical_spacing_browse
				.row(ng-show="showButtons")
					.col-lg-12.col-md-12.col-sm-12
						.row(ng-show="showButtons")
							.col-lg-12.col-md-12.col-sm-12
								.h1.orange_header_larger
									| {{nodeId}} 
									span
										| - 
									| {{node}}
						.vertical_spacing_lesser
						.row(ng-repeat="node in nodeKeyValues")
							.col-lg-2.col-md-2.col-sm-2(ng-hide="node.key=='id'")
								| {{node.key | unCamelCase}}
							.col-lg-10.col-md-10.col-sm-10(ng-hide="node.key=='id'")
								input.form-control(id="{{txtid=node.key}}" type="text" ng-model="cr[txtid]" )
								.vertical_spacing_lesser
				.vertical_spacing_lesser
				.row(ng-show="showButtons")
					.col-lg-12.col-md-12.col-sm-12
						table.table.table-striped
							thead
								tr
									th
										| Start Node
									th
										| Relationship Type
									th
										| Start Node
									th
										| Delete
							tbody
								tr(ng-repeat="relrow in relvalues")
									td
										| {{relrow.startname | TitleCase }} 
									td
										| {{relrow.reltype}}
									td
										| {{relrow.endname | TitleCase}}
									td
										a(href="" ng-click="deleterelrow(relrow.relid)")
											| remove
				.row(ng-show="showButtons")
					.col-lg-2.col-md-2.col-sm-2
					.col-lg-7.col-md-7.col-sm-7
						label.btn.btn-default(ng-click="postupdatecr()")
							i.fa.fa-chevron-circle-right.pull-right
							| Submit Change Request
					.col-lg-3.col-md-3.col-sm-3
						label.btn.btn-default.pull-right(ng-click="postdeletecr()")
							i.fa.fa-times.pull-right
							| Submit Delete Request
				.row(ng-show="crQueueSuccess")
					.col-lg-12.col-md-12.col-sm-12
						.alert.alert-success(role="alert")
							| Your request has been queued successfully. 
							a(href="#/adminCRQueue")
								| View queue
				.row(ng-show="crQueueFail")
					.col-lg-12.col-md-12.col-sm-12
						.alert.alert-danger(role="alert")
							| Error: Your request could not be queued. Please try again later.		
				.vertical_spacing_less
						img.img-responsive.linkage_empty( id="defaultimg" src="img/ajax-loader.gif" ng-show="showVSTableLoading")
				
				//nested row 
				
				//end nested row
				
		// end content block
	// end col spec
// end row.orange_header Overview