// new row
.row
	.div(ng-class='getContentWidth()')
		.content_block_faq
			span.visible-md.visible-lg
				.subnav
					ul.nav.nav-pills
						li
							a(href='#/quickGuide/') Quick Guide
						li
							a(href='#/browse/') Browse
						li
							a(href='#/search/') Search
						li
							a(href='#/advancedSearch/') Relationship Explorer
						li
							a(href='' class='inactive') Favorites
						li.active
							a(href='#/inTheLab/') In the Lab
				// end subnav
			span.visible-sm
				.subnav_sm
					ul.nav.nav-pills
						li
							a(href='#/quickGuide/') Quick Guide
						li
							a(href='#/browse/') Browse
						li
							a(href='#/search/') Search
						li
							a(href='#/advancedSearch/') Relationship Explorer
						li
							a(href='' class='inactive') Favorites
						li.active
							a(href='#/inTheLab/') In the Lab
				// end subnav
			//- a.btn.btn-custom(onclick='goBack()') Back
			//- .nav_split
			//- 	.btn-group.btn-group-md.btn-group-justified
			//- 		.btn-group
			//- 			a.btn.btn-custom(href="#/dashboard", id='btnDashboard') Summary
			//- 		.btn-group
			//- 			a.btn.btn-default(href='#/dashboarddetail', id='btnDashboardDetail') Detail
			//- 	// end button group
			//- // end nav_split
			.top_block_faq
				h4.orange_main_faq
					span.glyphicon.glyphicon-comment.icon-flipped.faq_icon
					| CISP Admin Console
				.vertical_spacing_browse
				.row
					.col-lg-12.col-md-12.col-sm-12
						ul.nav.nav-pills
							li.active(role="presentation")
								a(href="#/admin")
									| Search
							li(role="presentation")
								a(href="#/adminCRQueue")
									| Queue
				hr
				.vertical_spacing_less
				.row
					.col-lg-12.col-md-12.col-sm-12
						.orange_header_larger
							| Search Node
						input(type="text" ng-model="node"  placeholder="Search activity" typeahead-on-select="itemSelected($item, $model, $label)" typeahead-min-length='3' typeahead="node.name for node in getNodes($viewValue)" class="form-control")
						//input(type="hidden" id="nodeId" ng-value="nodeId")
				.vertical_spacing_browse
				.row(ng-show="showButtons")
					.col-lg-12.col-md-12.col-sm-12
						.row(ng-show="showButtons")
							.col-lg-12.col-md-12.col-sm-12
								.h1.orange_header_larger
									| {{nodeId}} 
									span
										| - 
									| {{node}}
						.vertical_spacing_lesser
						.row(ng-repeat="node in nodeKeyValues")
							.col-lg-2.col-md-2.col-sm-2(ng-hide="node.key=='id'")
								| {{node.key | unCamelCase}}
							.col-lg-10.col-md-10.col-sm-10(ng-hide="node.key=='id'")
								input.form-control(id="{{txtid=node.key}}" type="text" ng-model="cr[txtid]" )
								.vertical_spacing_lesser
				.vertical_spacing_lesser
				.orange_header_larger
					| Relationships
				.row(ng-show="showButtons")
					.col-lg-12.col-md-12.col-sm-12
						table.table.table-striped
							thead
								tr
									th.col-lg-4.col-md-4.col-sm-4
										| From Node
									th.col-lg-3.col-md-3.col-sm-3
										| Relationship Type
									th.col-lg-4.col-md-4.col-sm-4
										| To Node
									th.col-lg-1.col-md-1.col-sm-1
										| 
							tbody
								tr(ng-repeat="relrow in relvalues" ng-mouseenter="hover = true" ng-mouseleave="hover = false")
									td
										| {{relrow.startname | TitleCase }} 
									td
										| {{relrow.reltype | TitleCase | unCamelCase}}
									td
										| {{relrow.endname | TitleCase}}
									td(style="text-align: center;")
										label.btn.btn-default.btn-xs(ng-show="hover" ng-click="deleterelrow(relrow.relid)")
											i.fa.fa-times
						h5
							| Add New Relationship
				
				.row(ng-show="showButtons")
					.col-lg-4.col-md-4.col-sm-4
						input(type="text" ng-model="startnode"  placeholder="From" typeahead-on-select="startNodeSelected($item, $model, $label)" typeahead-min-length='3' typeahead="node.name for node in getNodes($viewValue)" class="form-control")
					.col-lg-3.col-md-3.col-sm-3
						select.form-control(ng-model="relselect" ng-options="opt as (opt | TitleCase | unCamelCase) for opt in relValues")
							option(value="")
								| Relationship Type
					.col-lg-4.col-md-4.col-sm-4
						input(type="text" ng-model="endnode"  placeholder="To" typeahead-on-select="endNodeSelected($item, $model, $label)" typeahead-min-length='3' typeahead="node.name for node in getNodes($viewValue)" class="form-control")
					.col-lg-1.col-md-1.col-sm-1
						label.btn.btn-default(ng-click="addRel()" ng-disabled="disableAddRelBtn") 
							span.fa.fa-plus-circle
							|  Add
				.row(role="alert" ng-show="showErrMsg")
					.col-lg-12.col-md-12.col-sm-12
						.alert.alert-warning.alert-dismissible(role="alert")
							strong
								| Error
							|  'From', 'To' and 'Relationship Type' fields should be selected, and either 'From' or 'To' field should be equal to '{{node}}'.

				hr
				.row(ng-show="showButtons")
					.col-lg-12.col-md-12.col-sm-12
						.orange_header_larger
							| Submit
						label.btn.btn-default(ng-click="postupdatecr()")
							span.fa.fa-chevron-circle-right
							| Submit Change Request
				.vertical_spacing_more
				.row(ng-show="showButtons")
					.col-lg-12.col-md-12.col-sm-12
						h4
							| Delete this node?
						label.btn.btn-default.pull-right(ng-click="postdeletecr()")
							//span.fa.fa-times
							| Submit Delete Request
				.row(ng-show="crQueueSuccess")
					.col-lg-12.col-md-12.col-sm-12
						.alert.alert-success(role="alert")
							| Your request has been queued successfully. 
							a(href="#/adminCRQueue")
								| View queue
				.row(ng-show="crQueueFail")
					.col-lg-12.col-md-12.col-sm-12
						.alert.alert-danger(role="alert")
							| Error: Your request could not be queued. Please try again later.		
				.vertical_spacing_less
						img.img-responsive.linkage_empty( id="defaultimg" src="img/ajax-loader.gif" ng-show="showVSTableLoading")
				
				//nested row 
				
				//end nested row
				
		// end content block
	// end col spec
// end row.orange_header Overview