// new row
.row
	.div(ng-class='getContentWidth()')
		.content_block_faq
			span.visible-md.visible-lg
				.subnav
					ul.nav.nav-pills
						li
							a(href='#/quickGuide/') Quick Guide
						li
							a(href='#/browse/') Browse
						li
							a(href='#/search/') Search
						li
							a(href='#/advancedSearch/') Relationship Explorer
						li
							a(href='' class='inactive') Favorites
						li.active
							a(href='#/inTheLab/') In the Lab
				// end subnav
			span.visible-sm
				.subnav_sm
					ul.nav.nav-pills
						li
							a(href='#/quickGuide/') Quick Guide
						li
							a(href='#/browse/') Browse
						li
							a(href='#/search/') Search
						li
							a(href='#/advancedSearch/') Relationship Explorer
						li
							a(href='' class='inactive') Favorites
						li.active
							a(href='#/inTheLab/') In the Lab
				// end subnav
			//- a.btn.btn-custom(onclick='goBack()') Back
			//- .nav_split
			//- 	.btn-group.btn-group-md.btn-group-justified
			//- 		.btn-group
			//- 			a.btn.btn-custom(href="#/dashboard", id='btnDashboard') Summary
			//- 		.btn-group
			//- 			a.btn.btn-default(href='#/dashboarddetail', id='btnDashboardDetail') Detail
			//- 	// end button group
			//- // end nav_split
			.top_block_faq
				h4.orange_main_faq
					span.glyphicon.glyphicon-comment.icon-flipped.faq_icon
					| CISP Change Request
				.vertical_spacing_browse
				.row
					.col-lg-12.col-md-12.col-sm-12
						ul.nav.nav-pills
							li(role="presentation")
								a(href="#/admin")
									| Search
							li.active(role="presentation")
								a(href="#/adminCRQueue")
									| Queue
				hr
				.vertical_spacing_less
				.row
					.col-lg-12.col-md-12.col-sm-12
						
				.row
					.col-lg-12.col-md-12.col-sm-12
						.well
							.row
								.col-lg-6.col-md-6.col-sm-6
									.orange_header_larger
										| {{nodeId +" - "+nodeName}} 
										span.label(ng-class="labelclass")
											| {{crRequestType | TitleCase}}
									| {{crUser}}, {{crDate | date :'medium'}}
									h2
										| {{crStatus}}
								.col-lg-6.col-md-6.col-sm-6
									.row
										.col-lg-6.col-md-6.col-sm-6
											label.btn.btn-primary.btn-lg.btn-block.btn-success(ng-click="approveCR()" ng-hide="crStatus!='PENDING'")
												| Approve
											.alert.alert-success(role="alert" ng-show="status_show_approved")
												| Approved! Change request has been executed successfully.
										.col-lg-6.col-md-6.col-sm-6
											label.btn.btn-primary.btn-lg.btn-block.btn-danger(ng-click="declineCR()" ng-hide="crStatus!='PENDING'")
												| Decline
											.alert.alert-danger(role="alert" ng-show="status_show_declined")
												| Declined! Change request has been declined.
										//.col-lg-12.col-md-12.col-sm-12
											label.btn.btn-primary.btn-lg.btn-block.btn-danger(ng-click="rollbackCR()" ng-show="crStatus=='APPROVED' && crStatus!='ROLLEDBACK' && crRequestType!='DELETE'")
												| Rollback
									
				table.table
					thead
						tr
							th.col-lg-2.col-md-2.col-sm-2
								b
									| Attribute Name
							th.col-lg-3.col-md-3.col-sm-3(ng-if="crRequestType!='DELETE'")
								b
									| CR Value
							th.col-lg-3.col-md-3.col-sm-3
								b
									| Database Value
							th.col-lg-3.col-md-3.col-sm-3(ng-if="crRequestType!='DELETE'")
								b
									| Difference
							//th.col-lg-3.col-md-3.col-sm-3(ng-if="crStatus=='APPROVED' && crRequestType!='DELETE'")
								b
									| Rollback Values
					tbody
						tr(ng-repeat="row in crDiffValues" ng-class="{rowhighlight:row.diffFlg}")
							td.col-lg-2.col-md-2.col-sm-2
								b
									small(ng-bind-html="row.key")
							td.col-lg-3.col-md-3.col-sm-3(ng-if="crRequestType!='DELETE'")
								small(ng-bind-html="row.valueNew")
							td.col-lg-3.col-md-3.col-sm-3
								small(ng-bind-html="row.valueOld")
							td.col-lg-3.col-md-3.col-sm-3(ng-if="crRequestType!='DELETE'")
								small(ng-bind-html="row.diff" ng-if="row.diffFlg" )
							//td.col-lg-3.col-md-3.col-sm-3(ng-if="crStatus=='APPROVED' && crRequestType!='DELETE'")
								small(ng-bind-html="row.rollbackdiff")
				.row
					//.col-lg-12.col-md-12.col-sm-12
						.row
							.col-lg-12.col-md-12.col-sm-12
								| {{rel.startname}} {{rel.reltype}} {{rel.endname}} {{rel.found}}
					.col-lg-12.col-md-12.col-sm-12
						table.table
							thead
								tr
									th.col-lg-4.col-md-4.col-sm-4
										| From Node
									th.col-lg-3.col-md-3.col-sm-3
										| Relationship Type
									th.col-lg-4.col-md-4.col-sm-4
										| To Node
									th.col-lg-1.col-md-1.col-sm-1
										| Action
							tbody
								tr(ng-repeat="relrow in dbcrRelArray | orderBy: relrow.found")
									td
										| {{relrow.startname | TitleCase }} 
									td
										| {{relrow.reltype | TitleCase | unCamelCase}}
									td
										| {{relrow.endname | TitleCase}}
									td
										span.label.label-warning(ng-if="relrow.found")
											| No Change
										span.label.label-success(ng-if="!relrow.found && relrow.crdbType=='cr'")
											| New
										span.label.label-danger(ng-if="!relrow.found && relrow.crdbType=='db'")
											| Removed
				.vertical_spacing_less
						img.img-responsive.linkage_empty( id="defaultimg" src="img/ajax-loader.gif" ng-show="showVSTableLoading")
				
				//nested row 
				
				//end nested row
				
		// end content block
	// end col spec
// end row.orange_header Overview