// new row
.row
	.div(ng-class='getContentWidth()')
		.content_block_faq
			span.visible-md.visible-lg
				.subnav
					ul.nav.nav-pills
						li
							a(href='#/quickGuide/') Quick Guide
						li
							a(href='#/browse/') Browse
						li
							a(href='#/search/') Search
						li
							a(href='#/advancedSearch/') Relationship Explorer
						li
							a(href='' class='inactive') Favorites
						li.active
							a(href='#/inTheLab/') In the Lab
				// end subnav
			span.visible-sm
				.subnav_sm
					ul.nav.nav-pills
						li
							a(href='#/quickGuide/') Quick Guide
						li
							a(href='#/browse/') Browse
						li
							a(href='#/search/') Search
						li
							a(href='#/advancedSearch/') Relationship Explorer
						li
							a(href='' class='inactive') Favorites
						li.active
							a(href='#/inTheLab/') In the Lab
				// end subnav
			//- a.btn.btn-custom(onclick='goBack()') Back
			//- .nav_split
			//- 	.btn-group.btn-group-md.btn-group-justified
			//- 		.btn-group
			//- 			a.btn.btn-custom(href="#/dashboard", id='btnDashboard') Summary
			//- 		.btn-group
			//- 			a.btn.btn-default(href='#/dashboarddetail', id='btnDashboardDetail') Detail
			//- 	// end button group
			//- // end nav_split
			.top_block_faq
				ng-include(src="'/apollo/partials/adminMenuBar'")
				hr
				.vertical_spacing_less
				.row
					.col-lg-12.col-md-12.col-sm-12
						.orange_header_larger
							| CISP Users
				.vertical_spacing_less
				.row
					.col-lg-2.col-md-2.col-sm-2
						input.form-control(type="text" ng-model="filterUser" Placeholder="Filter User")
					.col-lg-6.col-md-6.col-sm-6.pull-right
						.btn-group.pull-right
							button.btn.btn-default(type="button")
								| {{ProviderBtnLabl}}
							button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown" aria-expanded="false")
								span.caret
								span.sr-only
									| Toggle Dropdown
							ul.dropdown-menu(role="menu")
								li
									a(href="" ng-click="setFilterProvider('local');ProviderBtnLabl='Local'")
										| Local
								li
									a(href="" ng-click="setFilterProvider('piv');ProviderBtnLabl='PIV'")
										| PIV
								li
									a(href="" ng-click="setFilterProvider('facebook');ProviderBtnLabl='Facebook'")
										| Facebook
								li.divider
								li
									a(href="" ng-click="setFilterProvider('');ProviderBtnLabl='User Type'")
										| All
						.pull-right
							| &nbsp;&nbsp;
						.btn-group.pull-right
							button.btn.btn-default(type="button")
								| {{RightsBtnLabl}}
							button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown" aria-expanded="false")
								span.caret
								span.sr-only
									| Toggle Dropdown
							ul.dropdown-menu(role="menu")
								li
									a(href="" ng-click="setFilterRight('levelOne');RightsBtnLabl='Level 1'")
										| Level 1
								li
									a(href="" ng-click="setFilterRight('levelTwo');RightsBtnLabl='Level 2'")
										| Level 2
								li
									a(href="" ng-click="setFilterRight('levelThree');RightsBtnLabl='Level 3'")
										| Level 3
								li.divider
								li
									a(href="" ng-click="setFilterRight('');RightsBtnLabl='Right'")
										| All
					
				.vertical_spacing_less
				.row
					.col-lg-12.col-md-12.col-sm-12
						table.table.table-hover
							tr
								th.col-md-1
									| User Type
								th.col-md-5
									| Name
								//th.col-md-4
									| Last login
								th.col-md-2
									//span.cursor-help(tooltip='Access Rights Management', tooltip-placement='top') 
										| Level 1
									//br
									//small
									| Access Rights Management
									br
									small
										| (Level 1)
								th.col-md-2
									//span.cursor-help(tooltip='Aprrove/Decline Change Requests', tooltip-placement='top') 
										| Level 2
									//br
									//small
									| Aprove/Decline Change Requests
									br
									small
										| (Level 2)
								th.col-md-2
									//span.cursor-help(tooltip='Add/Modify/View Change Requests', tooltip-placement='top') 
										| Level 3
									//br
									//small
									| Add/Modify/View Change Requests
									br
									small
										| (Level 3)
								//th.col-md-3
							tr(ng-repeat="user in usersAll | filter : filterUser | filter: {provider:filterProvider,roles:filterRight}")
								td
									img(ng-if="user.provider=='facebook'" src="img/FB-f-Logo__blue_29.png" )
									img(ng-if="user.provider=='local'" src="img/header_graphic_small.png" )
									img(ng-if="user.provider=='piv'" src="img/PIV_Card_Sample_sm.png" )
									//small
										|  {{user.provider | TitleCase}}
								td
									| {{user.lastName + ', ' + user.firstName}}
									br
									.small
										| {{user.email}}
										|  - 
										| {{user.lastLogin | date :'medium'}}
								//td
									| {{user.lastLogin | date :'medium'}}
								td
									input(type="checkbox" ng-checked="user.roles.levelOne" ng-change="updateRights(user,'levelOne',l1Value)" ng-model="l1Value")
								td
									input(type="checkbox" ng-checked="user.roles.levelTwo" ng-change="updateRights(user,'levelTwo',l2Value)" ng-model="l2Value")
								td
									input(type="checkbox" ng-checked="user.roles.levelThree" ng-change="updateRights(user,'levelThree',l3Value)" ng-model="l3Value")
				
				
		// end content block
	// end col spec
// end row.orange_header Overview