.row
	.div(ng-class='getContentWidth()')
		.content_block
			span.visible-md.visible-lg
				.subnav
					ul.nav.nav-pills
						li
							a(href='#/quickGuide/') Quick Guide
						li
							a(href='#/browse/') Browse
						li
							a(href='#/search/') Search
						li.active
							a(href='#/advancedSearch/') Relationship Explorer
						li
							a(href='' class='inactive') Favorites
						li
							a(href='#/inTheLab/') In the Lab
				// end subnav
			span.visible-sm
				.subnav_sm
					ul.nav.nav-pills
						li
							a(href='#/quickGuide/') Quick Guide
						li
							a(href='#/browse/') Browse
						li
							a(href='#/search/') Search
						li.active
							a(href='#/advancedSearch/') Relationship Explorer
						li
							a(href='' class='inactive') Favorites
						li
							a(href='#/inTheLab/') In the Lab
				// end subnav
			.instructive_text
				P
				|  The 
				strong Relationship Explorer 
				|  allows you to view the degrees of separation between any two activities (e.g., Programs, Systems Datasets, Data Standards, Health Surveys, Tools, Registries, Organizations, Tags, or Collaboratives) so you may see the relationships they have in common. 
			
				| To view the degrees of separation on the graph below, enter the activity from where you want to  
				strong  start
				|  and the activity where you want to
				strong  end
				| , then specify the number of
				strong  steps
				|  between the two activities before clicking
				strong  View
				|.
				// The starting and ending activities are represented by the two larger nodes on the graph.
			.vertical_spacing
			span.visible-lg
				.adv_search_controls
					.input1_adv_search
						.adv_search_label
							| Start: 
						.adv_search_field
							input(type="text" ng-model="nodeA"  placeholder="Enter activity name" typeahead-on-select="itemSelectedA($item, $model, $label)" typeahead-min-length='3' typeahead="node.name for node in getNodes($viewValue)" class="form-control")
							input(type="hidden" id="nodeAId" ng-value="nodeAId")
					.input2_adv_search
						.adv_search_label
							| End:
						.adv_search_field
							input(type="text" ng-model="nodeB"  placeholder="Enter activity name" typeahead-on-select="itemSelectedB($item, $model, $label)" typeahead-min-length='3' typeahead="node.name for node in getNodes($viewValue)" class="form-control")
							input(type="hidden" id="nodeBId" ng-value="nodeBId")
					.step_number
						| Number of steps: &nbsp;
						input(type='checkbox', id='hop1', name='hop', value='1')
						| 1 &nbsp;
						input(type='checkbox', id='hop2', name='hop', value='2')
						| 2 &nbsp;
						input(type='checkbox', id='hop3', name='hop', value='3') 
						| 3 &nbsp;
						input(type='checkbox', id='hop4', name='hop', value='4') 
						| 4 
					//end step number
					.adv_search_button
						button.pull-left.btn.btn-default.pull-left.link_buttone.adv_button(type='button')
							i.fa.fa-chevron-circle-right
							| View
				// end adv search controls
			span.visible-md
				.adv_search_controls
					.input1_adv_search_md
						.adv_search_label
							| Start: 
						.adv_search_field_md
							input(type="text" ng-model="nodeA"  placeholder="Enter activity name" typeahead-on-select="itemSelectedA($item, $model, $label)" typeahead-min-length='3' typeahead="node.name for node in getNodes($viewValue)" class="form-control")
							input(type="hidden" id="nodeAId" ng-value="nodeAId")
					.input2_adv_search_md
						.adv_search_label
							| End:
						.adv_search_field_md
							input(type="text" ng-model="nodeB"  placeholder="Enter activity name" typeahead-on-select="itemSelectedB($item, $model, $label)" typeahead-min-length='3' typeahead="node.name for node in getNodes($viewValue)" class="form-control")
							input(type="hidden" id="nodeBId" ng-value="nodeBId")
					.step_number
						| Number of steps: &nbsp;
						input(type='checkbox', id='hop1', name='hop', value='1')
						| 1 &nbsp;
						input(type='checkbox', id='hop2', name='hop', value='2')
						| 2 &nbsp;
						input(type='checkbox', id='hop3', name='hop', value='3') 
						| 3 &nbsp;
						input(type='checkbox', id='hop4', name='hop', value='4') 
						| 4 
					//end step number
					.adv_search_button
						button.pull-left.btn.btn-default.pull-left.link_buttone.adv_button_md(type='button')
							i.fa.fa-chevron-circle-right
							| View
				// end adv search controls
			span.visible-sm
				.adv_search_controls
					.input1_adv_search_sm
						.adv_search_label_sm
							| Start: 
						.adv_search_field_sm
							input(type="text" ng-model="nodeA"  placeholder="Activity name" typeahead-on-select="itemSelectedA($item, $model, $label)" typeahead-min-length='3' typeahead="node.name for node in getNodes($viewValue)" class="form-control")
							input(type="hidden" id="nodeAId" ng-value="nodeAId")
					.input2_adv_search_sm
						.adv_search_label_sm
							| End:
						.adv_search_field_sm
							input(type="text" ng-model="nodeB"  placeholder="Activity name" typeahead-on-select="itemSelectedB($item, $model, $label)" typeahead-min-length='3' typeahead="node.name for node in getNodes($viewValue)" class="form-control")
							input(type="hidden" id="nodeBId" ng-value="nodeBId")
					.step_number_sm
						| Number
						br
						| of steps: &nbsp;
						input(type='checkbox', id='hop1', name='hop', value='1')
						| 1 &nbsp;
						input(type='checkbox', id='hop2', name='hop', value='2')
						| 2 &nbsp;
						input(type='checkbox', id='hop3', name='hop', value='3') 
						| 3 &nbsp;
						input(type='checkbox', id='hop4', name='hop', value='4') 
						| 4 
					//end step number
					.adv_search_button
						button.pull-left.btn.btn-default.pull-left.link_buttone.adv_button_sm(type='button')
							i.fa.fa-chevron-circle-right
							| View
				// end adv search controls
			.detail_header_adv_search
				.share_button_linkage
					//These lines, 173 - 187, were added 
					//Single button 
					.btn-group
						button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
							span.glyphicon.glyphicon-share
							| &nbsp;Share&nbsp;&nbsp;
							span.caret
						ul.dropdown-menu(role='menu')
							li
								a(href='#') (Coming soon)
							li
								a(href='#') Email
							li
								a(href='#') Facebook
							li
								a(href='#') Twitter
						//end added lines 
				button.btn.btn-default.pull-left.link_button1(id='btn_as_reset' type='button')
					span.glyphicon.glyphicon-repeat.icon-flipped
					| Reset
				img.pull-left.small_divider(src='img/small_divider.png')
				button.btn.btn-default.pull-left.link_button5(id='btn_as_lock' type='button')
					i.fa.fa-lock
					| Lock nodes
				button.btn.btn-default.pull-left.link_button4(id='btn_as_hide' type='button' ng-disabled='disableHideLines')
					span.glyphicon.glyphicon-ban-circle
					| Hide lines					
				//.cluster
					//.cluster_text
					//| Organize by:&nbsp;&nbsp;
					//.btn-group
						//button.btn.btn-default.link_button6(type='button')
							//i.fa.fa-gears
							//| Activity type
						//button.btn.btn-default.link_button7.disabled(type='button')
							//span.glyphicon.glyphicon-link
							//| Relationship type
			// end detail header
			.top_block2
				.hide_activity
					.hide_activity_label
						//span.glyphicon.glyphicon-ban-circle
						| Show activity type:
						span.hide_activity_check(ng-show="showOrganization")
							input(type='checkbox' ng-change="hidenodes(\'Organization\',checkModel.Organization)" ng-model="checkModel.Organization" ng-show="showOrganization")
							| &nbsp;Organization
						span.hide_activity_check(ng-show="showProgram")
							input(type='checkbox', ng-change="hidenodes(\'Program\',checkModel.Program)" ng-model="checkModel.Program" ng-show="showProgram")
							| &nbsp;Program
						span.hide_activity_check(ng-show="showSurveillanceSystem")
							input(type='checkbox', ng-change="hidenodes(\'SurveillanceSystem\',checkModel.SurveillanceSystem)" ng-model="checkModel.SurveillanceSystem" ng-show="showSurveillanceSystem")
							| &nbsp;Surveillance System
						span.hide_activity_check(ng-show="showTool")
							input(type='checkbox', ng-change="hidenodes(\'Tool\',checkModel.Tool)" ng-model="checkModel.Tool" ng-show="showTool")
							| &nbsp;Tool
						span.hide_activity_check(ng-show="showRegistry")
							input(type='checkbox', ng-change="hidenodes(\'Registry\',checkModel.Registry)" ng-model="checkModel.Registry" ng-show="showRegistry")
							| &nbsp;Registry
						span.hide_activity_check(ng-show="showHealthSurvey")
							input(type='checkbox', ng-change="hidenodes(\'HealthSurvey\',checkModel.HealthSurvey)" ng-model="checkModel.HealthSurvey" ng-show="showHealthSurvey")
							| &nbsp;Health Survey
						span.hide_activity_check(ng-show="showCollaborative")
							input(type='checkbox', ng-change="hidenodes(\'Collaborative\',checkModel.Collaborative)" ng-model="checkModel.Collaborative" ng-show="showCollaborative")
							| &nbsp;Collaborative
						span.hide_activity_check(ng-show="showDataset")
							input(type='checkbox', ng-change="hidenodes(\'Dataset\',checkModel.Dataset)" ng-model="checkModel.Dataset" ng-show="showDataset")
							| &nbsp;Dataset
						span.hide_activity_check(ng-show="showDataStandard")
							input(type='checkbox', ng-change="hidenodes(\'DataStandard\',checkModel.DataStandard)" ng-model="checkModel.DataStandard" ng-show="showDataStandard")
							| &nbsp;Data Standard
						span.hide_activity_check(ng-show="showTag")
							input(type='checkbox', ng-change="hidenodes(\'Tag\',checkModel.Tag)" ng-model="checkModel.Tag" ng-show="showTag")
							| &nbsp;Tag
				.block_linkage(ng-advanced-search)
					.vertical_spacing1


				// end block_linkage
				.key
					table.key_details
						tr
							td.key_td
								.blue_subhead Key:
							td.node_image_td
								img(src='img/node.png')
							td.node_text_td
								strong Node:
								|   Represents an activity, such as Program, System, Dataset,
								|  Data Standard, Health Survey, Tool, Registry, Organization, Tag, or Collaborative.
								| Activity types are differentiated by node color.
							td.white_line
								img(src='img/white_divider.png')  
							td.line_image_td
								img(src='img/line.png')
							td.line_text_td
								|  Represents the relationship between any two activities,
								|  such as oversees, manages, uses, shares data with, etc. The arrow indicates
								|  the direction of the relationship (e.g., the source to the recipient). 
				// end class key
				span.visible-lg.visible-md
					.legend
						table.legend_details
							tr
								td.legend_td
									.blue_subhead Legend:
								td.node_legend_image_td
									img.move_legend(src='img/node_ss.png')
									| Surveillance System
								td.node_legend_image_td
									img.move_legend(src='img/node_program.png')
									| Program
								td.node_legend_image_td
									img.move_legend(src='img/node_registry.png')
									| Registry
								td.node_legend_image_td
									img.move_legend(src='img/node_hs.png')
									| Health Survey
							tr
								td.legend_td
									.blue_subhead
								td.node_legend_image_td
									img.move_legend(src='img/node_tool.png')
									| Tool
								td.node_legend_image_td
									img.move_legend(src='img/node_dataset.png')
									| Dataset
								td.node_legend_image_td
									img.move_legend(src='img/node_ds.png')
									| Data Standard		
								td.node_legend_image_td
									img.move_legend(src='img/node_col.png')
									| Collaborative			
							tr
								td.legend_td
									.blue_subhead
								td.node_legend_image_td
									img.move_legend(src='img/node_org.png')
									| Organization
								td.node_legend_image_td
									img.move_legend(src='img/node_tag.png')
									| Tag
					// end class legend
				span.visible-sm
					.legend
						table.legend_details
							tr
								td.legend_td_sm
									.blue_subhead Legend:
								td.node_legend_image_td_sm_1
									img.move_legend(src='img/node_ss.png')
									| Surveillance System
								td.node_legend_image_td_sm_2
									img.move_legend(src='img/node_program.png')
									| Program
								td.node_legend_image_td_sm_3
									img.move_legend(src='img/node_registry.png')
									| Registry
								td.node_legend_image_td_sm_4
									img.move_legend(src='img/node_hs.png')
									| Health Survey
							tr
								td.legend_td_sm
									.blue_subhead
								td.node_legend_image_td_sm_1
									img.move_legend(src='img/node_tool.png')
									| Tool
								td.node_legend_image_td_sm_2
									img.move_legend(src='img/node_dataset.png')
									| Dataset
								td.node_legend_image_td_sm_3
									img.move_legend(src='img/node_ds.png')
									| Data Standard		
								td.node_legend_image_td_sm_4
									img.move_legend(src='img/node_col.png')
									| Collaborative			
							tr
								td.legend_td_sm
									.blue_subhead
								td.node_legend_image_td_sm_1
									img.move_legend(src='img/node_org.png')
									| Organization
								td.node_legend_image_td_sm_2
									img.move_legend(src='img/node_tag.png')
									| Tag
					// end class legend					
				span.visible-lg.visible-md
					.instructions_md_lg_adv
						.blue_subhead Instructions:
						.left_bullets
							ul
								li.instruct
									| To 
									strong  view a node's relationships
									| , click on a
									| node name. This will bring it to the center of the graph. 
								
								li.instruct
									| To
									strong  lock or reposition
									|  an individual node, click the node.
									| A black border will display around the node, and it will be locked in position. You may then drag the node to the desired position.
						// end class left_bullets
						.right_bullets
							ul
								li.instruct
									| To 
									strong lock all nodes
									| , click the 
									em 
										strong Lock nodes
									|  button. To release the nodes, simply click the button again, or click the 
									em
										strong Reset
									|  button.
								li.instruct
									| To
									strong  hide the lines
									|  in the graph, click the
									em
										strong  Hide lines
									|  button. To make them reappear, simply click the button again.	
								
								// li.instruct
								//	| To 
								//	strong cluster 
								//	|  the nodes by 
								//	strong  relationship type
								//	| , click the
								//	em
								//		strong  Relationship type
								//	|  button. To disperse the nodes, simply click the button again.
						// end class right_bullets
					// end class instructions
				// end lg md
				span.visible-sm
					.instructions
						.blue_subhead Instructions:
						.left_bullets
							ul
								li.instruct
									| To 
									strong  view a node's relationships
									| , click on a
									| node name. This will bring it to the center of the graph. 
								
								li.instruct
									| To
									strong  lock or reposition
									|  an individual node, click the node.
									| A black border will display around the node, and it will be locked in position. You may then drag the node to the desired position.
								
						// end class left_bullets
						.right_bullets
							ul
								li.instruct
									| To 
									strong lock all nodes
									| , click the 
									em 
										strong Lock nodes
									|  button. To release the nodes, simply click the button again, or click the 
									em
										strong Reset
									|   button.
								li.instruct
									| To
									strong  hide the lines
									|  in the graph, click the
									em
										strong  Hide lines
									|  button. To make them reappear, simply click the button again.	
								
								// li.instruct
								//	| To 
								//	strong cluster 
								//	|  the nodes by 
								//	strong  relationship type
								//	| , click the
								//	em
								//		strong  Relationship type
								//	|  button. To disperse the nodes, simply click the button again.
						// end class right_bullets
					// end class instructions
				// end lg md	
			// end top_block2
		// end content block
	// end col spec
	//- .col-lg-3.col-md-3.col-sm-3
	//- 	.hx_side
	//- 		| Exploration History [placeholder]
	//- 	// end hx_side
	//- // end col spec
	.div(ng-class='getSidebarWidth()')
		.hx_side(ng-show='!showSidebar' ng-click='toggleSidebar()')
			div(ng-Historybar)
			//- .blue_side
			//- 	.blue_side_text
			//- 		| Your Exploration History:
			//- 	.sidebar_now
			//- 		div.sidebar_repeat(ng-Historybar)
			.button_side
				.sidebar_button
					img(src='img/tab_button_collapse.png', alt='Collapse sidebar')
		// end hx_side
		.hx_side(ng-show='showSidebar' ng-click='toggleSidebar()')
			.blue_side_expanded
			.button_side_expanded
				.sidebar_button
					img(src='img/tab_button_expand.png', alt='Expand sidebar')
		// end hx_side
// end row
// row





		