// new row
.row
	.div(ng-class='getContentWidth()')
		.content_block_faq
			.top_block_faq
				h4.orange_main_faq
					span.glyphicon.glyphicon-comment.icon-flipped.faq_icon
					| Frequently Asked Questions
				.vertical_spacing_browse
				.vertical_spacing_lesser
					img.faq_question(src='img/question.png', alt='heart icon') 
					.faq_question_txt
						Strong What are my options for exploring the system?	
				.answers_bullets
					ul
						li.faq
							Strong Quick Guide: 
							| Provides an organized overview of a specific topic, and includes relevant links to systems, datasets, programs etc.
						li.faq
							Strong Browse: 
							| Provides a quick way to select pre-defined search terms &#8212; organized by categories.
						li.faq
							Strong Search:
							|  Standard Google-like search engine.	
						li.faq
							Strong Relationship Explorer: 
							| In development.	
				.vertical_spacing
					img.faq_question(src='img/question.png', alt='heart icon')
					.faq_question_txt
						strong What types of Resources / Activities does CISP contain?	
				.answers_bullets
					.left_cushion
						| There are 
						strong 10 
						| types of activities/resources registered:
					.vertical_spacing_lesser
					ol
						li.faq
							| Surveillance Systems (electronic and paper-based)
						li.faq
							| Surveillance Programs
						li.faq
							| Health Surveys
						li.faq
							| Data Standards
						li.faq
							| Datasets
						li.faq
							| Organizations
						li.faq
							| Collaboratives
						li.faq
							| Registries
						li.faq
							| Tools that support surveillance
						li.faq
							| Tags			 		
				.vertical_spacing
					img.faq_question(src='img/question.png', alt='heart icon')
					.faq_question_txt
						Strong What information does CISP capture?
				.answers		
					| It contains general information about CDC public health surveillance activities, such as purpose, where information is obtained, how information is shared, surveillance tools employed, data standards used, data sets generated, etc.
					.vertical_spacing_less 
					| Point of contact information is also provided to enable specific inquiries and/or opportunities for collaboration.
				.vertical_spacing
					img.faq_question(src='img/question.png', alt='heart icon')
					.faq_question_txt
						Strong If I have any questions, who do I contact?
				.answers
					| Simply email us at 
					a(href='mailto:informaticslab@cdc.gov') informaticslab@cdc.gov
					| . We'll answer your question right away.
				.vertical_spacing
					img.faq_question(src='img/question.png', alt='heart icon')
					.faq_question_txt
						Strong What is a Surveillance System?
				.answers
					| A surveillance system is an organized infrastructure that enables the ongoing systematic collection, management, analysis, and interpretation of health-related data, followed by their dissemination to those who need to know so they may: 
					.vertical_spacing_lesser
					ol
						li.faq
							| Monitor populations to detect unusual instances or patterns of disease, toxic exposure, or injury;
						li.faq
							| Act to prevent or control these threats;
						li.faq
							| Intervene to promote and improve health.  
					| The term
					em  surveillance system
					|  applies to both electronic and paper-based systems.
				.vertical_spacing
					img.faq_question(src='img/question.png', alt='heart icon')
					.faq_question_txt
						Strong What is a Program?
				.answers
					| A program is an organized set of projects and services intended to meet a public need. Programs often establish policy, and may develop and recommend interventions. Programs may manage surveillance systems and support tools and services, but for the purposes of the NBRHH, the unique value added by programs warrants a distinct category. Information about programs reflects the vital contributions program staff and resources make, irrespective of whether they 
					em own
					|  particular surveillance systems or use particular surveillance tools. CDC Emerging Infections Program (EIP) is an example of a program.		
				.vertical_spacing
					img.faq_question(src='img/question.png', alt='heart icon')
					.faq_question_txt
						Strong What is a Collaborative?
				.answers
					| A collaborative is an entity in which two or more organizations join and work together, share knowledge and expertise, and build consensus toward meeting common goals. The Integrated Consortium of Laboratory Networks (ICLN) is an example of a collaborative. An advisory committee, such as the National Biosurveillance Advisory Subcommittee, a subcommittee of the Advisory Committee to the CDC Director, is also an example of a collaborative.
				.vertical_spacing
					img.faq_question(src='img/question.png', alt='heart icon')
					.faq_question_txt
						Strong What is a Tool?
				.answers
					| A tool is an application that supports surveillance by enabling a very specific task (e.g., message transport, data transformation, communications, identity management). Tools differ from systems mainly in size, complexity, and the number of functions they support. A system can be comprised of multiple tools to meet a function or business need. In the context of the NBRHH, a tool is an application that provides targeted functionality which can be used independently or by a system. The Public Health Information Network Messaging System (PHIN MS) is an example of a tool.
				.vertical_spacing
					img.faq_question(src='img/question.png', alt='heart icon')
					.faq_question_txt
						Strong What is a Surveillance Registry?
				.answers
					| Surveillance registries often provide longitudinal data and include numerous events observed across the 
					em life 
					|  or duration of a case. A registry can provide measures of incidence of an event, information about progression of disease, or potential subjects for epidemiologic studies. Registries can be public health surveillance systems if they are conducted in an ongoing systematic way, analyzed routinely, used for planning and implementation of public health practice, and integrated with timely dissemination of information applied to disease prevention and health promotion.
				.vertical_spacing
					img.faq_question(src='img/question.png', alt='heart icon')
					.faq_question_txt
						Strong What is a Research Registry?
				.answers
					| Research registries often provide longitudinal data and include numerous events observed across the 
					em  life 
					| or duration of a case. A registry can provide measures of incidence of an event, information about progression of disease, or potential subjects for epidemiologic studies. Registries can be used for research purposes. This is in contrast to a surveillance registry, which is used for planning and implementation of public health practice, and is integrated with timely dissemination of information applied to disease prevention and health promotion.
				.vertical_spacing
					img.faq_question(src='img/question.png', alt='heart icon')
					.faq_question_txt
						Strong What is a Health Survey?
				.answers
					| Surveys offer a mechanism to measure, sometimes at repeated or regular intervals, indicators of health on a statistically selected sample so information can be generalized to entire populations.  These health indicators can be tracked over time, supplying important information about trends in health, but such surveys are not associated directly with planning, implementing, and evaluation of public health practice.  Often these indicators provide baseline measures used to compare results of public health surveillance, registries, environmental monitoring, or research studies.
				.vertical_spacing
		// end content block
	// end col spec
// end row.orange_header Overview