// new row
.row
	.col-lg-11.col-md-11.col-sm-11
		.content_block
			p
				.orange_header_larger
					| What are my options to explore the system?
			p
				| Quick Guide: Provides an organized overview of a specific topic, and includes relevant links to systems, datasets, programs etc.
			p
				| Browse: Provides a quick way to select pre-defined search terms - organized by categories.
			p
				| Search: Standard Google-like search engine.
			p
				| Advanced Search: Coming soon.	
			.vertical_spacing
			p
				.orange_header_larger
					| What types of Resources/ Activities does CISP contain?	
			p
				| There are 10 types of activities/ resources registered:
			p
				| Surveillance Systems (electronic and paper based)
			p
				| Surveillance Programs		
			p
				| Health Surveys
			p
				| Data Standards 
			p
				| Datasets
			P 
				| Organizations
			P 
				| Collaboratives
			P
				| Registries
			P
				| Tools that support surveillance
			P 
				| Tags
			.vertical_spacing
			p
				.orange_header_larger
					| What information does CISP capture?
			P
				| It contains general information about CDC public health surveillance activities, such as purpose, where information is obtained and how it is shared, surveillance tools employed, data standards used, data sets generated etc.
			P 
				| Point of contact information is also provided to enable further specific inquiries and/ or opportunities for collaboration.
			.vertical_spacing
			p
				.orange_header_larger
					| If I have any questions, who do I contact?
			P
				| Simply email us at 
				a(href='mailto:integratedsurveillance@cdc.gov') integratedsurveillance@cdc.gov. 
				| We'll answer your question right away.

		// end content block
	// end col spec
	.col-lg-1.col-md-1.col-sm-1
		.hx_side(ng-show='showSidebar')
			span.small_text
			|Tab
// end row.orange_header Overview