
.row
	.col-lg-9.col-md-9.col-sm-9
		.content_block
			.subnav
				ul.nav.nav-pills.pills_custom
					li.active
						a(href='#') Quick Guide
					li
						a(href='#') Browse
					li
						a(href='#') Search
					li
						a(href='#') Advanced Search
					li
						a(href='#') Favorites
			// end subnav
			.backlink
				span.glyphicon.glyphicon-circle-arrow-left
				| &nbsp;Back to Topics
			// end backlink class
			h1 Foodborne Illness, Surveillance and Response Systems
			p  Many Surveillance systems are used in the United States to provide information about the occurence of foodborne disease. Most of CDC's surveillance systems rely on data from state and local health agencies.
	//end heading and paragraph description
	.col-lg-3.col-md-3.col-sm-3
		.hx_side
			| Surveillance Systems, Data Sets, Data Sources etc [placeholder]
			p
				a(href='#/node/P3') NARMS
		// end hx_side
	// end col spec
// end row
// row