.row
  .div(ng-class='getContentWidth()')
    .content_block
      span.visible-md.visible-lg
        .subnav
          ul.nav.nav-pills
            li
              a(href='#/quickGuide/') Quick Guide
            li
              a(href='#/browse/') Browse
            li
              a(href='#/search/') Search
            li
              a(href='#/advancedSearch/') Advanced Search
            li
              a(href='' class='inactive') Favorites
            li.active
              a(href='#/inTheLab/') In the Lab
        // end subnav
      span.visible-sm
        .subnav_sm
          ul.nav.nav-pills
            li
              a(href='#/quickGuide/') Quick Guide
            li
              a(href='#/browse/') Browse
            li
              a(href='#/search/') Search
            li
              a(href='#/advancedSearch/') Advanced Search
            li
              a(href='' class='inactive') Favorites
            li.active
              a(href='#/inTheLab/') In the Lab
        // end subnav 
      .azlist_header
        | &nbsp; In the Lab (In development)
// end row