.row
	.div(ng-class='getContentWidth()')
		.content_block
			span.visible-md.visible-lg
				.subnav
					ul.nav.nav-pills
						li
							a(href='#/quickGuide/') Quick Guide
						li
							a(href='#/browse/') Browse
						li
							a(href='#/search/') Search
						li
							a(href='#/advancedSearch/') Relationship Explorer
						li
							a(href='' class='inactive') Favorites
						li.active
							a(href='#/inTheLab/') In the Lab
				// end subnav
			span.visible-sm
				.subnav_sm
					ul.nav.nav-pills
						li
							a(href='#/quickGuide/') Quick Guide
						li
							a(href='#/browse/') Browse
						li.active
							a(href='#/search/') Search
						li
							a(href='#/advancedSearch/') Relationship Explorer
						li
							a(href='' class='inactive') Favorites
						li.active
							a(href='#/inTheLab/') In the Lab
				// end subnav
			.detail_header 
				.detail_header
					.detail_header_text_contain_lg
						.detail_header_text
							| Advanced Visualization X: Universal Viewer
					.share_button_linkage
						//These lines, 173 - 187, were added 
						//Single button 
						.btn-group
							button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
								span.glyphicon.glyphicon-share
								| &nbsp;Share &nbsp;&nbsp;
								span.caret
							ul.dropdown-menu(role='menu')
								li
									a(href='') Coming soon..
								li
									a(href='') Email
								li
									a(href='') Facebook
								li
									a(href='') Twitter
						//end added lines 
			// end detail header
			.top_block2
				.block_edge
					.vertical_spacing1
						script(type="text/javascript", src="/apollo/app/d3/d3-edgebundle.js")
				// end block_edge
	.div(ng-class='getSidebarWidth()')
		.hx_side(ng-show='!showSidebar' ng-click='toggleSidebar()')
			div(ng-Historybar)
			//- .blue_side
			//- 	.blue_side_text
			//- 		| Your Exploration History:
			//- 	.sidebar_now
			//- 		div.sidebar_repeat(ng-Historybar)
			.button_side
				.sidebar_button
					img(src='img/tab_button_collapse.png', alt='Collapse sidebar')   
		// end hx_side
		.hx_side(ng-show='showSidebar' ng-click='toggleSidebar()')
			.blue_side_expanded
			.button_side_expanded
				.sidebar_button
					img(src='img/tab_button_expand.png', alt='Expand sidebar')   
		// end hx_side   
// row