.row
	.div(ng-class='getContentWidth()')
		.content_block
			span.visible-md.visible-lg
				.subnav
					ul.nav.nav-pills
						li
							a(href='#/quickGuide/') Quick Guide
						li
							a(href='#/browse/') Browse
						li
							a(href='#/search/') Search
						li
							a(href='#/advancedSearch/') Relationship Explorer
						li
							a(href='' class='inactive') Favorites
						li.active
							a(href='#/inTheLab/') In the Lab
				// end subnav
			span.visible-sm
				.subnav_sm
					ul.nav.nav-pills
						li
							a(href='#/quickGuide/') Quick Guide
						li
							a(href='#/browse/') Browse
						li
							a(href='#/search/') Search
						li
							a(href='#/advancedSearch/') Relationship Explorer
						li
							a(href='' class='inactive') Favorites
						li.active
							a(href='#/inTheLab/') In the Lab
				// end subnav
			.detail_header
				.detail_header_text_cntr
					i.fa.fa-laptop
					|  In the Lab
			// end detail header
			.top_block_lab
				.row
					.col-lg-4.col-md-4.col-sm-4
						.lab_block
							.lab_block_title
								| In the ISP R&D Lab: 
								br
								em Advanced Tools 
							P 
							| This page provides access to ISP-related advanced tools and technologies &mdash; still very early in their development. Some of the tools will graduate out of this section and be incorporated into the main site, while others may need to go back to the drawing board for a fresh start. 
							P
							| We sincerely look forward to your feedback &mdash; on any tool you've tried out, or any tool you'd like to see.  Please contact us at 
							a(href='mailto:informaticslab@cdc.gov') informaticslab@cdc.gov
							| .
							P
							| Please note that some of the tools may act a bit odd at times, and if they do, please let us know.
					.col-lg-8.col-md-8.col-sm-8
						.lab_block_right
							.lab_title
								| Advanced Visualizations
							.visual_divider
							.visual_section
								.vertical_spacing_lesser
								img.pull-left.lab_icon(src='img/a_to_z.png', alt='Visualization ordered alphabetically')
								.visual_section_text
									a.bold_link(href="#/inTheLab/inTheLabBundle", id='btnDetails') Universal Viewer I: Hierarchical Edge Bundling &mdash; Alphabetical Only
									br
									.vertical_spacing_lesser
									| This tool, called the 
									em Universal Viewer I
									| , provides a visualization of the entire database using a D3 (
									a(href='http://d3js.org') http://d3js.org
									| ) 
									| visualization known as a 
									em hierarchical edge bundling
									| . Hierarchical edge bundling is based on the principle of visually bundling adjacency edges together. This is analogous to the way electrical wires and network cables are merged into bundles along their joint paths and fanned out again at the end &mdash; so that an otherwise tangled web of wires and cables becomes manageable.
									br
									br
									| When you place your pointer on an entity outside the ring, you can automatically see the relationships which exist between the selected entity and other entities. The data is organized alphabetically only.
									br
									br
									| Because of the large amount of data displayed on the screen, this tool does run a bit slowly on laptops and desktops, and though it is able to run on tablet devices, its performance needs improvement.
							.visual_section
								.vertical_spacing_lesser
								img.pull-left.lab_icon(src='img/by_type.png', alt='Visualization ordered by activity type')
								.visual_section_text
									a.bold_link(href='#/inTheLab/inTheLabArc', id='btnLinkageViewer') Universal Viewer II: Hierarchical Edge Bundling &mdash; Alphabetical with Activity Arcs
									br
									.vertical_spacing_lesser
									| This tool, called the 
									em Universal Viewer II
									| , provides a visualization of the entire database using a D3 (
									a(href='http://d3js.org') http://d3js.org
									| ) 
									| visualization known as a 
									em hierarchical edge bundling
									| . Hierarchical edge bundling is based on the principle of visually bundling adjacency edges together. This is analogous to the way electrical wires and network cables are merged into bundles along their joint paths and fanned out again at the end &mdash; so that an otherwise tangled web of wires and cables becomes manageable.
									br
									br
									| When you place your pointer on an entity outside the ring, you can automatically see the relationships which exist between the selected entity and other entities. Instead of being organized only alphabetically, the information is grouped by activity group/category (alphabetically), and then alphabetically within each group/category.
									br
									br
									| Because of the large amount of data displayed on the screen, this tool does run a bit slowly on laptops and desktops, and though it is able to run on tablet devices, its performance needs improvement.
							.visual_section
								.vertical_spacing_lesser
								img.pull-left.lab_icon(src='img/a_to_z.png', alt='Visualization treemap')
								.visual_section_text
									a.bold_link(href="#/inTheLab/inThelabTree", id='btnDetails') Universal Viewer III: TreeMap
									br
									.vertical_spacing_lesser
									| This tool, called the 
									em TreeMap Viewer I
									| , provides a visualization of the entire database using a D3 (
									a(href='http://d3js.org') http://d3js.org
									| ) 
									| visualization known as a 
									em TreeMap
									br
									| Because of the large amount of data displayed on the screen, this tool does run a bit slowly on laptops and desktops, and though it is able to run on tablet devices, its performance needs improvement.

							.vertical_spacing_more
	.div(ng-class='getSidebarWidth()')
		.hx_side(ng-show='!showSidebar' ng-click='toggleSidebar()')
			div(ng-Historybar)
			//- .blue_side
			//- 	.blue_side_text
			//- 		| Your Exploration History:
			//- 	.sidebar_now
			//- 		div.sidebar_repeat(ng-Historybar)
			.button_side
				.sidebar_button
					img(src='img/tab_button_collapse.png', alt='Collapse sidebar')   
		// end hx_side
		.hx_side(ng-show='showSidebar' ng-click='toggleSidebar()')
			.blue_side_expanded
			.button_side_expanded
				.sidebar_button
					img(src='img/tab_button_expand.png', alt='Expand sidebar')   
		// end hx_side   
// row