// new row
.row
	.col-lg-9.col-md-9.col-sm-9
		.content_block
			p.carousel_text_disclaimer
				Strong *NOTE: &nbsp;
				| Please be aware that this online application is still early in its development, and it may function in unexpected ways. Some parts of the application have not yet been activated. The data in the system is still incomplete and has not yet been validated. Please send your comments and suggestions to 
				a(href='mailto:informaticslab@cdc.gov')  informaticslab@cdc.gov
				|. 
			.top_block
				.div(ng-show='carousel1')
					.carousel_image2
						img.img-responsive.placeholder_image.pull-right(src='img/screenshot_lv.png', alt='Screenshot of CISP')
						.carousel_photo_caption
							| CISP shows the inconnectivity between resources (e.g., systems, programs, etc.).
					p
					.orange_header_home
						| Welcome
					p.carousel_text
						| The 
						strong CDC Integrated Surveillance Portal (CISP)
						|  is a comprehensive, real-time, interactive resource for CDC, its partners, and the public to explore and discover information about the full inventory of CDC&#8217;s Surveillance Systems, Programs, Registries, Health Surveys, Tools, and Collaboratives. CISP contains not only descriptive information about these CDC resources &#8212; CISP also describes the
						em  relationships
						|  between resources.
					p.carousel_text
						| The information in this tool has been gathered from many sources, including the National Public Health Surveillance and Biosurveillance Registry for Human Health. This portal does not contain raw surveillance data &#8212; it only contains
						em  meta-data
						|  (i.e., data about data) regarding these surveillance activities.
					p.carousel_text
						| Because CISP holds no surveillance data, it holds no personally identifiable information, nor personal health information about cases or persons in these systems.
					
				.div(ng-show='carousel2')
					.carousel_image2
						img.img-responsive.placeholder_image.pull-right(src='img/home_carousel_linkage.png', alt='Relationship Viewer detail')
						.carousel_photo_caption2 
							| The Relationship Viewer is an interactive data visualization tool.
					p
					.orange_header_carousel
						| Visually Explore CDC Surveillance Resources
					p.carousel_text
						| Every resource in CISP can be viewed two ways:
						.carousel_bullet
							img.home_bullet(src='img/1_bullet.png', alt='')
							|   By
							strong  standard text
							| , - OR -
						.carousel_bullet
							img.home_bullet(src='img/2_bullet.png', alt='')
							|   By using the
							strong  Relationship Viewer
					p.carousel_text
						| Our
						strong  Relationship Viewer
						|  is an interactive, web-based data visualization tool based on a technology known as
						a(href='http://d3js.org')  D3
						| . The Relationship Viewer will allow you to explore the system in a very unique way. Once you have selected a resource to learn more about, simply click the
						strong 
							em  Relationship Viewer
						|  button to view all the item&#39;s connections.  Quickly learn what other resources &#34;touch&#34; the resource you&#8217;re interested in. To learn about a related resource, simply click the name of that resource. 
					p.carousel_text
						| To try it now, click
						strong
							em 
								|  Explore
						|  in the navigation bar above, then
						strong
							em
								|  Browse
						|. On the
						em  Browse
						|  page, click a term you are interested in. A list of results will appear. Click an item in the search results list, then click the
						strong
							em  Relationship Viewer
						|  tab on the following page. Enjoy exploring the connections related to your selected resource.	
				.div(ng-show='carousel3')
					.carousel_image2
						img.img-responsive.placeholder_image.pull-right(src='img/home_carousel_graph.png', alt='Social Graph')
						.carousel_photo_caption 
							| If there is a relationship between CDC resources, a connection is created.
					p
					.orange_header_carousel
						| Explore the CDC Surveillance Graph
					p.carousel_text
						| Just as
						em  Facebook&#8217;s
						|  social graph depicts the relationships between you and the people, places, and things you interact with online, our CDC Surveillance Graph depicts the relationship between the wide variety of resources (e.g., systems, programs, tools, datasets, etc.) involved in the activity of surveillance at CDC.
					p.carousel_text
						| The term 
						em graph
						| , used here, refers to graph theory. Graphs are mathematical structures used to model pairwise relations between objects. Graphs consist of distinct
						em  nodes
						|  or objects, which are connected to each other via lines, or
						em  edges
						| . Thus, each CDC resource is considered a node. If there is any type of relationship between nodes (e.g., uses, oversees, collaborates with, shares data with, etc.), a connection is created.
				.div(ng-show='carousel4')
					.carousel_image2
						img.img-responsive.placeholder_image.pull-right(src='img/screenshot_qg.png', alt='Screenshot of Quick Guide')
						.carousel_photo_caption
							| Quick Guide provides an overview of specific topics &#38; links to resources.
					p
					.orange_header_carousel
						| Explore CISP
					p.carousel_text
						| CISP provides multiple ways to explore information:
					.vertical_spacing_less
					table.carousel_bullet
						tr
							td.arrow_align
								img(src='img/blue_arrow_small.png', alt='')
							td.bullet_content
								strong Quick Guide
								| : Provides an organized overview of specific topics, and includes relevant links to surveillance systems, datasets, data sources, and more.	

						tr
							td.arrow_align
								img(src='img/blue_arrow_small.png', alt='')
							td.bullet_content
								strong Browse
								| : Provides a quick way to select pre-defined, popular search terms. The terms are organized by category.
						tr
							td.arrow_align
								img(src='img/blue_arrow_small.png', alt='')
							td.bullet_content
								strong Search
								| : Standard Google-like search engine. Also provides several filters and sorting options for search results.
						tr
							td.arrow_align
								img(src='img/blue_arrow_small.png', alt='')
							td.bullet_content
								strong Relationship Explorer
								| : This feature is coming soon. It will provide a way to view degrees of separation and common relationships between two activities.

			// end top_block
			.carousel_controls
				.btn-group
					button.btn.btn-default(type='button' ng-click='goBackwardInCarousel()')
						span.glyphicon.glyphicon-backward
					button.btn.btn-default(type='button' ng-click='goToCarousel1()' id='carouselBtn1') 1
					button.btn.btn-default(type='button' ng-click='goToCarousel2()' id='carouselBtn2') 2
					button.btn.btn-default(type='button' ng-click='goToCarousel3()' id='carouselBtn3') 3
					button.btn.btn-default(type='button' ng-click='goToCarousel4()' id='carouselBtn4') 4
					button.btn.btn-default(type='button' ng-click='goForwardInCarousel()')
						span.glyphicon.glyphicon-forward
			// end carousel controls
			.bottom_block
				div.orange_header_carousel
					span.glyphicon.glyphicon-time
					| Live Statistics
					//span.coming_soon_or
						|  (In Development) 
				.row
					.col-lg-3.col-md-3.col-sm-3
						span.visible-lg.visible-md
							.stat_box
								.stat_count {{statsarr['SurveillanceSystem']}}
								.stat_label
									a(ng-click='goToTop()' href='#/search/label/SurveillanceSystem') Surveillance Systems
						span.visible-sm
							.stat_box_sm
								.stat_count {{statsarr['SurveillanceSystem']}}
								.stat_label_sm
									a(ng-click='goToTop()' href='#/search/label/SurveillanceSystem') Surveillance Systems	
					//end column specs 
					.col-lg-3.col-md-3.col-sm-3
						span.visible-lg.visible-md
							.stat_box
								.stat_count {{statsarr['Program']}}
								.stat_label
									a(ng-click='goToTop()' href='#/search/label/Program') Programs
						span.visible-sm
							.stat_box_sm
								.stat_count {{statsarr['Program']}}
								.stat_label_sm
									a(ng-click='goToTop()' href='#/search/label/Program') Programs
									
					//end column specs 
					.col-lg-3.col-md-3.col-sm-3
						span.visible-lg.visible-md
							.stat_box
								.stat_count {{statsarr['Registry']}}
								.stat_label
									a(ng-click='goToTop()' href='#/search/label/Registry') Registries
						span.visible-sm
							.stat_box_sm
								.stat_count {{statsarr['Registry']}}
								.stat_label_sm
									a(ng-click='goToTop()' href='#/search/label/Registry') Registries			
					//end column specs 
					//end column specs 
					.col-lg-3.col-md-3.col-sm-3
						span.visible-lg.visible-md
							.stat_box
								.stat_count {{statsarr['HealthSurvey']}}
								.stat_label
									a(ng-click='goToTop()' href='#/search/label/HealthSurvey') Health Surveys
						span.visible-sm
							.stat_box_sm
								.stat_count {{statsarr['HealthSurvey']}}
								.stat_label_sm
									a(ng-click='goToTop()' href='#/search/label/HealthSurvey') Health Surveys	
					//end column specs 
				//end nested row 
				.vertical_spacing_less
				//nested row 
				.row
					.col-lg-3.col-md-3.col-sm-3
						span.visible-lg.visible-md
							.stat_box
								.stat_count {{statsarr['Tool']}}
								.stat_label
									a(ng-click='goToTop()' href='#/search/label/Tool') Tools
						span.visible-sm
							.stat_box_sm
								.stat_count {{statsarr['Tool']}}
								.stat_label_sm
									a(ng-click='goToTop()' href='#/search/label/Tool') Tools		
					//end column specs 
					.col-lg-3.col-md-3.col-sm-3
						span.visible-lg.visible-md
							.stat_box
								.stat_count {{statsarr['Dataset']}}
								.stat_label
									a(ng-click='goToTop()' href='#/search/label/Dataset') Datasets
						span.visible-sm
							.stat_box_sm
								.stat_count {{statsarr['Dataset']}}
								.stat_label_sm
									a(ng-click='goToTop()' href='#/search/label/Dataset') Datasets	
					//end column specs 
					.col-lg-3.col-md-3.col-sm-3
						span.visible-lg.visible-md
							.stat_box
								.stat_count {{statsarr['DataStandard']}}
								.stat_label
									a(ng-click='goToTop()' href='#/search/label/DataStandard') Data Standards
						span.visible-sm
							.stat_box_sm
								.stat_count {{statsarr['DataStandard']}}
								.stat_label_sm
									a(ng-click='goToTop()' href='#/search/label/DataStandard') Data Standards		
					//end column specs 
					.col-lg-3.col-md-3.col-sm-3
						span.visible-lg.visible-md
							.stat_box
								.stat_count {{statsarr['Collaborative']}}
								.stat_label
									a(ng-click='goToTop()' href='#/search/label/Collaborative') Collaboratives
						span.visible-sm
							.stat_box_sm
								.stat_count {{statsarr['Collaborative']}}
								.stat_label_sm
									a(ng-click='goToTop()' href='#/search/label/Collaborative') Collaboratives	
					//end column specs 
				//end nested row 
				.vertical_spacing_less
				//nested row 
				.row
					.col-lg-3.col-md-3.col-sm-3
						span.visible-lg.visible-md
							.stat_box
								.stat_count {{statsarr['Organization']}}
								.stat_label
									a(ng-click='goToTop()' href='#/search/label/Organization') Organizations
						span.visible-sm
							.stat_box_sm
								.stat_count {{statsarr['Organization']}}
								.stat_label_sm
									a(ng-click='goToTop()' href='#/search/label/Organization') Organizations		
					//end column specs 
					.col-lg-3.col-md-3.col-sm-3
						span.visible-lg.visible-md
							.stat_box
								.stat_count {{statsarr['Tag']}}
								.stat_label
									a(ng-click='goToTop()' href='#/search/label/Tag') Tags
						span.visible-sm
							.stat_box_sm
								.stat_count {{statsarr['Tag']}}
								.stat_label_sm
									a(ng-click='goToTop()' href='#/search/label/Tag') Tags
					//end column specs
					.col-lg-3.col-md-3.col-sm-3
						span.visible-lg.visible-md
							.stat_box
								.stat_count 0
								.stat_label Data Elements
						span.visible-sm
							.stat_box_sm
								.stat_count 0
								.stat_label_sm
									| Data Elemets
					//end column specs
					.col-lg-3.col-md-3.col-sm-3
						span.visible-lg.visible-md
							.stat_box
								.stat_count {{statsarrrel}}
								.stat_label Interconnections
						span.visible-sm
							.stat_box_sm
								.stat_count {{statsarrrel}}
								.stat_label_sm Inter-
								.stat_label_sm
									| connections
					//end column specs 
				//end nested row
				.vertical_spacing_less
				//nested row 
				.row
					//end column specs 
					.col-lg-3.col-md-3.col-sm-3
						span.visible-lg.visible-md
							.stat_box
								.stat_count {{nodestotal+statsarrrel}}
								.stat_label Total Items
						span.visible-sm
							.stat_box_sm
								.stat_count {{nodestotal+statsarrrel}}
								.stat_label_sm Total Items
					//end column specs
				//end nested row
			// end bottom_block
		// end content block
	// end col spec
	.col-lg-3.col-md-3.col-sm-3
		span.visible-lg.visible-md
			.sideblock()
				.block1
					img.img-responsive.pull-left.search_block(src='img/search_large.png', alt='Search icon')
					.home_block_text
						| Searching
						| for information?
					.home_block_text_sm_contain
						.home_block_sm_text
							a.white_link(href='#/search/')| Find now >>
				.block2
					img.img-responsive.pull-left.search_block(src='img/system_large.png', alt='System icon')
					.home_block_text
						| Relationship Explorer
						.coming_soon_wh
							| See if two activities are related
					.home_block_text_sm_contain2
						.home_block_sm_text
							a.white_link(href='#/advancedSearch/')| Explore now >>
				.block3
					.orange_header_narrow 
						| Recent activity
						//span.coming_soon_or
							|  (Coming soon...)
					.thick_border
					table.table.table-striped
						//- tr
						//- 	td.avatar
						//- 		span.glyphicon.glyphicon-user.avatar
						//- 	td.recent_activity
						//- 		| Tom Savel validated the data standard, HL7
						//- 		.small_text_main
						//- 			| 10/09/2014 2:27 PM
						tr(ng-repeat='doc in latestChanges')
							td.avatar
								span.glyphicon.glyphicon-user.avatar
							td.recent_activity
								| {{doc.crdata.CR_USER_DN_CREATE}}
								| {{doc.crdata.CR_REQUEST_TYPE | lowercase}}{{doc.crdata.CR_REQUEST_TYPE === 'ADD' ? 'ed' : 'd'}} 
								| the {{doc.crdata.CR_NODE_TYPE | unCamelCase | lowercase}},
								| {{doc.crdata.name}}

								.small_text_main
									| {{ doc.crdata.CR_DATE_EXECUTED | date :'medium'}}

						

		span.visible-sm
			.sideblock()
				.block1
					img.img-responsive.pull-left.search_block(src='img/search_large.png', alt='Search icon')
					.home_block_text
						| Searching
						| for information?
					.home_block_text_sm_contain
						.home_block_sm_text
							a.white_link(href='#/search/')| Find now >>
				.block2
					img.img-responsive.pull-left.search_block(src='img/system_large.png', alt='System icon')
					.home_block_text
						| Relationship Explorer
						.coming_soon_wh
							| See if two activities are related
					.home_block_text_sm_contain2
						.home_block_sm_text
							a.white_link(href='#/advancedSearch/')| Explore now >>
				.block3
					.orange_header_narrow 
						| Recent activity
						//span.coming_soon_or
							|  (Coming soon...)
					.thick_border
					table.table.table-striped
						//- tr
						//- 	td.avatar
						//- 		span.glyphicon.glyphicon-user.avatar
						//- 	td.recent_activity
						//- 		| Tom Savel validated the data standard, HL7
						//- 		.small_text_main
						//- 			| 10/09/2014 2:27 PM
						tr(ng-repeat='doc in latestChanges')
							td.avatar
								span.glyphicon.glyphicon-user.avatar
							td.recent_activity
								| {{doc.crdata.CR_USER_DN_CREATE}}
								| {{doc.crdata.CR_REQUEST_TYPE | lowercase}}{{doc.crdata.CR_REQUEST_TYPE === 'ADD' ? 'ed' : 'd'}}
								| {{doc.crdata.name}}
								.small_text_main
									| {{ doc.crdata.CR_DATE_EXECUTED | date :'medium'}}
		//- 		.block1
		//- 			img.img-responsive.pull-left.search_block(src='img/search_large_sm.png', alt='Search icon')
		//- 			.home_block_text
		//- 				| Searching
		//- 				| for information?
		//- 			.home_block_text_sm_contain
		//- 				.home_block_sm_text_sm
		//- 					a.white_link(href='#/search/')| Explore now >>
		//- 		.block2
		//- 			img.img-responsive.pull-left.search_block(src='img/system_large_sm.png', alt='System icon')
		//- 			.home_block_text_sm
		//- 				| Work with a
		//- 				| CDC system?
		//- 				.coming_soon_wh
		//- 					| (Coming soon...)
		//- 			.home_block_text_sm_contain2
		//- 				.home_block_sm_text_sm
		//- 					| Log in now >>	
		//- 		.block3
		//- 			.orange_header_narrow
		//- 				| Recent activity:
		//- 				span.coming_soon_or
		//- 					|  (Coming soon...)
		//- 			.thick_border
		//- 			table.table.table-striped
		//- 				tr
		//- 					td.avatar
		//- 						span.glyphicon.glyphicon-user.avatar
		//- 					td.recent_activity_sm
		//- 						| Tom Savel validated the data standard, HL7
		//- 						.small_text_main
		//- 							| 10/09/2014 2:27 PM
		//- 				tr
		//- 					td.avatar
		//- 						span.glyphicon.glyphicon-user.avatar
		//- 					td.recent_activity_sm
		//- 						| Tom Savel updated the data standard, MVX
		//- 						.small_text_main
		//- 							|  10/08/2014 11:19 AM
		//- 				tr
		//- 					td.avatar
		//- 						span.glyphicon.glyphicon-user.avatar
		//- 					td.recent_activity_sm
		//- 						| Tom Savel validated the data standard, MVX
		//- 						.small_text_main
		//- 							|  10/06/2014 1:03 PM
		//- 				tr
		//- 					td.avatar
		//- 						span.glyphicon.glyphicon-user.avatar
		//- 					td.recent_activity_sm
		//- 						| Tom Savel validated the data standard, SNOMED
		//- 						.small_text_main
		//- 							|  10/06/2014 9:43 AM
		//- 				tr
		//- 					td.avatar
		//- 						span.glyphicon.glyphicon-user.avatar
		//- 					td.recent_activity_sm
		//- 						| Tom Savel validated the data standard, LOINC
		//- 						.small_text_main
		//- 							|  10/03/2014 12:17 PM			
		//- 				tr
		//- 					td.avatar
		//- 						span.glyphicon.glyphicon-user.avatar
		//- 					td.recent_activity_sm
		//- 						| Tom Savel updated the data standard, ICD-9
		//- 						.small_text_main
		//- 							|  10/01/2014 4:51 PM
		//- 				tr
		//- 					td.avatar
		//- 						span.glyphicon.glyphicon-user.avatar
		//- 					td.recent_activity_sm
		//- 						| Tom Savel validated the data standard, ICD-9
		//- 						.small_text_main
		//- 							|  09/30/2014 9:18 AM
		//- 				tr
		//- 					td.avatar
		//- 						span.glyphicon.glyphicon-user.avatar
		//- 					td.recent_activity_sm
		//- 						| Tom Savel validated the data standard, DICOM
		//- 						.small_text_main
		//- 							|  09/30/2014 10:31 AM	
			// end side block
	// end col spec
// end row.orange_header Overview

