// new row
.row
	.col-lg-9.col-md-9.col-sm-9
		.content_block
			.top_block
				img.img-responsive.placeholder_image.pull-right(src='img/bacteria.png', alt='bacteria image')
				p
				.orange_header_larger
					| Overview Title
				p
					| hello world, how are you today?  
					| That's nice.  
					| I like you.  You are my {{rays}}.
				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
					| veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
					| commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
					| velit esse cillum dolore eu fugiat nulla pariatur.
				p
					| Duis aute irure dolor in reprehenderit in voluptate
					| velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
					| veniam, quis nostrud exercitation ullamco laboris nisi.
				p
					| Duis aute irure dolor in reprehenderit in voluptate
					| velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
					| veniam, quis nostrud exercitation ullamco laboris nisi.
				p
					| Consectetur adipisicing elit, sed do eiusmod
					| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
					| veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
					| commodo consequat.
			// end top_block
			.carousel_controls
				| [Placeholder for controls]
			// end carousel controls
			.bottom_block
				| Live Statistics [placeholder] NEED to FIX alignment issues]
				div
					div(ng-repeat="stat in statsarr")
						{{stat.label[0]}} , {{stat.count}}


			// end bottom_block
		// end content block
	// end col spec
	.col-lg-3.col-md-3.col-sm-3
		.sideblock(ng-show='showSidebar')
			.block1
				| Searching for information? [placeholder]
			.block2
				| Do you work with? [placeholder]
			.block3
				| Recent activity [placeholder]
		// end side block
	// end col spec
// end row.orange_header Overview

