// new row
.row
	.col-lg-9.col-md-9.col-sm-9
		.content_block
			.top_block
				.carousel_image2
					img.img-responsive.placeholder_image.pull-right(src='img/screenshot_lv.png', alt='Screenshot of CISP')
					.carousel_photo_caption 
						| CISP shows the inconnectivity between resources (e.g., systems, programs, etc.).
				p
				.orange_header_home
					| Welcome
				p.carousel_text
					| The 
					strong CDC Integrated Surveillance Portal (CISP)
					|  is a comprehensive, real-time, interactive resource for CDC, its partners, and the public to explore and discover information about the full inventory of CDC&#8217;s Surveillance Systems, Programs, Registries, Health Surveys, Tools, and Collaboratives. CISP contains not only descriptive information about these CDC resources &#8212; CISP also describes the
					em  relationships
					|  between resources.
				p.carousel_text
					| The information in this tool has been gathered from many sources, including the National Public Health Surveillance and Biosurveillance Registry for Human Health. This portal does not contain raw surveillance data &#8212; it only contains
					em  meta-data
					|  (i.e., data about data) regarding these surveillance activities.
				p.carousel_text
					| Because CISP holds no surveillance data, it holds no personally identifiable information, nor personal health information about cases or persons in these systems.
			// end top_block
			.carousel_controls
				.btn-group
					button.btn.btn-default(type='button')
						span.glyphicon.glyphicon-backward
					button.btn.btn-default.active(type='button') 1
					button.btn.btn-default(type='button') 2
					button.btn.btn-default(type='button') 3
					button.btn.btn-default(type='button') 4
					button.btn.btn-default(type='button')
						span.glyphicon.glyphicon-forward
			// end carousel controls
			.bottom_block
				div.orange_header_carousel
					span.glyphicon.glyphicon-time
					| Live Statistics

				.row
					.col-lg-3.col-md-3.col-sm-3
						.stat_box
							.stat_count {{statsarr['SurveillanceSystem']}}
							.stat_label Surveillance Systems
					//end column specs 
					.col-lg-3.col-md-3.col-sm-3
						.stat_box
							.stat_count {{statsarr['Program']}}
							.stat_label Programs
					//end column specs 
					.col-lg-3.col-md-3.col-sm-3
						.stat_box
							.stat_count {{statsarr['Registry']}}
							.stat_label Registries
					//end column specs 
					//end column specs 
					.col-lg-3.col-md-3.col-sm-3
						.stat_box
							.stat_count {{statsarr['HealthSurvey']}}
							.stat_label Health Surveys
					//end column specs 
				//end nested row 
				.vertical_spacing_less
				//nested row 
				.row
					.col-lg-3.col-md-3.col-sm-3
						.stat_box
							.stat_count {{statsarr['Tool']}}
							.stat_label Tools
					//end column specs 
					.col-lg-3.col-md-3.col-sm-3
						.stat_box
							.stat_count {{statsarr['Dataset']}}
							.stat_label Datasets
					//end column specs 
					.col-lg-3.col-md-3.col-sm-3
						.stat_box
							.stat_count {{statsarr['DataStandard']}}
							.stat_label Data Standards
					//end column specs 
					//end column specs 
					.col-lg-3.col-md-3.col-sm-3
						.stat_box
							.stat_count {{statsarr['Collaborative']}}
							.stat_label Collaboratives
					//end column specs 
				//end nested row 
				.vertical_spacing_less
				//nested row 
				.row
					.col-lg-3.col-md-3.col-sm-3
						.stat_box
							.stat_count {{statsarr['Organization']}}
							.stat_label Organizations
					//end column specs 
					.col-lg-3.col-md-3.col-sm-3
						.stat_box
							.stat_count {{statsarr['Tag']}}
							.stat_label Tags
					//end column specs 
					.col-lg-3.col-md-3.col-sm-3
						.stat_box
							.stat_count {{statsarrrel}}
							.stat_label Interconnections
					//end column specs 
					//end column specs 
					.col-lg-3.col-md-3.col-sm-3
						.stat_box
							.stat_count {{nodestotal+statsarrrel}}
							.stat_label Total Items
					//end column specs 
				//end nested row 


			// end bottom_block
		// end content block
	// end col spec
	.col-lg-3.col-md-3.col-sm-3
		.sideblock(ng-show='showSidebar')
			.block1
				| Searching for information? [placeholder]
			.block2
				| Do you work with? [placeholder]
			.block3
				| Recent activity [placeholder]
		// end side block
	// end col spec
// end row.orange_header Overview

