.navbar-right
	ul.nav.navbar-nav.navbar-right(ng-controller="navBarLoginCtrl")
		li.dropdown
			a.dropdown-toggle(href="")
				|Welcome, {{identity.currentUser.displayName}} 
				b.caret
			ul.dropdown-menu 
				li(ng-show="identity.currentUser.isAdmin()")
					a(href="#/adminCRQueue") CR Queue
				li(ng-show="identity.currentUser.isAdmin()")
					a(href="#/adminCREdit") CR Edit
				li(ng-show="identity.currentUser.isAdmin()")
					a(href="#/adminCRAdd") CR Add
				li 
					a(href="", ng-click="signout()") Logout
			
				

				