.navbar-right(ng-controller="navBarLoginCtrl")
	form.navbar-form(ng-hide="identity.isAuthenticated()")
		.form-group
			input.form-control(placeholder="Username", ng-model="userName")
		.form-group
			input.form-control(type="password", placeholder="Password", ng-model="password")
		button.btn.btn-primary(ng-click="signin(userName,password)") Login
	ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
		li.dropdown
			a.dropdown-toggle(href="")
				|Welcome, {{identity.currentUser.firstName + " " + identity.currentUser.lastName}} 
				b.caret
			ul.dropdown-menu 
				li(ng-show="identity.currentUser.isAdmin()")
					a(href="#/adminCRQueue") CR Queue
				li(ng-show="identity.currentUser.isSU()")
					a(href="#/adminCRAdd") CR Add
				li 
					a(href="", ng-click="signout()") Logout
			
				

				