h1 Name: {{node.name}}
h2 type: {{labels.join()}}
h3 id: {{node.id}}

.panel.panel-default
	.panel-heading Node Attributes
	.panel-body
		table(class="table table-condensed") 
			tr(ng-repeat="att in node.attributes")
				td(class="text-right") 
					strong {{att.key}}
				td {{att.value}}

.panel.panel-default
	.panel-heading Related Nodes
	.panel-body(ng-repeat="relation in relations")
		h3 {{relation.type}}
		table(class="table table-condensed")
			tr(ng-repeat="val in relation.values")
				td.col-xs-1
					strong {{val.id}}
				td {{val.name}}