.panel.panel-default
	.panel-heading Summary
	.panel-body
		h1 Name: {{node.name}}
		h2 type: {{labels.join()}}
		h3 id: {{node.id}}

.panel.panel-default
	.panel-heading Node Attributes
	.panel-body
		table(class="table table-condensed") 
			tr(ng-repeat="att in node.attributes")
				td(class="text-right") 
					strong {{att.key}}
				td {{att.value}}

div(ng-repeat="relation in relations")
	.panel.panel-default
		.panel-heading Related {{relation.name}}s
		.panel-body
			div(ng-repeat="relType in relation.relTypes")		
				h3 {{relType.name}}
				table(class="table table-condensed")
					tr(ng-repeat="node in relType.nodes")
						td.col-xs-1
							a(href="#/node/{{node.id}}")
								strong {{node.id}}
						td {{node.name}}