.row
	.col-lg-9.col-md-9.col-sm-9
		.content_block
			.subnav
				ul.nav.nav-pills
					li
						a(href='#/quickGuide/') Quick Guide
					li
						a(href='#/browse/') Browse
					li.active
						a(href='#/search/') Search
					li
						a(href='#') Advanced Search
					li
						a(href='#') Favorites
			// end subnav
			//- a.btn.btn-custom(onclick='goBack()') Back
			.nav_split
				.btn-group.btn-group-md.btn-group-justified
					.btn-group
						a.btn.btn-custom(href="#/node/{{nodeId}}", id='btnDetails') Details
					.btn-group
						a.btn.btn-default(href='#/linkage/{{nodeId}}', id='btnLinkageViewer') Linkage Viewer
				// end button group
			// end nav_split
			.detail_header.detail_header_text
				| {{node.name}}
				.share_button
					//These lines, 173 - 187, were added 
					//Single button 
					.btn-group
						button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
							span.glyphicon.glyphicon-share
							| &nbsp;Share&nbsp;&nbsp;
							span.caret
						ul.dropdown-menu(role='menu')
							li
								a(href='') Email
							li
								a(href='') Facebook
							li
								a(href='') Twitter
						//end added lines 
			// end detail header
			.top_block
				img(src='img/ajax-loader.gif', alt='Content is Loading', ng-show='contentLoading')
				.orange_header_larger Summary:
				div(ng-show='!contentLoading')
				
					p
						strong Name: &nbsp;
						{{node.name}}
					p
						strong Type: &nbsp;
						{{labels.join() | unCamelCase}}
					p
						strong ID: &nbsp;
						{{node.id}}
					p(ng-show='hasTags')
						strong Tags: &nbsp;
							a(ng-repeat='node in nodeTags' href="#/node/{{node.id}}")
								strong {{node.name}}&nbsp;&nbsp;&nbsp;
					p(ng-show='splitArr3.length')
						strong Purpose: &nbsp;
						&nbsp; {{splitArr3[0].value}}
					.vertical_spacing
					.row
						.col-md-6
							table(class="table")
									tr(ng-repeat="att in splitArr1")
										td
											span.cursor-help(tooltip='{{att.key | attributeDescription}}', tooltip-placement='right') 
												strong {{att.key | unCamelCase}}: &nbsp;
										td
											{{att.value}}
						.col-md-6
							table(class="table")
									tr(ng-repeat="att in splitArr2")
											td.small_col_width
												span.cursor-help(tooltip='{{att.key | attributeDescription}}', tooltip-placement='right') 
													strong {{att.key | unCamelCase}}: &nbsp;
											td {{att.value}}
					.linkage
						.vertical_spacing
						.orange_header_larger Linkage/Relationships:
						tabset
							tab(ng-repeat="relation in relations", heading="{{relation.name | unCamelCase}}")
								div(ng-repeat="relType in relation.relTypes")
									.vertical_spacing		
									.orange_header {{relType.name}}
									table(class="table table-striped")
										tr(ng-repeat="node in relType.nodes")
											td.col-xs-1
												a(href="#/node/{{node.id}}")
													strong {{node.id}}
											td {{node.name}}
					// end linkage
				.com_discuss
					.vertical_spacing
					.orange_header_larger Comments/Discussion:
					.vertical_spacing
					| [Placeholder for comments/discussion content]
				// end com_discuss
		// end content block
	// end col spec
	.col-lg-3.col-md-3.col-sm-3
		.hx_side(ng-show='showSidebar')
			| Exploration History [placeholder]
		// end hx_side
	// end col spec
// end row
// 
