.row
	.col-lg-9.col-md-9.col-sm-9
		.content_block
			.subnav
				ul.nav.nav-pills.pills_custom
					li
						a(href='#') Quick Guide
					li
						a(href='#') Browse
					li.active
						a(href='#') Search
					li
						a(href='#') Advanced Search
					li
						a(href='#') Favorites
			// end subnav
			.backlink
				span.glyphicon.glyphicon-circle-arrow-left
				| &nbsp;Back to search results
			// end backlink class
			.entity_name
				| &nbsp;{{node.name}}
			// end entity_name class
			.nav_split
				.btn-group.btn-group-md.btn-group-justified
					.btn-group
						a.btn.btn-primary(href="#/node/{{nodeId}}", id='btnDetails') Details
					.btn-group
						a.btn.btn-default(href='#/linkage/{{nodeId}}', id='btnLinkageViewer') Linkage Viewer
				// end button group
			// end nav_split
			.detail_header
				| [Placeholder for entity's header content]
			// end detail header
			.top_block
				.orange_header Summary:
				p 
					| Name: {{node.name}}
				p 
					| Type: {{labels.join()}}
				p 
					| Id: {{node.id}}
				.linkage
					.vertical_spacing
					.orange_header Node Attributes
					table(class="table table-condensed") 
						tr(ng-repeat="att in node.attributes")
							td(class="text-right") 
								strong {{att.key}}
							td {{att.value}}
					.orange_header Linkage/Relationships:
					tabset
						tab(ng-repeat="relation in relations", heading="{{relation.name}}")
							div(ng-repeat="relType in relation.relTypes")
								.vertical_spacing		
								.orange_header {{relType.name}}
								table(class="table table-condensed")
									tr(ng-repeat="node in relType.nodes")
										td.col-xs-1
											a(href="#/node/{{node.id}}")
												strong {{node.id}}
										td {{node.name}}
				// end linkage
				.com_discuss
					.vertical_spacing
					.orange_header Comments/Discussion:
					.vertical_spacing
					| [Placeholder for comments/discussion content]
				// end com_discuss
		// end content block
	// end col spec
	.col-lg-3.col-md-3.col-sm-3
		.hx_side
			| Exploration History [placeholder]
		// end hx_side
	// end col spec
// end row
// row