.row
	.col-lg-9.col-md-9.col-sm-9
		.content_block
			.subnav
				ul.nav.nav-pills
					li
						a(href='#/quickGuide/') Quick Guide
					li
						a(href='#/browse/') Browse
					li.active
						a(href='#/search/') Search
					li
						a(href='#') Advanced Search
					li
						a(href='#') Favorites
			// end subnav
			a.btn.btn-custom(onclick='goBack()') Back
			//- .backlink
			//- 	span.glyphicon.glyphicon-circle-arrow-left
			//- 	a(href='#' onclick='goBack(); return false;') &nbsp;Back to search results
				
			//- // end backlink class
			//- .entity_name
			//- 	| &nbsp;{{node.name}}
			//- // end entity_name class
			.nav_split
				.btn-group.btn-group-md.btn-group-justified
					.btn-group
						a.btn.btn-custom(href="#/node/{{nodeId}}", id='btnDetails') Details
					.btn-group
						a.btn.btn-default(href='#/linkage/{{nodeId}}', id='btnLinkageViewer') Linkage Viewer
				// end button group
			// end nav_split
			.share_button
				//These lines, 173 - 187, were added 
				//Single button 
				.btn-group
					button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
						span.glyphicon.glyphicon-share
						| &nbsp;Share&nbsp;&nbsp;
						span.caret
					ul.dropdown-menu(role='menu')
						li
							a(href='#') Email
						li
							a(href='#') Facebook
						li
							a(href='#') Twitter
					//end added lines 
			.detail_header.detail_header_text
				| {{node.name}}
			// end detail header
			.top_block
				img(src='img/ajax-loader.gif', alt='Content is Loading', ng-show='contentLoading')
				.orange_header Summary:
				div(ng-show='!contentLoading')
					p 
						strong &nbsp; Name: &nbsp;
						{{node.name}}
					p 
						strong &nbsp; Type: &nbsp; 
						{{labels.join()|unCamelCase}}
					p 
						strong &nbsp; ID: &nbsp;
						{{node.id}}
					.row
						.col-sm-6.col-sm-6.col-sm-6
							table(class="table table-condensed")
									tr(ng-repeat="att in splitArr1")
											td(class="detail_column") 
												strong {{att.key | unCamelCase}}:
											td {{att.value}}
						.col-sm-6.col-sm-6.col-sm-6
							table(class="table table-condensed")
									tr(ng-repeat="att in splitArr2")
											td(class="detail_column") 
												strong {{att.key | unCamelCase}}:
											td {{att.value}}
					.linkage
						.vertical_spacing
						.orange_header Linkage/Relationships:
						tabset
							tab(ng-repeat="relation in relations", heading="{{relation.name | unCamelCase}}")
								div(ng-repeat="relType in relation.relTypes")
									.vertical_spacing		
									.orange_header {{relType.name}}
									table(class="table table-striped")
										tr(ng-repeat="node in relType.nodes")
											td.col-xs-1
												a(href="#/node/{{node.id}}")
													strong {{node.id}}
											td {{node.name}}
					// end linkage
				.com_discuss
					.vertical_spacing
					.orange_header Comments/Discussion:
					.vertical_spacing
					| [Placeholder for comments/discussion content]
				// end com_discuss
		// end content block
	// end col spec
	.col-lg-3.col-md-3.col-sm-3
		.hx_side
			| Exploration History [placeholder]
		// end hx_side
	// end col spec
// end row
// 
