.row
	.div(ng-class='getContentWidth()')
		.content_block
			.subnav
				ul.nav.nav-pills
					li
						a(href='#/quickGuide/') Quick Guide
					li
						a(href='#/browse/') Browse
					li.active
						a(href='#/search/') Search
					li
						a(href='') Advanced Search
					li
						a(href='') Favorites
			// end subnav
			//- a.btn.btn-custom(onclick='goBack()') Back
			.nav_split
				.btn-group.btn-group-md.btn-group-justified
					.btn-group
						a.btn.btn-custom(href="#/node/{{nodeId}}", id='btnDetails') Details
					.btn-group
						a.btn.btn-default(href='#/linkage/{{nodeId}}', id='btnLinkageViewer') Linkage Viewer
				// end button group
			// end nav_split
			.detail_header.detail_header_text
				| {{node.name}}
				.share_button
					//These lines, 173 - 187, were added 
					//Single button 
					.btn-group
						button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
							span.glyphicon.glyphicon-share
							| &nbsp;Share&nbsp;&nbsp;
							span.caret
						ul.dropdown-menu(role='menu')
							li
								a(href='') Email
							li
								a(href='') Facebook
							li
								a(href='') Twitter
						//end added lines 
			// end detail header
			.top_block
				img(src='img/ajax-loader.gif', alt='Content is Loading', ng-show='contentLoading')
				div(ng-show='!contentLoading')
					.row
						.col-lg-12
							div(ng-repeat='label in labels')
								div(ng-repeat='group in labelGroups(label)', ng-show='showGroup(group)')
									.orange_header_larger {{group.heading}}
									table.table
										tr(ng-repeat='attribute in labelGroupAttributes(group)')
											td(style="width: 300px;")
												span.cursor-help(tooltip='{{attribute.description}}', tooltip-placement='right') 
													strong {{attribute.displayLabel}}
											td(ng-if='!isUrl(attribute.value)')
												{{attribute.value}}
											td(ng-if='isUrl(attribute.value)')
												a(href='{{attribute.value}}' target='_blank') 
													{{attribute.value}}
										tr(ng-if='group.heading == "Summary"')
											td(style="width: 300px;")
												strong Type
											td {{labels.join() | unCamelCase}}
										tr(ng-if='group.heading == "Summary" && hasTags')
											td(style="width: 300px;")
												strong Tags
											td
												a(ng-repeat='node in nodeTags', href="#/node/{{node.id}}", style='padding-right:15px')
														strong {{node.name}}
					.row
						.col-lg-12						
							.panel.panel-default
								.panel-heading
									h2.cursor-pointer.panel-title(ng-click="isCollapsed = !isCollapsed") Attributes without values
										span.caret
								.panel-body(collapse='isCollapsed', ng-repeat='label in labels')
									div(ng-repeat='group in labelGroups(label)', ng-show='hideGroup(group)')
										h3 {{group.heading}}
										table.table
											tr(ng-repeat='attribute in hiddenGroupAttributes(group)')
												td
													span.cursor-help(tooltip='{{attribute.description}}', tooltip-placement='right') 
														strong {{attribute.displayLabel}}
					.linkage
						.vertical_spacing
						.orange_header_larger Linkage/Relationships:
						tabset
							tab(ng-repeat="relation in relations", heading="{{relation.name | unCamelCase}}")
								div(ng-repeat="relType in relation.relTypes")
									.vertical_spacing		
									.orange_header {{relType.name}}
									table(class="table table-striped")
										tr(ng-repeat="node in relType.nodes")
											td.col-xs-1
												a(href="#/node/{{node.id}}")
													strong {{node.id}}
											td {{node.name}}
					// end linkage
				.com_discuss
					.vertical_spacing
					.orange_header_larger Comments/Discussion:
					.vertical_spacing
					| [Placeholder for comments/discussion content]
				// end com_discuss
		// end content block
	// end col spec
	.div(ng-class='getSidebarWidth()')
		.hx_side(ng-show='!showSidebar' ng-click='toggleSidebar()')
			.blue_side
			.button_side
				.sidebar_button
					img(src='img/tab_button_collapse.png', alt='Collapse sidebar')				
		// end hx_side
		.hx_side(ng-show='showSidebar' ng-click='toggleSidebar()')
			.blue_side_expanded
			.button_side_expanded
				.sidebar_button
					img(src='img/tab_button_expand.png', alt='Expand sidebar')				
		// end hx_side
	// end col spec
// end row
// 