// new row
.row
	.div(ng-class='getContentWidth()')
		.content_block_faq
			span.visible-md.visible-lg
				.subnav
					ul.nav.nav-pills
						li
							a(href='#/quickGuide/') Quick Guide
						li
							a(href='#/browse/') Browse
						li
							a(href='#/search/') Search
						li
							a(href='#/advancedSearch/') Relationship Explorer
						li
							a(href='' class='inactive') Favorites
						li.active
							a(href='#/inTheLab/') In the Lab
				// end subnav
			span.visible-sm
				.subnav_sm
					ul.nav.nav-pills
						li
							a(href='#/quickGuide/') Quick Guide
						li
							a(href='#/browse/') Browse
						li
							a(href='#/search/') Search
						li
							a(href='#/advancedSearch/') Relationship Explorer
						li
							a(href='' class='inactive') Favorites
						li.active
							a(href='#/inTheLab/') In the Lab
				// end subnav
			//- a.btn.btn-custom(onclick='goBack()') Back
			//- .nav_split
			//- 	.btn-group.btn-group-md.btn-group-justified
			//- 		.btn-group
			//- 			a.btn.btn-custom(href="#/dashboard", id='btnDashboard') Summary
			//- 		.btn-group
			//- 			a.btn.btn-default(href='#/dashboarddetail', id='btnDashboardDetail') Detail
			//- 	// end button group
			//- // end nav_split
			.top_block_faq
				h4.orange_main_faq(ng-click="print()")
					span.glyphicon.glyphicon-comment.icon-flipped.faq_icon
					| Ad Hoc Query Tool
				.vertical_spacing_browse
				.vertical_spacing_lesser
				.row
					.col-lg-6.col-md-6.col-sm-6.gray_text(ng-hide="q_actname")
						.orange_header_larger
							| 1: Name of the activity to search
						.query-nobordered				
							.txtb(ng-repeat="txtcount in txtboxcount")
								.row
									.col-lg-10.col-md-10.col-sm-10
										input(id="{{'stxt_'+txtcount.tcount}}" type="text" ng-model="txtboxval[txtcount.tcount]"  placeholder="Search activity" typeahead-on-select="itemSelected($item, $model, $label,\"{{'stxt_'+txtcount.tcount}}\")" typeahead-min-length='3' typeahead="node.name for node in getNodes($viewValue)" class="form-control")
									.col-lg-2.col-md-2.col-sm-2
										label.btn.pull-right(ng-if="txtcount.tcount>0" ng-click="removetxtbox(txtcount.tcount)")
											i.fa.fa-times
								.vertical_spacing_lesser
							label.btn.btn-default( ng-click="addtxtbox()")
								i.fa.fa-plus
						//.vertical_spacing_less
						//label.btn.btn-default(ng-click="values()" ng-disabled="searchbtndisabled")
							i.fa.fa-chevron-circle-right
							| Search
					.col-lg-6.col-md-6.col-sm-6.gray_text(ng-hide="q_acttypes")
						.orange_header_larger
							| 2: Related activity types
						.query-bordered
							.checkbox(ng-repeat="activitytype in activitytypes")
								input(type="checkbox" ng-model="chkactvs[activitytype.nodetypes]" ng-change="checkrelbtnstatus()")
								| {{activitytype.nodetypes  | unCamelCase}}
						.vertical_spacing_less
						label.btn.btn-default(ng-click="getrelatedactivitytypes()" ng-disabled="nextrelbtndisabled")
							i.fa.fa-chevron-circle-right
							| Search
					//.col-lg-4.col-md-4.col-sm-4.gray_text(ng-hide="q_rel")
						.orange_header_larger
							| 2: Select relationships with these activities
						.query-bordered
							.checkbox(ng-repeat="rel in reltypes")
								input(type="checkbox" ng-model="chkrels[rel.relname]" ng-change="checkactbtnstatus()")
								| {{rel.relname  | TitleCase | unCamelCase}}
						.vertical_spacing_less
						label.btn.btn-default( ng-click="nextactname()" ng-disabled="nextactbtndisabled")
							i.fa.fa-chevron-circle-right
							| Next
					
					//- .col-lg-3.col-md-3.col-sm-3.gray_text(ng-hide="q_search")
					//- 	.orange_header_larger
					//- 		| 4: Click search
					//- 	//.vertical_spacing_more
					//- 	label.btn.btn-default(id='btn_search' ng-disabled='disableinccon' ng-click="values()")
					//- 		i.fa.fa-chevron-circle-right
					//- 		| Search
				.vertical_spacing_more
				.row(ng-hide="q_results")
					.col-lg-12.col-md-12.col-sm-12
						.orange_header_larger
							| Ad-Hoc Query Results
				.row(ng-hide="q_results")
					.col-lg-12.col-md-12.col-sm-12
						.row
							.col-lg-6.col-md-6.col-sm-6
							.col-lg-6.col-md-6.col-sm-6
								.faq_footnote.pull-right
									{{totalItems}} activities returned
						.row
							.col-lg-6.col-md-6.col-sm-6
							.col-lg-6.col-md-6.col-sm-6
								pagination.pull-right(total-items="totalItems" ng-model="currentPage" max-size="maxSize" items-per-page="itemsPerPage" class="pagination-sm" boundary-links="true" ng-change="pageChanged()")								
						.vertical_spacing_less
						.row(ng-repeat="row in adhocresultspag")
							.col-lg-12.col-md-12.col-sm-12
								.row
									.col-lg-4.col-md-4.col-sm-4
										a(href="#/advancedSearch/{{row.aid+'-'+row.bid}}")
											| {{row.bname}} ({{row.btype}})
									.col-lg-8.col-md-8.col-sm-8
										.fg_placeholder.forcegraph-bordered(id="fg_{{row.aid+row.bid}}" attribute-divid="fg_{{row.aid+row.bid}}" ng-force-graph attribute-readytoload=true  attribute-percent=10 attribute-nodelinks="{{row.pathlinks}}" attribute-nodes="{{row.pathnodes}}")
								.vertical_spacing_less			
						//.row	
							.col-lg-12.col-md-12.col-sm-12
								//{{totalItems}} activities returned
						//.row(ng-repeat="row in adhocresultspag")	
							.col-lg-12.col-md-12.col-sm-12
								.row
									.col-lg-12.col-md-12.col-sm-12
										{{row.bname}} ({{row.btype}})
								.row
									.col-lg-12.col-md-12.col-sm-12
										.fg_placeholder.forcegraph-bordered(id="fg_{{row.aid+row.bid}}" attribute-divid="fg_{{row.aid+row.bid}}" ng-force-graph attribute-readytoload=true  attribute-percent=10 attribute-nodelinks="{{row.pathlinks}}" attribute-nodes="{{row.pathnodes}}")										
				
						//table.table
							thead
								tr
									th
										//a(href="" ng-click="reverse=!reverse;orderByField='name'")
										| {{totalItems}} activities returned
									//th
										//a(href="" ng-click="reverse=!reverse;orderByField='validationstatus'")
										| Shared Relationship
									//th
										//a(href="" ng-click="reverse=!reverse;orderByField='name'")
										| Searched Activity
									//th
										//a(href="" ng-click="reverse=!reverse;orderByField='name'")
										| Path Nodes
									//th
										//a(href="" ng-click="reverse=!reverse;orderByField='name'")
										| Path Links
							tbody
								tr( ng-repeat="row in adhocresultspag")
									td(data-title="'Name'")
										.row
											.col-lg-6.col-md-6.col-sm-6
												a(href="#/node/{{b.bid}}")
												| {{row.bname}} ({{row.btype}})
											.col-lg-6.col-md-6.col-sm-6
												.fg_placeholder.forcegraph-bordered(id="fg_{{row.aid+row.bid}}" attribute-divid="fg_{{row.aid+row.bid}}" ng-force-graph attribute-readytoload=true  attribute-percent=10 attribute-nodelinks="{{row.pathlinks}}" attribute-nodes="{{row.pathnodes}}")										
		
									//td(data-title="'Relationship'" )
										| {{row.rel}}
									//td(data-title="'Name'")
										//.fg_placeholder(id="fg_{{row.aid+row.bid}}" attribute-divid="fg_{{row.aid+row.bid}}" ng-force-graph attribute-readytoload=true  attribute-percent=10 attribute-nodelinks="{{row.pathlinks}}" attribute-nodes="{{row.pathnodes}}")
										//a(href="#/node/{{b.aid}}")
											| {{row.aname}}
									//td(data-title="'Name'")
										a(href="#/node/{{b.aid}}")
											| {{row.pathnodes}}
									//td(data-title="'Name'")
										a(href="#/node/{{b.aid}}")
											| {{row.pathlinks}}

				//- .row(ng-hide="q_results")
				//- 	.col-lg-4.col-md-4.col-sm-4
				//- 		a(href="" ng-click="reverse=!reverse;orderByField='name'")
				//- 			| Returned Activities
				//- 	//.col-lg-2.col-md-2.col-sm-2
				//- 		a(href="" ng-click="reverse=!reverse;orderByField='type'")
				//- 			| Type
				//- 	.col-lg-2.col-md-2.col-sm-2
				//- 		a(href="" ng-click="reverse=!reverse;orderByField='validationstatus'")
				//- 			| Shared Relationship
				//- 	.col-lg-4.col-md-4.col-sm-4
				//- 		a(href="" ng-click="reverse=!reverse;orderByField='name'")
				//- 			| Searched Activity
				//- .vertical_spacing_less
				//- .row.validationstatus_table( ng-repeat="row in adhocresults")
				//- 	.col-lg-4.col-md-4.col-sm-4(data-title="'Name'")
				//- 		a(href="#/node/{{b.bid}}")
				//- 			| {{row.bname}} ({{row.btype}})
				//- 	//.col-lg-2.col-md-2.col-sm-2(data-title="'Type'")
				//- 		| {{row.btype}}
				//- 	.col-lg-2.col-md-2.col-sm-2(data-title="'Relationship'" )
				//- 		| {{row.rel}}
				//- 	.col-lg-4.col-md-4.col-sm-4(data-title="'Name'")
				//- 		a(href="#/node/{{b.aid}}")
				//- 			| {{row.aname}}
				//- 	.vertical_spacing_lesser		
				//- .vertical_spacing_lesser

				
				//end nested row
				
		// end content block
	// end col spec
// end row.orange_header Overview