// row
.row
  .div(ng-class='getContentWidth()')
    .content_block
      span.visible-md.visible-lg
        .subnav
          ul.nav.nav-pills
            li.active
              a(href='#/quickGuide/') Quick Guide
            li
              a(href='#/browse/') Browse
            li
              a(href='#/search/') Search
            li
              a(href='#/advancedSearch/') Relationship Explorer
            li
              a(href='' class='inactive') Favorites
            li
              a(href='#/inTheLab/') In the Lab
        // end subnav
      span.visible-sm
        .subnav_sm
          ul.nav.nav-pills
            li.active
              a(href='#/quickGuide/') Quick Guide
            li
              a(href='#/browse/') Browse
            li
              a(href='#/search/') Search
            li
              a(href='#/advancedSearch/') Relationship Explorer
            li
              a(href='' class='inactive') Favorites
            li
              a(href='#/inTheLab/') In the Lab
        // end subnav 
      .instructive_text
          p.gray_text
            | If you're not sure where to start, 
            Strong Quick Guide 
            |  is a good place to begin. Below is a list of frequently-accessed Diseases and Conditions.  They're listed in alphabetical order.  Once you click on the link,  you'll be provided an overview of the selected topic, as well as relevant links to external sites and related CISP resources.  
            span.glyphicon.glyphicon-envelope.addbrowse
            |  If you have any comments or questions, please contact us at 
            a(href='mailto:informaticslab@cdc.gov')  informaticslab@cdc.gov
            | .
            .vertical_spacing
      .azlist_header
        span.glyphicon.glyphicon-list
        | &nbsp; Topics (In development)
      .row.alph_terms
        // nested row
        .col-lg-3.col-md-3.col-sm-3
          .letter_header A
          .qg_term
            | ADHD
          .qg_term
            | Alzheimer's Disease
          .qg_term
            | Arthritis
          .qg_term
            | Asthma
          .qg_term
            | Autism
          .qg_term
            | Avian Influenza
          .letter_header B
          .qg_term
            | Birth Defects
          .letter_header C
          .qg_term
            | Cancer
          .qg_term
            | Chlamydia
          .qg_term
            | Chronic Fatigue Syndrome
          .letter_header D
          .qg_term
            | Diabetes
        // end column specs
        .col-lg-3.col-md-3.col-sm-3
          .letter_header E
          .qg_term
            | Epilepsy
          .letter_header F
          .qg_term
            a(ng-click='goToTop()' href='#/quickGuide/foodBorneIllness') Foodborne Illness
          .qg_term
            | Fetal Alcohol Syndrome
          .qg_term
            | Flu (Influeza)
          .letter_header G
          .qg_term
            | Genital Herpes (Herpes Simplex Virus)
          .qg_term
            | Giardiasis
          .qg_term
            | Gonorrhea
          .letter_header H
          .qg_term
            | Heart
          .qg_term
            | Hepatitis
          .qg_term
            | HIV/ AIDS
          .qg_term
            | HPV (Human papillomavirus)
        // end column specs
        .col-lg-3.col-md-3.col-sm-3
          .letter_header M
          .qg_term
            | Meningitis
          .qg_term
            | MRSA (Methicillin Resistant Staphylococcus aureus)
          .letter_header O
          .qg_term
            | Obesity
          .letter_header S
          .qg_term
            | Salmonella
          .qg_term
            | Scabies
          .qg_term
            | Sexually Transmitted Diseases
          .qg_term
            | Stroke
          .letter_header T
          .qg_term
            | Traumatic Brain Injury (TBI)
          .qg_term
            | Trichomonas Infection (Trichomoniasis)
          .qg_term
            | Tuberculosis (TB)
        // end column specs
        .col-lg-3.col-md-3.col-sm-3
          .letter_header W
          .qg_term
            | Water-related Diseases
        // end column specs
      // end row
  // end content block
  // end col spec
  .div(ng-class='getSidebarWidth()')
    .hx_side(ng-show='!showSidebar' ng-click='toggleSidebar()')
      .blue_side
        .blue_side_text
          | Your Exploration History:
        .sidebar_now
          div.sidebar_repeat(ng-Historybar)
      .button_side
        .sidebar_button
          img(src='img/tab_button_collapse.png', alt='Collapse sidebar')        
    // end hx_side
    .hx_side(ng-show='showSidebar' ng-click='toggleSidebar()')
      .blue_side_expanded
      .button_side_expanded
        .sidebar_button
          img(src='img/tab_button_expand.png', alt='Expand sidebar')        
    // end hx_side
// end row