// row
.row
	.col-lg-11.col-md-11.col-sm-11
		.content_block
			.subnav
				ul.nav.nav-pills.pills_custom
					li.active
						a(href='#/quickGuide/') Quick Guide
					li
						a(href='#/browse/') Browse
					li
						a(href='#/search/') Search
					li
						a(href='#') Advanced Search
					li
						a(href='#') Favorites
			// end subnav
			.instructive_text
				span.glyphicon.glyphicon-envelope.addbrowse
				|  Please let us know if you'd like to see a
				strong  new topic 
				|  added to this list. Contact us at
				a(href='mailto:integratedsurveillance@cdc.gov')  integratedsurveillance@cdc.gov
				| .
			h4.orange_main Browse by featured topics:
			.row
				// nested row
				.col-lg-4.col-md-4.col-sm-4
					.topics_block
						.block_header
							img(src='img/germ.png', alt='bacteria icon') 
							|  A
						// end block header
						.row
							.col-lg-6.col-md-6.col-sm-6
								.browse_topics
									p
										a(href='#/search/Hepatitis') Aging
									p
										a(href='#/node/P2') Alcohol
									p
										a(href='#/node/P3') Arthritis
									p
										a(href='#/node/P3') Asthma
									p
										a(href='#/node/P1') Autism
							// end col specs
							.col-lg-6.col-md-6.col-sm-6
								.browse_topics
									p
										a(href='#/foodBorneIllness') Foodborne Illness
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
							// end col specs
						// end topics_block
					// end nested sub-row
				// end column specs
				.col-lg-4.col-md-4.col-sm-4
					.topics_block
						.block_header
							img(src='img/heart.png', alt='heart icon') 
							|  Chronic Disease
						// end block header
						.row
							.col-lg-6.col-md-6.col-sm-6
								.browse_topics
									p
										a(href='#') Arthritis
									p
										a(href='#') Diabetes
									p
										a(href='#') Heart Disease
									p
										a(href='http://4.bp.blogspot.com/_6jCnBvPbyno/SbjQ5oHbFOI/AAAAAAAAAHc/jq0lnxiuQ5A/s1600-h/diabeetus') Diabeetus
									p
										a(href='#') Relevant Topic
							// end col specs
							.col-lg-6.col-md-6.col-sm-6
								.browse_topics
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
							// end col specs
						// end topics_block
					// end nested sub-row
				// end column specs
				.col-lg-4.col-md-4.col-sm-4
					.topics_block
						.block_header
							span.glyphicon.glyphicon-leaf 
							|  Environmental Health
						// end block header
						.row
							.col-lg-6.col-md-6.col-sm-6
								.browse_topics
									p
										a(href='#') Asbestos
									p
										a(href='#') Asthma
									p
										a(href='#') Mold
									p
										a(href='#') Radon
									p
										a(href='#') Relevant Topic
							// end col specs
							.col-lg-6.col-md-6.col-sm-6
								.browse_topics
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
							// end col specs
						// end topics_block
					// end nested sub-row
				// end column specs
			// end row
			// 2ND ROW
			.row.vertical_spacing_more
				// nested row
				.col-lg-4.col-md-4.col-sm-4
					.topics_block
						.block_header
							img(src='img/placeholder_icon.png', alt='') 
							|  Category Title
						// end block header
						.row
							.col-lg-6.col-md-6.col-sm-6
								.browse_topics
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
							// end col specs
							.col-lg-6.col-md-6.col-sm-6
								.browse_topics
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
							// end col specs
						// end topics_block
					// end nested sub-row
				// end column specs
				.col-lg-4.col-md-4.col-sm-4
					.topics_block
						.block_header
							img(src='img/placeholder_icon.png', alt='') 
							|  Category Title
						// end block header
						.row
							.col-lg-6.col-md-6.col-sm-6
								.browse_topics
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
							// end col specs
							.col-lg-6.col-md-6.col-sm-6
								.browse_topics
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
							// end col specs
						// end topics_block
					// end nested sub-row
				// end column specs
				.col-lg-4.col-md-4.col-sm-4
					.topics_block
						.block_header
							img(src='img/placeholder_icon.png', alt='') 
							|  Category Title
						// end block header
						.row
							.col-lg-6.col-md-6.col-sm-6
								.browse_topics
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
							// end col specs
							.col-lg-6.col-md-6.col-sm-6
								.browse_topics
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
							// end col specs
						// end topics_block
					// end nested sub-row
				// end column specs
			// end row
			// END 2ND ROW
			// 3RD ROW
			.row.vertical_spacing_more
				// nested row
				.col-lg-4.col-md-4.col-sm-4
					.topics_block
						.block_header
							img(src='img/placeholder_icon.png', alt='') 
							| Category Title
						// end block header
						.row
							.col-lg-6.col-md-6.col-sm-6
								.browse_topics
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
							// end col specs
							.col-lg-6.col-md-6.col-sm-6
								.browse_topics
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
							// end col specs
						// end topics_block
					// end nested sub-row
				// end column specs
				.col-lg-4.col-md-4.col-sm-4
					.topics_block
						.block_header
							img(src='img/placeholder_icon.png', alt='') 
							|  Category Title
						// end block header
						.row
							.col-lg-6.col-md-6.col-sm-6
								.browse_topics
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
							// end col specs
							.col-lg-6.col-md-6.col-sm-6
								.browse_topics
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
							// end col specs
						// end topics_block
					// end nested sub-row
				// end column specs
				.col-lg-4.col-md-4.col-sm-4
					.topics_block
						.block_header
							img(src='img/placeholder_icon.png', alt='') 
							|  Category Title
						// end block header
						.row
							.col-lg-6.col-md-6.col-sm-6
								.browse_topics
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
							// end col specs
							.col-lg-6.col-md-6.col-sm-6
								.browse_topics
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
									p
										a(href='#') Relevant Topic
							// end col specs
						// end topics_block
					// end nested sub-row
				// end column specs
			// end row
			// END 3RD ROW
	// end content block
	// end col spec
	.col-lg-1.col-md-1.col-sm-1
		.hx_side
			span.small_text
				| Tab
		// end hx_side
	// end col spec
// end row