// row
.row
  .col-lg-11.col-md-11.col-sm-11
    .content_block
      .subnav
        ul.nav.nav-pills
          li.active
            a(href='#/quickGuide/') Quick Guide
          li
            a(href='#/browse/') Browse
          li
            a(href='#/search/') Search
          li
            a(href='#') Advanced Search
          li
            a(href='#') Favorites
      // end subnav
      .instructive_text
        | We&#39;ve curated these topics to speed up your exploration of
        strong data sets
        | and
        strong systems
        | . Let us know if you&#39;d like to see a new topic added to the list.
        span.glyphicon.glyphicon-envelope.addbrowse
        | Contact us at
        a(href='mailto:integratedsurveillance@cdc.gov') integratedsurveillance@cdc.gov
        | .
      .highlights
        .inside_title Title of Selected Highlight
        img.img-responsive.highlight_photo.pull-right(src='img/asthma.png', alt='highlight sample photo')
        .highlight_txt
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          p
            | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
          p
            | Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel
            a(href='#') illum qui dolorem eum fugiat quo voluptas
            | ratione nulla pariatur.
        // end highlight txt
        .highlight_controls
          .btn-group
            button.btn.btn-default(type='button')
              span.glyphicon.glyphicon-backward
            button.btn.btn-default.active(type='button') 1
            button.btn.btn-default(type='button') 2
            button.btn.btn-default(type='button') 3
            button.btn.btn-default(type='button') 4
            button.btn.btn-default(type='button')
              span.glyphicon.glyphicon-forward
        // end highlight controls
      .vertical_spacing_more
      .azlist_header
        span.glyphicon.glyphicon-list
        | View Data and Systems by Topic
      .row.alph_terms
        // nested row
        .col-lg-3.col-md-3.col-sm-3
          .letter_header A
          .qg_term
            a(href='#') ADHD
          .qg_term
            a(href='#') Alzheimer's Disease
          .qg_term
            a(href='#') Arthritis
          .qg_term
            a(href='#') Asthma
          .qg_term
            a(href='#') Autism
          .qg_term
            a(href='#') Avian Influenza
          .letter_header B
          .qg_term
            a(href='#') Birth Defects
          .letter_header C
          .qg_term
            a(href='#') Cancer
          .qg_term
            a(href='#') Chlamydia
          .qg_term
            a(href='#') Chronic Fatigue Syndrome
          .letter_header D
          .qg_term
            a(href='#') Diabetes
        // end column specs
        .col-lg-3.col-md-3.col-sm-3
          .letter_header E
          .qg_term
            a(href='#') Epilepsy
          .letter_header F
          .qg_term
            a(href='#/quickGuide/foodBorneIllness') Foodborne Illness
          .qg_term
            a(href='#') Fetal Alcohol Syndrome
          .qg_term
            a(href='#') Flu (Influeza)
          .letter_header G
          .qg_term
            a(href='#') Genital Herpes (Herpes Simplex Virus)
          .qg_term
            a(href='#') Giardiasis
          .qg_term
            a(href='#') Gonorrhea
          .letter_header H
          .qg_term
            a(href='#') Heart
          .qg_term
            a(href='#') Hepatitis
          .qg_term
            a(href='#') HIV/ AIDS
          .qg_term
            a(href='#') HPV (Human papillomavirus)
        // end column specs
        .col-lg-3.col-md-3.col-sm-3
          .letter_header M
          .qg_term
            a(href='#') Meningitis
          .qg_term
            a(href='#') MRSA (Methicillin Resistant Staphylococcus aureus)
          .letter_header O
          .qg_term
            a(href='#') Obesity
          .letter_header S
          .qg_term
            a(href='#') Salmonella
          .qg_term
            a(href='#') Scabies
          .qg_term
            a(href='#') Sexually Transmitted Diseases
          .qg_term
            a(href='#') Stroke
          .letter_header T
          .qg_term
            a(href='#') Traumatic Brain Injury (TBI)
          .qg_term
            a(href='#') Trichomonas Infection (Trichomoniasis)
          .qg_term
            a(href='#') Tuberculosis (TB)
        // end column specs
        .col-lg-3.col-md-3.col-sm-3
          .letter_header W
          .qg_term
            a(href='#') Water-related Diseases
        // end column specs
      // end row
  // end content block
  // end col spec
  .col-lg-1.col-md-1.col-sm-1
    .hx_side
      span.small_text
        | Tab
    // end hx_side
  // end col spec
// end row