// row
.row
	.col-lg-11.col-md-11.col-sm-11
		.content_block
			.subnav
				ul.nav.nav-pills
					li.active
						a(href='#/quickGuide/') Quick Guide
					li
						a(href='#/browse/') Browse
					li
						a(href='#/search/') Search
					li
						a(href='#') Advanced Search
					li
						a(href='#') Favorites
			// end subnav
			.instructive_text
				|  We've curated these topics to speed up your exploration of 
				strong  data sets 
				| and 
				strong  systems.
				|  Let us know if you'd like to see a new topic added to the list. Contact us at
				a(href='mailto:integratedsurveillance@cdc.gov')  integratedsurveillance@cdc.gov
				| .
			//h4.orange_main View Data and Systems by Topic
			h4.detail_header View Data and Systems by Topic
			// end detail header
			.row
				.col-lg-3.col-md-3.col-sm-3
					.row
							.col-lg-6.col-md-6.col-sm-6
								.browse_topics
									P
									| A
									p
										a() ADHD
									p
										a() Arthritis
									p
										a() Asthma
									p
										a() Autism
									p
										a() Avian Influenza
									p
										a() Arthritis
									p
										a() Asthma
									p
										a() Autism
							// end col specs
					// end nested sub-row
					.row.vertical_spacing_more
					.row
							.col-lg-6.col-md-6.col-sm-6
								.browse_topics
									P
									| B
									p
										a() Birth Defects
							// end col specs
					// end nested sub-row
					.row.vertical_spacing_more
					.row
							.col-lg-6.col-md-6.col-sm-6
								.browse_topics
									P
									| C
									p
										a() Cancer
									p
										a() Chlamydia
									p
										a() Chronic Fatigue Syndrome	
							// end col specs
					// end nested sub-row
					.row.vertical_spacing_more
					.row
							.col-lg-6.col-md-6.col-sm-6
								.browse_topics
									P
									| D
									p
										a() Diabetes	
							// end col specs
					// end nested sub-row
				//End Column 1	
				
				//COLUMN 2
				.col-lg-3.col-md-3.col-sm-3
					.row
							.col-lg-6.col-md-6.col-sm-6
								.browse_topics
									P
									| E
									p
										a() Epilepsy	
							// end col specs
					// end nested sub-row
					.row.vertical_spacing_more
					.row
							.col-lg-6.col-md-6.col-sm-6
								.browse_topics
									P
									| F
									p
										a(href='#/quickGuide/foodBorneIllness') Foodborne Illness
									p
										a() Fetal Alcohol Syndrome
									p
										a() Flu (Influeza)	
							// end col specs
					// end nested sub-row
					.row.vertical_spacing_more
					.row
							.col-lg-6.col-md-6.col-sm-6
								.browse_topics
									P
									| G
									p
										a() Genital Herpes (Herpes Simplex Virus)
									p
										a() Giardiasis
									p
										a() Gonorrhea	
							// end col specs
					// end nested sub-row
					.row.vertical_spacing_more
					.row
							.col-lg-6.col-md-6.col-sm-6
								.browse_topics
									P
									| H
									p
										a() Heart Disease
									p
										a() Hepatitis
									p
										a() HIV/ AIDS	
									p
										a() HPV (Human papillomavirus)
							// end col specs
					// end nested sub-row
				//END COLUMN 2
				//START COLUMN 3
				.col-lg-3.col-md-3.col-sm-3
					.row
							.col-lg-6.col-md-6.col-sm-6
								.browse_topics
									P
									| M
									p
										a() Meningitis
									p
										a() MRSA (Methicillin Resistant Staphylococcus aureus)
							// end col specs
					// end nested sub-row
					.row.vertical_spacing_more
					.row
							.col-lg-6.col-md-6.col-sm-6
								.browse_topics
									P
									| O
									p
										a() Obesity
							// end col specs
					// end nested sub-row
					.row.vertical_spacing_more
					.row
							.col-lg-6.col-md-6.col-sm-6
								.browse_topics
									P
									| S
									p
										a() Salmonella
									p
										a() Scabies
									p
										a() Sexually Transmitted Diseases
									p
										a() Stroke
							// end col specs
					// end nested sub-row
					.row.vertical_spacing_more
					.row
							.col-lg-6.col-md-6.col-sm-6
								.browse_topics
									P
									| T
									p
										a() Traumatic Brain Injury (TBI)
									p
										a() Trichomonas Infection (Trichomoniasis)
									p
										a() Tuberculosis (TB)
							// end col specs
					// end nested sub-row
					.row.vertical_spacing_more
				//end column 3
				//START column 4
				.col-lg-3.col-md-3.col-sm-3
					.row
							.col-lg-6.col-md-6.col-sm-6
								.browse_topics
									P
									| W
									p
										a() Water-related Diseases
							// end col specs
					// end nested sub-row
				//end column 4

			// end row
	// end content block
	// end col spec
	.col-lg-1.col-md-1.col-sm-1
		.hx_side
			span.small_text
				| Tab
		// end hx_side
	// end col spec
// end row