// row
.row
  .col-lg-11.col-md-11.col-sm-11
    .content_block
      .subnav
        ul.nav.nav-pills
          li.active
            a(href='#/quickGuide/') Quick Guide
          li
            a(href='#/browse/') Browse
          li
            a(href='#/search/') Search
          li
            a(href='') Advanced Search
          li
            a(href='') Favorites
      // end subnav
      .instructive_text
          p
            | If you're not sure where to start, Quick Guide is a good place to begin. Below is a list of frequently-accessed Diseases and Conditions.  They're listed in alphabetical order.  Once you click on the link,  you'll be provided an overview of the selected topic, as well as relevent links to external sites, as well as related CISP resources.  If you have any comments or questions, please contact us at 
            a(href='mailto:integratedsurveillance@cdc.gov') integratedsurveillance@cdc.gov.
      .azlist_header
        span.glyphicon.glyphicon-list
        | &nbsp; Topics
      .row.alph_terms
        // nested row
        .col-lg-3.col-md-3.col-sm-3
          .letter_header A
          .qg_term
            a() ADHD
          .qg_term
            a() Alzheimer's Disease
          .qg_term
            a() Arthritis
          .qg_term
            a() Asthma
          .qg_term
            a() Autism
          .qg_term
            a() Avian Influenza
          .letter_header B
          .qg_term
            a() Birth Defects
          .letter_header C
          .qg_term
            a() Cancer
          .qg_term
            a() Chlamydia
          .qg_term
            a() Chronic Fatigue Syndrome
          .letter_header D
          .qg_term
            a() Diabetes
        // end column specs
        .col-lg-3.col-md-3.col-sm-3
          .letter_header E
          .qg_term
            a() Epilepsy
          .letter_header F
          .qg_term
            a(ng-click='goToTop()' href='#/quickGuide/foodBorneIllness') Foodborne Illness
          .qg_term
            a() Fetal Alcohol Syndrome
          .qg_term
            a() Flu (Influeza)
          .letter_header G
          .qg_term
            a() Genital Herpes (Herpes Simplex Virus)
          .qg_term
            a() Giardiasis
          .qg_term
            a() Gonorrhea
          .letter_header H
          .qg_term
            a() Heart
          .qg_term
            a() Hepatitis
          .qg_term
            a() HIV/ AIDS
          .qg_term
            a() HPV (Human papillomavirus)
        // end column specs
        .col-lg-3.col-md-3.col-sm-3
          .letter_header M
          .qg_term
            a() Meningitis
          .qg_term
            a() MRSA (Methicillin Resistant Staphylococcus aureus)
          .letter_header O
          .qg_term
            a() Obesity
          .letter_header S
          .qg_term
            a() Salmonella
          .qg_term
            a() Scabies
          .qg_term
            a() Sexually Transmitted Diseases
          .qg_term
            a() Stroke
          .letter_header T
          .qg_term
            a() Traumatic Brain Injury (TBI)
          .qg_term
            a() Trichomonas Infection (Trichomoniasis)
          .qg_term
            a() Tuberculosis (TB)
        // end column specs
        .col-lg-3.col-md-3.col-sm-3
          .letter_header W
          .qg_term
            a() Water-related Diseases
        // end column specs
      // end row
  // end content block
  // end col spec
  .col-lg-1.col-md-1.col-sm-1
    .hx_side(ng-show='showSidebar')
      span.small_text
        | Tab
    // end hx_side
  // end col spec
// end row