// new row
.row
	.div(ng-class='getContentWidth()')
		.content_block
			span.visible-md.visible-lg
				.subnav
					ul.nav.nav-pills
						li
							a(href='#/quickGuide/') Quick Guide
						li
							a(href='#/browse/') Browse
						li.active
							a(href='#/search/') Search
						li
							a(href='#/advancedSearch/') Relationship Explorer
						li
							a(href='' class='inactive') Favorites
						li
							a(href='#/inTheLab/') In the Lab
				// end subnav
			span.visible-sm
				.subnav_sm
					ul.nav.nav-pills
						li
							a(href='#/quickGuide/') Quick Guide
						li
							a(href='#/browse/') Browse
						li.active
							a(href='#/search/') Search
						li
							a(href='#/advancedSearch/') Relationship Explorer
						li
							a(href='' class='inactive') Favorites
						li
							a(href='#/inTheLab/') In the Lab
				// end subnav	
			span.visible-lg
				.search_header
					.search_text
						| Search
						span.search_intro   |  Enter a search term:
					.input-group.search_term
						input.form-control(type='text', typeahead-on-select="itemSelected($item, $model, $label)", typeahead-min-length='3', typeahead="node.name for node in getNodes($viewValue)", ng-model='queryString', id='searchPageBawks')
						span.input-group-btn
							a.btn.btn-default(type='button', id='searchPageButton', ng-click='redirectToSearch()')
								span.glyphicon.glyphicon-search
					// /input-group
					.search_text
						span.search_intro.totally Total Results: {{labelCounts.Total}}
					// Split button
					.btn-group.sortby
						button.btn.btn-default(type='button') Sort by... (Coming soon)
						button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
							span.caret
							span.sr-only Toggle Dropdown
						ul.dropdown-menu(role='menu')
							li
								a(href='') Resource
							li
								a(href='') Date
							li
								a(href='') Status
			span.visible-md
				.search_header
					.search_text
						| Search
						span.search_intro   |  Enter a search term:
					.input-group.search_term
						input.form-control(type='text', ng-model='queryString', id='searchPageBawks', ng-enter='redirectToSearch()')
						span.input-group-btn
							a.btn.btn-default(type='button', id='searchPageButton', ng-click='redirectToSearch()')
								span.glyphicon.glyphicon-search
					// /input-group
					.search_text
						span.search_intro.totally Total Results: {{labelCounts.Total}}
					// Split button
					.btn-group.sortby
						button.btn.btn-default(type='button') Sort by...
						button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
							span.caret
							span.sr-only Toggle Dropdown
						ul.dropdown-menu(role='menu')
							li
									a(href='') COMING SOON...
							li
								a(href='') Resource
							li
								a(href='') Date
							li
								a(href='') Status
			span.visible-sm
				.search_header_sm
					.search_text
						| Search
						span.search_intro   |  Enter a search term:
					.input-group.search_term_sm
						input.form-control(type='text', ng-model='queryString', id='searchPageBawks', ng-enter='redirectToSearch()')
						span.input-group-btn
							a.btn.btn-default(type='button', id='searchPageButton', ng-click='redirectToSearch()')
								span.glyphicon.glyphicon-search
					// /input-group
					.search_text
						span.search_intro.totally_sm Total Results: {{labelCounts.Total}}
					// Split button
					.btn-group.sortby_sm
						button.btn.btn-default(type='button') Sort by
						button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
							span.caret
							span.sr-only Toggle Dropdown
						ul.dropdown-menu(role='menu')
							li
									a(href='') COMING SOON...
							li
								a(href='') Resource
							li
								a(href='') Date
							li
								a(href='') Status
			// end search header
			.row
				// nested row
				.col-lg-3.col-md-4.col-sm-4
					.sub_block
						.orange_header_narrow Narrow your results:
						.thick_border
						.gray_header_filters By Resource:
						table.table_filter
							tr
								td
									.input-group
										input(type='checkbox' data-ng-model='checkedLabels.SurveillanceSystem' ng-click='filterclick()')
										| &nbsp;Surveillance System
									// /input-group
								td.result_number {{labelCounts.SurveillanceSystem}}
							tr
								td
									.input-group
										input(type='checkbox' data-ng-model='checkedLabels.Program' ng-click='filterclick()')
										| &nbsp;Program
									// /input-group
								td.result_number {{labelCounts.Program}}
							tr
								td
									.input-group
										input(type='checkbox' data-ng-model='checkedLabels.Registry' ng-click='filterclick()')
										| &nbsp;Registry
									// /input-group
								td.result_number {{labelCounts.Registry}}
							tr
								td
									.input-group
										input(type='checkbox' data-ng-model='checkedLabels.HealthSurvey' ng-click='filterclick()')
										| &nbsp;Health Survey
									// /input-group
								td.result_number {{labelCounts.HealthSurvey}}
							tr
								td
									.input-group
										input(type='checkbox' data-ng-model='checkedLabels.Tool' ng-click='filterclick()')
										| &nbsp;Tool
									// /input-group
								td.result_number {{labelCounts.Tool}}
							tr
								td
									.input-group
										input(type='checkbox' data-ng-model='checkedLabels.Dataset' ng-click='filterclick()')
										| &nbsp;Dataset
									// /input-group
								td.result_number {{labelCounts.Dataset}}
							tr
								td
									.input-group
										input(type='checkbox' data-ng-model='checkedLabels.DataStandard' ng-click='filterclick()')
										| &nbsp;Data Standard
									// /input-group
								td.result_number {{labelCounts.DataStandard}}
							tr
								td
									.input-group
										input(type='checkbox' data-ng-model='checkedLabels.Collaborative' ng-click='filterclick()')
										| &nbsp;Collaborative
									// /input-group
								td.result_number {{labelCounts.Collaborative}}
							tr
								td
									.input-group
										input(type='checkbox' data-ng-model='checkedLabels.Organization' ng-click='filterclick()')
										| &nbsp;Organization
									// /input-group
								td.result_number {{labelCounts.Organization}}
							tr
								td
									.input-group
										input(type='checkbox' data-ng-model='checkedLabels.Tag' ng-click='filterclick()')
										| &nbsp;Tag
									// /input-group
								td.result_number {{labelCounts.Tag}}
							tr
								td
									.input-group.input_total
										span.total_column Total Results:
									// /input-group
								td.result_number_total {{labelCounts.Total}}
						.gray_header_filters.vertical_spacing By Date: (Coming soon)
						table.table_filter
							tr
								td
									.input-group
										input(type='checkbox')
										| &nbsp;Start Date
									// /input-group
								td.result_number ##/##/##
							tr
								td
									.input-group
										input(type='checkbox')
										| &nbsp;End Date
									// /input-group
								td.result_number ##/##/##
						.divider_line
						table.table_filter
							tr
								td
									.input-group.check_filter
										input(type='checkbox' )
										| &nbsp;Newer than
									// /input-group
								td.result_number ##/##/##
							tr
								td
									.input-group.check_filter
										input(type='checkbox' )
										| &nbsp;Older than
									// /input-group
								td.result_number ##/##/##
						.divider_line
						.select_date
							a(href='')
								span.glyphicon.glyphicon-calendar
								| Select date
						.gray_header_filters.vertical_spacing By Status: (Coming soon)
						table.table_filter
							tr
								td
									.input-group.check_filter
										input(type='checkbox')
										| &nbsp;Active
									// /input-group
								td.result_number ##
							tr
								td
									.input-group.check_filter
										input(type='checkbox')
										| &nbsp;Archived
									// /input-group
								td.result_number ##
						.vertical_spacing_morer
					// end filter block
				// end col specs

				.col-lg-9.col-md-8.col-sm-8(ng-show='hadSearchResults')
					.sub_block(ng-show='hasSearchValue')
						.pages_block
							pagination(total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" ng-show='!contentLoading' ng-change='pageChanged()')
						img(src='img/ajax-loader.gif', alt='Content is Loading', ng-show='contentLoading')
						.span(ng-repeat="node in nodes | searchCheckFilter:checkedLabels | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit", ng-show='!contentLoading', )
							table.search_results
								tr
									td.resource_name.search
										a(ng-click='goToTop()' href='#/node/{{node.id}}') {{node.name}} (ID: {{node.id}}) (Connections: {{node.relCount}})
									td.status.search  
										Strong Status: 
										| {{node.status}}
									td.resource_type.search3
										span.labelbg {{node.labels | unCamelCase}}
								tr(ng-repeat="att in node.attributes")
									td(class="text-left list_margin",colspan='3') 
										{{att.key | unCamelCase}}:&nbsp; {{att.value}}	
									//- td(class="text-left")
						.pages_block
							pagination(total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" ng-show='!contentLoading' ng-change='pageChanged()')
						//.page_controls
						//	| Page controls (for multiple pages of results) to go here
					// end sub block
				// end col specs
				.col-lg-9.col-md-8.col-sm-8(ng-show='!hadSearchResults')
					.sub_block(ng-show='hasSearchValue')
						strong No search results returned.									
						//.page_controls
						//	| Page controls (for multiple pages of results) to go here
					// end sub block
				// end col specs
				.col-lg-9.col-md-8.col-sm-8
					.sub_block(ng-show='!hasSearchValue')
						img(src='img/search_empty_bg.png' alt='Please enter a search term above' class='img-responsive search_empty')								
						//.page_controls
						//	| Page controls (for multiple pages of results) to go here
					// end sub block
				// end col specs
			// end nested row
		// end content block
	// end col spec
	.div(ng-class='getSidebarWidth()')
		.hx_side(ng-show='!showSidebar' ng-click='toggleSidebar()')
			.blue_side
				.blue_side_text
					| Your Exploration History:
				.sidebar_coming_soon
					div(ng-repeat='site in browseHistory.sites')
						a(ng-click='goToTop()' href='{{site.url}}') {{site.name}}
			.button_side
				.sidebar_button
					img(src='img/tab_button_collapse.png', alt='Collapse sidebar')			
		// end hx_side
		.hx_side(ng-show='showSidebar' ng-click='toggleSidebar()')
			.blue_side_expanded
			.button_side_expanded
				.sidebar_button
					img(src='img/tab_button_expand.png', alt='Expand sidebar')		
		// end hx_side
// end row
