// new row
.row
	.div(ng-class='getContentWidth()')
		.content_block_faq
			.top_block_faq
				h4.orange_main_disclaimer
					| Accessibility
				.vertical_spacing_browse
					span.glyphicon.glyphicon-user.disclaimer_icon_lg.disclaimer_indent
					.faq_question_txt
						Strong Accessing CISP:
				.aux_content
					P
					| This resource complies with Section 508 of the Rehabilitation Act as amended, 29 U.S.C. Section 794d. If you have difficulty accessing any portion of this site, please e-mail us at: 
					a(href='mailto:informaticslab@cdc.gov') informaticslab@cdc.gov
					
		// end content block
	// end col spec
// end row.orange_header Overview