// new row
.row
	.div(ng-class='getContentWidth()')
		.content_block_faq
			.top_block_faq
				h4.orange_main_disclaimer
					| Code of Conduct
				.vertical_spacing_browse
					span.glyphicon.glyphicon-book.disclaimer_icon_lg.disclaimer_indent
					.faq_question_txt
						Strong CDC Code of Conduct:
				.aux_content
					.aux_header
						| Purpose:
					P
					| This portal is an initiative of CDC's Informatics Innovation Unit.  Due to the highly collaborative nature of this initiative, it is necessary to have a code of conduct to govern all collaborative materials posted and made available through the internet by the general public.
					br
					.aux_header
						| Background:
					P
					| CDC Scientific Clearance is the process of obtaining approvals by appropriate CDC officials before a CDC information product is released to the public or CDC's external public health partners. Information products that require formal clearance include print, electronic, or oral materials, that CDC employees author or co-author, whether published by CDC or outside CDC. CDC contractors developing content on behalf of CDC for the public or CDC's external public health partners are also required to put their content through the formal clearance process. The collaborative functions related to the IIU projects include blogs, wikis, forums, bug tracking sites, source control and others as deemed necessary.
					br
					br
					| For those individuals within the CDC, adherence to the following policies are required:
					br
					br
					ul
						li.faq
							| CDC "Clearance of Information Products Disseminated Outside CDC for Public Use" (available at 
							a(href='http://www.cdc.gov/maso/Policy/PublicUse.pdf' target='_blank') http://www.cdc.gov/maso/Policy/PublicUse.pdf
							|)
					ul
						li.faq
							| HHS "Ensuring the Quality of Information Disseminated by HHS Agencies" (available at 
					a(href='http://aspe.hhs.gov/infoquality' target='_blank') http://aspe.hhs.gov/infoquality
					|)
					br
					br
					| All collaborative materials will be controlled by the rules contained within this document. This will allow for the real-time collaboration opportunities among CDC employees, CDC contractors and CDC public health partners.
					.aux_header
						| Code of Conduct:
					P
					| All contributions made to IIU’s collaboration resources must meet the set of rules detailed below. Informatics lab-related collaboration sites are monitored and mediated by CDC employees and CDC contractors. Any infraction to the rules will be addressed in a timely manner and can result in the prompt removal of content from project related sites. Infractions should be reported to project leads as soon as identified.				
					.aux_header
						| Ground Rules:
					P
					ul
						li.faq
							| Members will act with integrity and adhere to the highest standards of personal and professional ethics. As collaborations tend to be self-correcting, active participation means both offering suggestions and accepting them with a focus on product improvement. Personal attacks, hidden destructive code or other forms of harassment or intimidation will not be tolerated. Collaboration is highly encouraged, and although this may not always be positive, it should always be respectful and constructive.
					ul
						li.faq
							| Only authorized committers are allowed to make changes to project related sites. Project leads determine authorized committers and assign permissions.
					ul
						li.faq
							| Any sites not hosted by CDC or CDC resources should use separate authorization so as not to compromise existing CDC authentication and authorization procedures. This means that committers should not use an ID/ user name or password currently in use as their CDC ID / user name or password.
					ul
						li.faq
							| No specific security related information should be shared. No information that would allow an unauthorized party to compromise CDC systems security shall be posted. This includes, but is not limited to: user names, user ids, passwords, IP addresses, private certificate information, specific system configuration.
					ul
						li.faq
							| No restricted or privileged information should be posted that is limited in distribution rights. For example, there are US export controls for encryption routines and algorithms that cannot be shared with specific countries.
					ul
						li.faq
							| No content in violation of US or international copyright shall be posted without explicit, written consent of the copyright holder.
					ul
						li.faq
							| All content in draft form must be clearly marked with the words "DRAFT" both within the content itself and in any specific sites referencing the content.
					ul
						li.faq
							| No personally identifiable health data shall be posted or stored on collaboration sites. This includes partially identifiable data containing fields such as age, race, sex, geolocation. Only sample, mock or test data shall be used.
					ul
						li.faq
							| No posting of source code or unpublished materials relating to CDC developed production systems and applications.
					P
					| Version 0.2 (7/26/2010)
		// end content block
	// end col spec
// end row.orange_header Overview