// new row
.row
	.div(ng-class='getContentWidth()')
		.content_block_faq
			.top_block_faq
				h4.orange_main_disclaimer
					| Contact
				.vertical_spacing_browse
					span.glyphicon.glyphicon-envelope.disclaimer_icon_lg.disclaimer_indent
					.faq_question_txt
						Strong Contact Us:
				.aux_content
					
					P
					| If you have any comments or questions, please contact us at					
					a(href='mailto:informaticslab@cdc.gov') informaticslab@cdc.gov
				
		// end content block
	// end col spec
// end row.orange_header Overview