// new row
.row
	.div(ng-class='getContentWidth()')
		.content_block_faq
			.top_block_faq
				h4.orange_main_disclaimer
					| Disclaimer
				.vertical_spacing_browse
					span.glyphicon.glyphicon-info-sign.disclaimer_icon_lg.disclaimer_indent
					.faq_question_txt
						Strong Please Note:	
				.aux_content
					P
					| Please be aware that this online application is still early in its development, and it may function in unexpected ways. Some parts of the application have not yet been activated. The data in the system is still incomplete and has not yet been validated. Please send your comments and suggestions to
					a(href='mailto:informaticslab@cdc.gov') informaticslab@cdc.gov
					br
					br
					| This portal is an initiative of CDC's  Informatics Innovation Unit.  Please note that as part of the collaborative nature of this initiative, the content in this site may include submissions from employees or contractors of the Centers for Disease Control and Prevention/the Agency for Toxic Substances and Disease Registry. The opinions / findings are those of the submitter(s), and do not necessarily represent the official position of the Centers for Disease Control and Prevention/the Agency for Toxic Substances and Disease Registry.  All submitters must agree and adhere to the Code of Conduct posted on this site. All submissions are examined in a timely fashion to assure compliance with the stated code of conduct. Those not found to be in compliance are promptly removed.  Please note that given the collaborative nature of this site, there may be external links to web sites not owned or operated by HHS.					
		// end content block
	// end col spec
// end row.orange_header Overview