div
	.modal-content(ng-controller="navBarLoginCtrl")
		.modal-header.header_dark
			span.pull-right
				button.btn.close_button.glyphicon.glyphicon-remove(ng-click="cancel()")
			//.disclaimer_intro
			h4.modal-title(id='myModalLabel') &nbsp;Login
				img(alt='icon', src='img/modal_icon.png')
				img(alt='Beta', src='img/modal_beta.png')
		.modal-body

			.row
				.col-lg-12.col-md-12.col-sm-12
					h4
						| CISP Login
					br
					form(ng-controller="navBarLoginCtrl")
						.form-group
							input.form-control(placeholder="Email", ng-model="email")
						.form-group
							input.form-control(type="password", placeholder="Password", ng-model="password")
						br
						button.btn.btn-primary(ng-click="signin(email,password)")
							| Login
			//hr
			//.row
				.col-lg-6.col-md-6.col-sm-6
					strong
						span
							| You can also login using:
					br
					br
					a(href="/auth/facebook")
						img(src="img/FB-f-Logo__blue_29.png" )
				.col-lg-6.col-md-6.col-sm-6
					strong
						span
							|  
					br
					br
					
						
		//.modal-footer
			.modal_show
				h4
					| Login Using
					i.fa.fa-facebook-official
				//a(href="/auth/facebook")
					| login using facebook
