doctype
html(lang="en" ng-app='app')
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Apollo
		link(rel="stylesheet" href="/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css/bootstrap-theme.min.css")
		link(rel="stylesheet" href="/css/font-awesome.min.css")
		link(rel="stylesheet" href="/css/sticky-footer-navbar.css")
	body
		.navbar.navbar-default.navbar-fixed-top
			.container
				.navbar-header
					a.navbar-brand(href='/') Apollo
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
						span.icon-bar
						span.icon-bar
						span.icon-bar
				#navbar-main.navbar-collapse.collapse
					ul.nav.navbar-nav
						li
							a(href='/faq') Faq
						li
							a(href='/') Home
					ul.nav.navbar-nav.navbar-right
						li
							a(href='#', target='_blank') Login
		.container
			block main-content
		include scripts
		#footer
			.container
				p.text-muted &copy; 2014 CDC.	