doctype
html(lang="en" ng-app='jupiterApp')
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Integrated Surveillance Portal
		link(rel="stylesheet" href="/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css/bootstrap-theme.min.css")
		link(rel="stylesheet" href="/css/font-awesome.min.css")
		link(rel="stylesheet" href="/css/sticky-footer-navbar.css")
		link(rel="stylesheet" href="/css/animation.css")
		link(rel="stylesheet" href="/css/custom.css")
		link(rel="stylesheet" href="/css/d3-viz.css")
		link(rel="stylesheet" href="/css/loading-bar.min.css")
		link(rel="stylesheet" href="/css/inTheLab.css")
		link(rel="stylesheet" href="/vendor/toastr/toastr.css")
		link(rel="stylesheet" href="/vendor/angular-ui-grid/ui-grid/css/ui-grid.min.css")
		link(rel="P3Pv1" href="http://www.cdc.gov/w3c/p3p.xml")

		
	body(ng-controller='rootCtrl' data-ng-init="open();getPIVinfo()")
		.container-fluid
			// row1
			.row.headerblue
				.col-lg-7.col-md-7.col-sm-7.clearfix
					span.visible-lg
						a(href='http://www.cdc.gov' target='_blank')
							img.img-responsive.pull-left.cdclogo(src='img/cdc_logo.png', alt='CDC logo')
						span.cdctext Integrated Surveillance Portal
						span.header_icon
							img(src='img/header_graphic_beta.png', alt='Integrated Surveillance Portal graphic')
						// This line changed for new graphic
					span.visible-md
						a(href='http://www.cdc.gov' target='_blank')
							img.img-responsive.pull-left.cdclogo2(src='img/cdc_logo_smaller.png', alt='CDC logo')
						span.cdctext2 Integrated Surveillance Portal
						span.header_icon
							img(src='img/header_graphic_small_beta.png', alt='Integrated Surveillance Portal graphic')
						// This line changed for new graphic
					span.visible-sm
						a(href='http://www.cdc.gov' target='_blank')
							img.img-responsive.pull-left.cdclogo2(src='img/cdc_logo_smaller.png', alt='CDC logo')
						span.cdctext3 Integrated Surveillance Portal
						span.header_icon
							img(src='img/header_graphic_smaller_beta.png', alt='Integrated Surveillance Portal graphic')
						// This line changed for new graphic
				.col-lg-3.col-md-3.col-sm-3
					span.visible-lg.visible-md
						.input-group.search_button
							input.form-control(id='bigSearchBawks', typeahead-on-select="itemSelected($item, $model, $label)", typeahead-min-length='3', typeahead="node.name for node in getNodes($viewValue)", type='text', ng-model='queryString')
							span.input-group-btn
								button.btn.btn-default(type='button', id='bigSearchButton', ng-click='redirectToSearch()')
									| Search
						// /input-group
					span.visible-sm
						.input-group.search_button
							input.form-control(id='lilSearchBawks', typeahead-on-select="itemSelected($item, $model, $label)", typeahead-min-length='3', typeahead="node.name for node in getNodes($viewValue)",  type='text', ng-model='queryString', ng-enter='redirectToSearch()')
							span.input-group-btn
								button.btn.btn-default(type='button' id='lilSearchButton', ng-click='redirectToSearch()')
									| Search
						// /input-group
				.col-lg-2.col-md-2.col-sm-2.clearfix
					span.visible-lg.visible-md
						a(href='#')
							img.img-responsive.pull-left.settings_btn(src='img/settings_icon.png', alt='Settings')
						a(href='#')
							img.img-responsive.help_btn(src='img/help_icon.png', alt='Help')
					span.visible-sm
						a(href='#')
							img.img-responsive.pull-left.settings_btn2(src='img/settings_icon.png', alt='Settings')
						a(href='#')
							img.img-responsive.help_btn2(src='img/help_icon.png', alt='Help')
			// end 1st row
			// row 2 (navbar)
			.row
				nav.navbar.navbar-default.navbar-inner(role='navigation')
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='#collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
					#collapse.collapse.navbar-collapse
						
						ul.nav.navbar-nav.scootnav
							li(ng-class="{active:q == 'home'}")
								a(href='#/home')
									span.glyphicon.glyphicon-home.custom_home  
									| &nbsp;Home
							li(ng-class="{active:q == 'explore'}")
								a(href='#/quickGuide')
									span.glyphicon.glyphicon-dashboard.custom_explore  
									| &nbsp;Explore
							li(ng-class="{active:q == 'faq'}")
								a(href='#/faq')
									span.glyphicon.glyphicon-comment.custom_faqs.icon-flipped  
									| &nbsp;FAQs
						
						span.right_nav_content(ng-controller="navBarLoginCtrl")

							a(href="" ng-click="openLogin('lg')" ng-hide="identity.isAuthenticated()") 
									span.glyphicon.glyphicon-user 
										| &nbsp;Login
						ng-include(src="'/partials/navbar-login'"  ng-show="identity.isAuthenticated()")
	

						//div(ng-include="'/partials/navbar-login'"  ng-show ="signInBtn")
							//span.glyphicon.glyphicon-user.user_custom  
							//| &nbsp;Welcome, {{loginuser}} &nbsp;
							//a(href='#')  Logout
							//span.favorites_icon
								img(src='img/filled_circle_smaller.png', alt='Favorites')
								| &nbsp;&nbsp;Favorites
							//- span.favorites_icon
							//- 	a(ng-click='toggleSidebar()')
							//- 		img(src='img/filled_circle_smaller.png', alt='History')
							//- 		| Show/Hide Sidebar

		// end row 2 (navbar)

		//Login modal
		div
			script(type="text/ng-template", id="loginModalContent.html")
				.modal-content(ng-controller="navBarLoginCtrl")
					.modal-header.header_dark
						span.pull-right
							button.btn.close_button.glyphicon.glyphicon-remove(ng-click="cancel()")
						//.disclaimer_intro
						h4.modal-title(id='myModalLabel') &nbsp;Login
							img(alt='icon', src='img/modal_icon.png')
							img(alt='Beta', src='img/modal_beta.png')
					.modal-body

						.row
							.col-lg-5.col-md-5.col-sm-5
								h4
									| CDC Smart Card Login
								br
								.row
									.col-lg-3.col-md-3.col-sm-3
										img.pull-left(src="img/PIV_Card_Sample.png")
									.col-lg-9.col-md-9.col-sm-9
										| Insert your Smart Card into your smart card reader before you click the Login button.
								br
								.row
									.col-lg-12.col-md-12.col-sm-12
										button.btn.btn-primary(data-dismiss='modal', type='button', ng-click='ok();pivLogin()') 
											| Login
							.col-lg-1.col-md-1.col-sm-1
								p.text-center
									br
									br
									br
									| (or)
							.col-lg-6.col-md-6.col-sm-6
								h4
									| CISP Login
								br
								form(ng-controller="navBarLoginCtrl")
									.form-group
										input.form-control(placeholder="Email", ng-model="email")
									.form-group
										input.form-control(type="password", placeholder="Password", ng-model="password")
									br
									button.btn.btn-primary(ng-click="signin(email,password)")
										| Login
						hr
						.row
							.col-lg-6.col-md-6.col-sm-6
								strong
									span
										| You can also login using:
								br
								br
								a(href="/auth/facebook")
									img(src="img/FB-f-Logo__blue_29.png" )
							.col-lg-6.col-md-6.col-sm-6
								strong
									span
										|  
								br
								br
								
									
					//.modal-footer
						.modal_show
							h4
								| Login Using
								i.fa.fa-facebook-official
							//a(href="/auth/facebook")
								| login using facebook

		// end login modal

		div 
			script(type="text/ng-template", id="myModalContent.html")
				.modal-content
					.modal-header.header_dark
						.disclaimer_intro
						h4.modal-title(id='myModalLabel') &nbsp;CDC Integrated Surveillance Portal
							img(alt='icon', src='img/modal_icon.png')
							img(alt='Beta', src='img/modal_beta.png')
					.modal-body
						.disclaimer_title Disclaimer:
						P
						| Please be aware that this online application is still early in its development, and it may function in unexpected ways. Some parts of the application have not yet been activated. The data in the system is still incomplete and has not yet been validated.
						P
						| Please send your comments and suggestions to
						a(href='mailto:informaticslab@cdc.gov')  informaticslab@cdc.gov
					.modal-footer.footer_disclaimer
						.modal_show
							input(type='checkbox' data-ng-model='disclaimerStatus' ng-change='resetCheckbox()')
							| &nbsp; Do not show this message again
						button.btn.btn-primary(data-dismiss='modal', type='button', ng-click='ok()')  I understand
		block main-content
		// start footer row
		span.visible-lg.visible-md
			.row.footerbottom(id='fb-root')
				// links
				.bottom_links
					a.white_link(href='#/bottomNav/disclaimer/') Disclaimer
					| &nbsp; | &nbsp;
					a.white_link(href='#/bottomNav/accessibility/') Accessibility
					| &nbsp; | &nbsp;
					a.white_link(href='#/bottomNav/codeofconduct/') Code of Conduct
					| &nbsp; | &nbsp;
					a.white_link(href='http://www.cdc.gov/other/privacy.html') Privacy
					| &nbsp; | &nbsp;
					a.white_link(href='#/bottomNav/contact/') Contact
					span.cdc_info
						| Centers for Disease Control and Prevention | &nbsp;Build: {{buildNumber}}
		span.visible-sm
			.row.footerbottom(id='fb-root')
				// links
				.bottom_links_sm
					a.white_link(href='#/bottomNav/disclaimer/') Disclaimer
					| &nbsp; | &nbsp;
					a.white_link(href='#/bottomNav/accessibility/') Accessibility
					| &nbsp; | &nbsp;
					a.white_link(href='#/bottomNav/codeofconduct/') Code of Conduct
					| &nbsp; | &nbsp;
					a.white_link(href='http://www.cdc.gov/other/privacy.html') Privacy
					| &nbsp; | &nbsp;
					a.white_link(href='#/bottomNav/contact/') Contact
					span.cdc_info
						| Centers for Disease Control and Prevention | &nbsp;Build: {{buildNumber}}
		include currentUser						
		include scripts
		