doctype
html(lang="en" ng-app='apolloApp')
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Integrated Surveillance Portal
		link(rel="stylesheet" href="/apollo/css/bootstrap.min.css")
		//link(rel="stylesheet" href="/apollo/css/bootstrap-theme.min.css")
		link(rel="stylesheet" href="/apollo/css/font-awesome.min.css")
		link(rel="stylesheet" href="/apollo/css/sticky-footer-navbar.css")
		link(rel="stylesheet" href="/apollo/css/animation.css")
		link(rel="stylesheet" href="/apollo/css/custom.css")
		link(rel="stylesheet" href="/apollo/css/d3-viz.css")
		link(rel="stylesheet" href="/apollo/css/loading-bar.min.css")
		link(rel="stylesheet" href="/apollo/css/inTheLab.css")
	body(ng-controller='rootCtrl' data-ng-init="open()")
		.container-fluid
			// row1
			.row.headerblue
				.col-lg-7.col-md-7.col-sm-7.clearfix
					span.visible-lg
						a(href='http://www.cdc.gov' target='_blank')
							img.img-responsive.pull-left.cdclogo(src='img/cdc_logo.png', alt='CDC logo')
						span.cdctext Integrated Surveillance Portal
						span.header_icon
							img(src='img/header_graphic_alpha.png', alt='Integrated Surveillance Portal graphic')
						// This line changed for new graphic
					span.visible-md
						a(href='http://www.cdc.gov' target='_blank')
							img.img-responsive.pull-left.cdclogo2(src='img/cdc_logo_smaller.png', alt='CDC logo')
						span.cdctext2 Integrated Surveillance Portal
						span.header_icon
							img(src='img/header_graphic_small_alpha.png', alt='Integrated Surveillance Portal graphic')
						// This line changed for new graphic
					span.visible-sm
						a(href='http://www.cdc.gov' target='_blank')
							img.img-responsive.pull-left.cdclogo2(src='img/cdc_logo_smaller.png', alt='CDC logo')
						span.cdctext3 Integrated Surveillance Portal
						span.header_icon
							img(src='img/header_graphic_smaller_alpha.png', alt='Integrated Surveillance Portal graphic')
						// This line changed for new graphic
				.col-lg-3.col-md-3.col-sm-3
					span.visible-lg.visible-md
						.input-group.search_button
							input.form-control(id='bigSearchBawks', typeahead-on-select="itemSelected($item, $model, $label)", typeahead-min-length='3', typeahead="node.name for node in getNodes($viewValue)", type='text', ng-model='queryString')							
							span.input-group-btn
								button.btn.btn-default(type='button', id='bigSearchButton', ng-click='redirectToSearch()') Search
						// /input-group
					span.visible-sm
						.input-group.search_button
							input.form-control(id='lilSearchBawks', typeahead-on-select="itemSelected($item, $model, $label)", typeahead-min-length='3', typeahead="node.name for node in getNodes($viewValue)",  type='text', ng-model='queryString', ng-enter='redirectToSearch()')
							span.input-group-btn
								button.btn.btn-default(type='button' id='lilSearchButton', ng-click='redirectToSearch()') Search
						// /input-group
				.col-lg-2.col-md-2.col-sm-2.clearfix
					span.visible-lg.visible-md
						a(href='#')
							img.img-responsive.pull-left.settings_btn(src='img/settings_icon.png', alt='Settings')
						a(href='#')
							img.img-responsive.help_btn(src='img/help_icon.png', alt='Help')
					span.visible-sm
						a(href='#')
							img.img-responsive.pull-left.settings_btn2(src='img/settings_icon.png', alt='Settings')
						a(href='#')
							img.img-responsive.help_btn2(src='img/help_icon.png', alt='Help')
			// end 1st row
			// row 2 (navbar)
			.row
				nav.navbar.navbar-default.navbar-inner(role='navigation')
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='#collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
					#collapse.collapse.navbar-collapse
						ul.nav.navbar-nav.scootnav
							li(ng-class="{active:q == 'home'}")
								a(href='#/home')
									span.glyphicon.glyphicon-home.custom_home  
									| &nbsp;Home
							li(ng-class="{active:q == 'explore'}")
								a(href='#/quickGuide')
									span.glyphicon.glyphicon-dashboard.custom_explore  
									| &nbsp;Explore
							li(ng-class="{active:q == 'faq'}")
								a(href='#/faq')
									span.glyphicon.glyphicon-comment.custom_faqs.icon-flipped  
									| &nbsp;FAQs
						span.right_nav_content
							span.glyphicon.glyphicon-user.user_custom  
							| &nbsp;Welcome, {{loginuser}} &nbsp; |&nbsp;
							a(href='#')  Logout
							span.favorites_icon
								img(src='img/filled_circle_smaller.png', alt='Favorites')
								| &nbsp;&nbsp;Favorites
							//- span.favorites_icon
							//- 	a(ng-click='toggleSidebar()')
							//- 		img(src='img/filled_circle_smaller.png', alt='History')
							//- 		| Show/Hide Sidebar
		// end row 2 (navbar)
		div
			script(type="text/ng-template", id="myModalContent.html")
				.modal-content
					.modal-header.header_dark
						.disclaimer_intro
							// button.close.modal_close(data-dismiss='modal', type='button', ng-click='cancel()')
							// 	span(aria-hidden='true') ×
							// 	span.sr-only Close
						h4.modal-title(id='myModalLabel') &nbsp;CDC Integrated Surveillance Portal
							img(alt='icon', src='img/modal_icon.png')
							img(alt='Alpha', src='img/modal_alpha.png')
					.modal-body
						.disclaimer_title Disclaimer:
						P
						| Please be aware that this online application is still early in its development, and it may function in unexpected ways. Some parts of the application have not yet been activated. The data in the system is still incomplete and has not yet been validated.
						P
						| Please send your comments and suggestions to
						a(href='mailto:informaticslab@cdc.gov')  informaticslab@cdc.gov
					// div(class='modal-footer')
					.modal-footer.footer_disclaimer
						.modal_show
							input(type='checkbox' data-ng-model='disclaimerStatus' ng-change='resetCheckbox()')
							| &nbsp; Do not show this message again
						// button.btn.btn-default(data-dismiss='modal', type='button', ng-click='cancel()')  Cancel 
						button.btn.btn-primary(data-dismiss='modal', type='button', ng-click='ok()')  I understand
		block main-content
		// start footer row
		span.visible-lg.visible-md
			.row.footerbottom(id='fb-root')
				// links
				.bottom_links
					a.white_link(href='#/bottomNav/disclaimer/' target='_blank') Disclaimer
					| &nbsp; | &nbsp;
					a.white_link(href='#/bottomNav/accessibility/' target='_blank') Accessibility
					| &nbsp; | &nbsp;
					a.white_link(href='#/bottomNav/codeOfConduct/' target='_blank') Code of Conduct
					| &nbsp; | &nbsp;
					a.white_link(href='#/bottomNav/contact/' target='_blank') Contact
					span.cdc_info
						| Centers for Disease Control and Prevention | &nbsp;Build: {{buildNumber}}
		span.visible-sm
			.row.footerbottom(id='fb-root')
				// links
				.bottom_links_sm
					a.white_link(href='#/bottomNav/disclaimer/' target='_blank') Disclaimer
					| &nbsp; | &nbsp;
					a.white_link(href='#/bottomNav/accessibility/' target='_blank') Accessibility
					| &nbsp; | &nbsp;
					a.white_link(href='#/bottomNav/codeOfConduct/' target='_blank') Code of Conduct
					| &nbsp; | &nbsp;
					a.white_link(href='#/bottomNav/contact/' target='_blank') Contact
					span.cdc_info
						| Centers for Disease Control and Prevention | &nbsp;Build: {{buildNumber}}		
		include scripts
		