doctype
html(lang="en" ng-app='apolloApp')
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Integrated Surveillance Portal
		link(rel="stylesheet" href="/apollo/css/bootstrap.min.css")
		link(rel="stylesheet" href="/apollo/css/bootstrap-theme.min.css")
		link(rel="stylesheet" href="/apollo/css/font-awesome.min.css")
		link(rel="stylesheet" href="/apollo/css/sticky-footer-navbar.css")
		link(rel="stylesheet" href="/apollo/css/animation.css")
		link(rel="stylesheet" href="/apollo/css/custom.css")
		link(rel="stylesheet" href="/apollo/css/d3-viz.css")
	body(ng-controller='rootCtrl')
		.container-fluid
			// row1
			.row.headerblue
				.col-lg-7.col-md-7.col-sm-7.clearfix
					span.visible-lg.visible-md
						a(href='http://www.cdc.gov' target='_blank')
							img.img-responsive.pull-left.cdclogo(src='img/cdc_logo.png', alt='CDC logo')
						span.cdctext Integrated Surveillance Portal
						span.header_icon
							img(src='img/header_graphic.png', alt='Integrated Surveillance Portal graphic')
						// This line changed for new graphic
					span.visible-sm
						a(href='http://www.cdc.gov' target='_blank')
							img.img-responsive.pull-left.cdclogo2(src='img/cdc_logo_smaller.png', alt='CDC logo')
						span.cdctext2 Integrated Surveillance Portal
						span.header_icon
							img(src='img/header_graphic_small.png', alt='Integrated Surveillance Portal graphic')
						// This line changed for new graphic
				.col-lg-3.col-md-3.col-sm-3
					span.visible-lg.visible-md
						.input-group.search_button
							input.form-control(id='bigSearchBawks', type='text')
							span.input-group-btn
								button.btn.btn-default(type='button' id='bigSearchButton') Search
						// /input-group
					span.visible-sm
						.input-group.search_button
							input.form-control(id='lilSearchBawks', type='text')
							span.input-group-btn
								button.btn.btn-default(type='button' id='lilSearchButton') Search
						// /input-group
				.col-lg-2.col-md-2.col-sm-2.clearfix
					span.visible-lg.visible-md
						a(href='#')
							img.img-responsive.pull-left.settings_btn(src='img/settings_icon.png', alt='Settings')
						a(href='#')
							img.img-responsive.help_btn(src='img/help_icon.png', alt='Help')
					span.visible-sm
						a(href='#')
							img.img-responsive.pull-left.settings_btn2(src='img/settings_icon.png', alt='Settings')
						a(href='#')
							img.img-responsive.help_btn2(src='img/help_icon.png', alt='Help')
			// end 1st row
			// row 2 (navbar)
			.row
				nav.navbar.navbar-default.navbar-inner(role='navigation')
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='#collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
					#collapse.collapse.navbar-collapse
						ul.nav.navbar-nav.scootnav
							li(ng-class="{active:q == 'home'}")
								a(href='#/home')
									span.glyphicon.glyphicon-home.custom_home  
									| &nbsp;Home
							li(ng-class="{active:q == 'explore'}")
								a(href='#/browse')
									span.glyphicon.glyphicon-dashboard.custom_explore  
									| &nbsp;Explore
									a(href='#/quickGuide') 
							li(ng-class="{active:q == 'faq'}")
								a(href='#/faq')
									span.glyphicon.glyphicon-comment.custom_faqs.icon-flipped  
									| &nbsp;FAQs
						span.right_nav_content
							span.glyphicon.glyphicon-user.user_custom  
							| &nbsp;Welcome, {{loginuser}}
							a(href='#')  Logout
							span.favorites_icon
								img(src='img/filled_circle_smaller.png', alt='Favorites')
								| &nbsp;&nbsp;Favorites
		// end row 2 (navbar)
		block main-content
		// start footer row
		.row.footerbottom
			// <div class="col-md-6">
			// share
			.share
				.share_corner
					span.share_text
						| Share site:
						a(href='#')
							img(src='img/facebook_icon.png', alt='Share with Facebook')
						a(href='#')
							img(src='img/twitter_icon.png', alt='Share with Twitter')
						| &nbsp;
						a(href='#') 
							img(src='img/mail_icon.png', alt='Share with Email')
			// end share
			// </div> <!-- end column class
			// <div class="col-md-6">
			// links
			.bottom_links
				| Disability&nbsp; | &nbsp;Accessibility&nbsp; | &nbsp;Code of Conduct&nbsp; | &nbsp;Contact
				span.cdc_info
					| Centers for Disease Control and Prevention
		include scripts
		script.
			$(function(){
				$('#bigSearchButton').click(function(){
					window.location = '#/search/' + $('#bigSearchBawks').val();
					}); 
				$('#lilSearchButton').click(function(){
					window.location = '#/search/' + $('#lilSearchBawks').val();
					});
				$('#lilSearchBawks').keypress(function (e) {
					if (e.which == 13) {
					window.location = '/apollo/#/search/' + $('#lilSearchBawks').val();
						}
					});
				$('#bigSearchBawks').keypress(function (e) {
					if (e.which == 13) {
					window.location = '/apollo/#/search/' + $('#bigSearchBawks').val();
						}
					});
			});