doctype
html(lang="en" ng-app='app')
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Apollo
		link(rel="stylesheet" href="/apollo/css/bootstrap.min.css")
		link(rel="stylesheet" href="/apollo/css/bootstrap-theme.min.css")
		link(rel="stylesheet" href="/apollo/css/font-awesome.min.css")
		link(rel="stylesheet" href="/apollo/css/sticky-footer-navbar.css")
		link(rel="stylesheet" href="/apollo/css/animation.css")
	body
		.navbar.navbar-default.navbar-fixed-top
			.container
				.navbar-header
					a.navbar-brand(href='/apollo/') Apollo
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
						span.icon-bar
						span.icon-bar
						span.icon-bar
				#navbar-main.navbar-collapse.collapse
					ul.nav.navbar-nav
						li
							a(href='/apollo/faq') Faq
						li
							a(href='/apollo/') Home
						li.dropdown
							a.dropdown-toggle(href="#", data-toggle="dropdown") 
								| Nodes
								b.caret
							ul.dropdown-menu
								li
									a(href="/apollo/node/1") Node 1
								li
									a(href="/apollo/node/2") Node 2
								li
									a(href="/apollo/node/3") Node 3
								li
									a(href="/apollo/node/4") Node 4
								li
									a(href="/apollo/node/5") Node 5
								li
									a(href="/apollo/node/6") Node 6
					ul.nav.navbar-nav.navbar-right
						li
							a(href='#', target='_blank') Login
		.container
			block main-content
		include scripts
		#footer
			.container
				p.text-muted &copy; 2014 CDC.	