doctype
html(lang="en" ng-app='apolloApp')
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title CDC Surveillance System Knowledgebase
		link(rel="stylesheet" href="/apollo/css/bootstrap.min.css")
		link(rel="stylesheet" href="/apollo/css/bootstrap-theme.min.css")
		link(rel="stylesheet" href="/apollo/css/font-awesome.min.css")
		link(rel="stylesheet" href="/apollo/css/sticky-footer-navbar.css")
		link(rel="stylesheet" href="/apollo/css/animation.css")
		link(rel="stylesheet" href="/apollo/css/custom.css")
	body
		.container-fluid
			// row1
			.row.headerblue
				.col-lg-7.col-md-7.col-sm-7.clearfix
					span.visible-lg.visible-md
						a(href='http://www.cdc.gov')
							img.img-responsive.pull-left.cdclogo(src='img/cdc_logo.png', alt='CDC logo')
						span.cdctext CDC Surveillance System Knowledgebase
						span.header_icon
							img(src='img/computer_icon.png', alt='computer icon')
					span.visible-sm
						a(href='http://www.cdc.gov')
							img.img-responsive.pull-left.cdclogo2(src='img/cdc_logo_smaller.png', alt='CDC logo')
						span.cdctext2 CDC Surveillance System Knowledgebase
				.col-lg-3.col-md-3.col-sm-3
					span.visible-lg.visible-md
						.input-group.search_button
							input.form-control(type='text')
							span.input-group-btn
								button.btn.btn-default(type='button') Search
						// /input-group
					span.visible-sm
						.input-group.search_button
							input.form-control(type='text')
							span.input-group-btn
								button.btn.btn-default(type='button') Search
						// /input-group
				.col-lg-2.col-md-2.col-sm-2.clearfix
					span.visible-lg.visible-md
						a(href='#')
							img.img-responsive.pull-left.settings_btn(src='img/settings_icon.png', alt='Settings')
						a(href='#')
							img.img-responsive.help_btn(src='img/help_icon.png', alt='Help')
					span.visible-sm
						a(href='#')
							img.img-responsive.pull-left.settings_btn2(src='img/settings_icon.png', alt='Settings')
						a(href='#')
							img.img-responsive.help_btn2(src='img/help_icon.png', alt='Help')
			// end 1st row
			// row 2 (navbar)
			.row
				nav.navbar.navbar-default.navbar-inner(role='navigation')
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='#collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
					#collapse.collapse.navbar-collapse
						ul.nav.navbar-nav.scootnav
							li.active
								a(href='#/home')
									span.glyphicon.glyphicon-home.custom_home  
									| Home
							li
								a(href='#/node/P1')
									span.glyphicon.glyphicon-dashboard.custom_explore  
									| Explore
							li
								a(href='#/faq')
									span.glyphicon.glyphicon-comment.custom_faqs.icon-flipped  
									| FAQs
						span.right_nav_content
							span.glyphicon.glyphicon-user.user_custom  
							| Welcome&comma; &commat;TimSmith37&NonBreakingSpace; &VerticalLine;
							a(href='#') Logout
							span.favorites_icon
								img(src='img/filled_circle_smaller.png', alt='Favorites')
								| Favorites
		// end row 2 (navbar)
		// new row
		.row
			.col-lg-9.col-md-9.col-sm-9
				.content_block
					.top_block
						block main-content
					// end top_block
					.carousel_controls
						| &lsqb;Placeholder for controls&rsqb;
					// end carousel controls
					.bottom_block
						| Live Statistics &lsqb;placeholder&semi; NEED to FIX alignment issues&rsqb;
					// end bottom_block
				// end content block
			// end col spec
			.col-lg-3.col-md-3.col-sm-3
				.sideblock
					.block1
						| Searching for information&quest; &lsqb;placeholder&rsqb;
					.block2
						| Do you work with&quest; &lsqb;placeholder&rsqb;
					.block3
						| Recent activity &lsqb;placeholder&rsqb;
				// end side block
			// end col spec
		// end row
		// start footer row
		.row.footerbottom
			// <div class="col-md-6">
			// share
			.share
				.share_corner
					span.share_text
						| Share site&colon;
						a(href='#')
							img(src='img/facebook_icon.png', alt='Share with Facebook')
						a(href='#')
							img(src='img/twitter_icon.png', alt='Share with Twitter')
						a(href='#')
							img(src='img/mail_icon.png', alt='Share with Email')
			// end share
			// </div> <!-- end column class
			// <div class="col-md-6">
			// links
			.bottom_links
				| Disability &NonBreakingSpace; &VerticalLine;&NonBreakingSpace;  Accessibility &NonBreakingSpace; &VerticalLine; &NonBreakingSpace; Code of Conduct &NonBreakingSpace; &VerticalLine; &NonBreakingSpace; Contact
				span.cdc_info
					| Centers for Disease Control and Prevention
		include scripts