script(type="text/javascript", src="/apollo/vendor/jquery/jquery.js")
script(type="text/javascript", src="/apollo/vendor/bootstrap/bootstrap.min.js")
script(type="text/javascript", src="/apollo/vendor/angular/angular.js")
script(type="text/javascript", src="/apollo/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/apollo/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/apollo/vendor/angular-animate/angular-animate.js")
script(type="text/javascript", src="/apollo/vendor/respondjs/respond.js")
script(type="text/javascript", src="/apollo/vendor/angular-ui-bootstrap/ui-bootstrap-tpls-0.10.0.min.js")
script(type="text/javascript", src="/apollo/vendor/d3/d3.min.js")
script(type="text/javascript", src="/apollo/vendor/chieffancypants/loading-bar.min.js")
script(type="text/javascript", src="/apollo/app/app.js")
script(type="text/javascript", src="/apollo/app/controllers/mainCtrl.js")
script(type="text/javascript", src="/apollo/app/controllers/faqCtrl.js")
script(type="text/javascript", src="/apollo/app/controllers/nodeCtrl.js")
script(type="text/javascript", src="/apollo/app/controllers/browseCtrl.js")
script(type="text/javascript", src="/apollo/app/controllers/searchCtrl.js")
script(type="text/javascript", src="/apollo/app/controllers/linkageCtrl.js")
script(type="text/javascript", src="/apollo/app/controllers/quickGuideCtrl.js")
script(type="text/javascript", src="/apollo/app/filters/unCamelCase.js")
script(type="text/javascript", src="/apollo/app/directives/ngEnter.js")