script(type="text/javascript", src="/apollo/vendor/jquery/jquery.js")
script(type="text/javascript", src="/apollo/vendor/bootstrap/bootstrap.min.js")
script(type="text/javascript", src="/apollo/vendor/angular/angular.js")
script(type="text/javascript", src="/apollo/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/apollo/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/apollo/vendor/angular-animate/angular-animate.js")
script(type="text/javascript", src="/apollo/vendor/angular-local-storage/angular-local-storage.js")
script(type="text/javascript", src="/apollo/vendor/respondjs/respond.js")
script(type="text/javascript", src="/apollo/vendor/angular-ui-bootstrap/ui-bootstrap-tpls-0.11.0.min.js")
script(type="text/javascript", src="/apollo/vendor/d3/d3.min.js")
script(type="text/javascript", src="/apollo/vendor/chieffancypants/loading-bar.min.js")
script(type="text/javascript", src="/apollo/vendor/underscore/underscore-min.js")
script(type="text/javascript", src="/apollo/vendor/angulartics/angulartics.js")
script(type="text/javascript", src="/apollo/vendor/angulartics/angulartics-ga.js")
script(type="text/javascript", src="/apollo/vendor/angulartics/angulartics-adobe.js")
script(type="text/javascript", src="/apollo/app/app.js")
script(type="text/javascript", src="/apollo/app/controllers/rootCtrl.js")
script(type="text/javascript", src="/apollo/app/controllers/mainCtrl.js")
script(type="text/javascript", src="/apollo/app/controllers/faqCtrl.js")
script(type="text/javascript", src="/apollo/app/controllers/nodeCtrl.js")
script(type="text/javascript", src="/apollo/app/controllers/browseCtrl.js")
script(type="text/javascript", src="/apollo/app/controllers/searchCtrl.js")
script(type="text/javascript", src="/apollo/app/controllers/linkageCtrl.js")
script(type="text/javascript", src="/apollo/app/controllers/quickGuideCtrl.js")
script(type="text/javascript", src="/apollo/app/filters/unCamelCase.js")
script(type="text/javascript", src="/apollo/app/filters/searchCheckFilter.js")
script(type="text/javascript", src="/apollo/app/directives/ngEnter.js")
script(type="text/javascript", src="/apollo/app/services/nodeAttributeDictionary.js")
script(type="text/javascript", src="/apollo/app/filters/startFromFilter.js")
script(type="text/javascript", src="/apollo/app/controllers/inTheLabCtrl.js")
script(type="text/javascript", src="/apollo/app/controllers/advancedSearchCtrl.js")
script.
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-51690401-1', {'cookieDomain': 'none'});
