.row
	.div(ng-class='getContentWidth()')
		.content_block
			span.visible-md.visible-lg
				.subnav
					ul.nav.nav-pills
						li
							a(href='#/quickGuide/') Quick Guide
						li
							a(href='#/browse/') Browse
						li
							a(href='#/search/') Search
						li
							a(href='#/advancedSearch/') Relationship Explorer
						li
							a(href='' class='inactive') Favorites
						li.active
							a(href='#/inTheLab/') In the Lab
				// end subnav
			span.visible-sm
				.subnav_sm
					ul.nav.nav-pills
						li
							a(href='#/quickGuide/') Quick Guide
						li
							a(href='#/browse/') Browse
						li.active
							a(href='#/search/') Search
						li
							a(href='#/advancedSearch/') Relationship Explorer
						li
							a(href='' class='inactive') Favorites
						li.active
							a(href='#/inTheLab/') In the Lab
				// end subnav
			.detail_header 
				.detail_header
					.detail_header_text_contain_lg
						.detail_header_text
							| Data Harmonization (Alpha)
					.share_button_linkage
						//These lines, 173 - 187, were added 
						//Single button 
						.btn-group
							button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
								span.glyphicon.glyphicon-share
								| &nbsp;Share &nbsp;&nbsp;
								span.caret
							ul.dropdown-menu(role='menu')
								li
									a(href='mailto:?subject=CDC iSurv Portal: Universal Viewer I&body={{uvBlurb}}') Email

								li
									a(href='' ng-click='share(["CDC iSurv Portal: Universal Viewer I: ", "#/inTheLab/inTheLabBundle"])' id='fb-root') Facebook

								li
									a(target='_blank' href='http://twitter.com/home?status=CDC iSurv Portal: Universal Viewer I: {{uvBlurb}}') Twitter
						//end added lines 
			.top_block_faq
				.vertical_spacing_less
				.row
					.col-lg-4.col-md-4.col-sm-4
						input(type="text" ng-model="firstDataset"  placeholder="Select a dataset" typeahead-on-select="setDataSet($item, $model, $label)" typeahead-min-length='3' typeahead="node.name for node in getDatasetNodes($viewValue)" class="form-control" ng-change="resetDataset()")
					.col-lg-4.col-md-4.col-sm-4
						input(type="text" ng-model="secondDataset"  placeholder="Select a second dataset" typeahead-on-select="setDataSet($item, $model, $label)" typeahead-min-length='3' typeahead="node.name for node in getDatasetNodes($viewValue)" class="form-control" ng-change="resetDataset()")
							
					.col-lg-4.col-md-4.col-sm-4
						button.btn.btn-success(ng-click='harmonize()') Harmonize
				.vertical_spacing_more
				.row
					.col-md-12.col-md-12.col-sm-12
						table.table
							thead
								tr
									th Dataset 1
									th Dataset 2 
									th Matched Columns
							tbody



	.div(ng-class='getSidebarWidth()')
		.hx_side(ng-show='!showSidebar' ng-click='toggleSidebar()')
			div(ng-Historybar)
			//- .blue_side
			//- 	.blue_side_text
			//- 		| Your Exploration History:
			//- 	.sidebar_now
			//- 		div.sidebar_repeat(ng-Historybar)
			.button_side
				.sidebar_button
					img(src='img/tab_button_collapse.png', alt='Collapse sidebar')   
		// end hx_side
		.hx_side(ng-show='showSidebar' ng-click='toggleSidebar()')
			.blue_side_expanded
			.button_side_expanded
				.sidebar_button
					img(src='img/tab_button_expand.png', alt='Expand sidebar')   
		// end hx_side   
// row