.row
	.div(ng-class='getContentWidth()')
		.content_block
			span.visible-md.visible-lg
				.subnav
					ul.nav.nav-pills
						li
							a(href='#/quickGuide/') Quick Guide
						li
							a(href='#/browse/') Browse
						li
							a(href='#/search/') Search
						li
							a(href='#/advancedSearch/') Relationship Explorer
						li
							a(href='' class='inactive') Favorites
						li.active
							a(href='#/inTheLab/') In the Lab
				// end subnav
			span.visible-sm
				.subnav_sm
					ul.nav.nav-pills
						li
							a(href='#/quickGuide/') Quick Guide
						li
							a(href='#/browse/') Browse
						li.active
							a(href='#/search/') Search
						li
							a(href='#/advancedSearch/') Relationship Explorer
						li
							a(href='' class='inactive') Favorites
						li.active
							a(href='#/inTheLab/') In the Lab
				// end subnav
			.detail_header 
				.detail_header
					.detail_header_text_contain_lg
						.detail_header_text
							| Universal Viewer: Ordered Alphabetically
					.share_button_linkage
						//These lines, 173 - 187, were added 
						//Single button 
						.btn-group
							button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
								span.glyphicon.glyphicon-share
								| &nbsp;Share &nbsp;&nbsp;
								span.caret
							ul.dropdown-menu(role='menu')
								li
									a(href='mailto:?subject=CDC iSurv Portal: Universal Viewer I&body={{uvBlurb}}') Email

								li
									a(href='' ng-click='share(["CDC iSurv Portal: Universal Viewer I: ", "#/inTheLab/inTheLabBundle"])' id='fb-root') Facebook

								li
									a(target='_blank' href='http://twitter.com/home?status=CDC iSurv Portal: Universal Viewer I: {{uvBlurb}}') Twitter
						//end added lines 
			// end detail header
			.top_block2
				img(src='img/ajax-loader.gif', alt='Content is Loading', ng-show='true', id='loadingImg')
				.block_edge
					.vertical_spacing1
						style.
							.nodeLab {
								font: 300 5px "Helvetica Neue", Helvetica, Arial, sans-serif;
								font-weight:700;
								fill: #bbb;
							}
							.nodeLab:hover {
								fill: #2a80b9;
								font-size: 12px;
								font-weight:700;
								// -webkit-filter: url(#highlight);
								// -moz-filter: url(#highlight);
							}
							.linkLab {
								stroke: #CCC;
								stroke-opacity: .4;
								fill: none;
								pointer-events: none;
							}

							.nodeLab--source,
							.nodeLab--target {
								
								font-size: 12px;
								font-weight:700;
								// -webkit-filter: url(#highlight);
								// -moz-filter: url(#highlight);
							}

							.nodeLab--source {
								fill: #626266;
							}

							.nodeLab--target {
								fill: #626266;
							}

							.linkLab--source,
							.linkLab--target {
								stroke-opacity: 1;
								stroke-width: 1.0;
							}
							.linkLab--source {
								stroke: #2a80b9;
							}
							.linkLab--target {
								stroke: #2a80b9;
							}
						script(type="text/javascript", src="/jupiter/app/d3/d3-edgebundle.js")
				// end block_edge
	.div(ng-class='getSidebarWidth()')
		.hx_side(ng-show='!showSidebar' ng-click='toggleSidebar()')
			div(ng-Historybar)
			//- .blue_side
			//- 	.blue_side_text
			//- 		| Your Exploration History:
			//- 	.sidebar_now
			//- 		div.sidebar_repeat(ng-Historybar)
			.button_side
				.sidebar_button
					img(src='img/tab_button_collapse.png', alt='Collapse sidebar')   
		// end hx_side
		.hx_side(ng-show='showSidebar' ng-click='toggleSidebar()')
			.blue_side_expanded
			.button_side_expanded
				.sidebar_button
					img(src='img/tab_button_expand.png', alt='Expand sidebar')   
		// end hx_side   
// row